#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.computeSystems'] /}

#{DataTable.header titleKey:'ComputeSystems.list.title' /}
#{DataTable.formAction @introspect(), id:'rediscoverForm', table:'computeSystems'/}
#{DataTable.formAction @registerComputes(), id:'registerForm', table:'computeSystems'/}
#{DataTable.formAction @deregisterComputes(), id:'deregisterForm', table:'computeSystems'/}


#{DataTable.crudTable id:'computeSystems',
                      dataTable:dataTable,
                      expandable: true,
                      actions: ['ComputeSystems.elements': @elements(':id')],
                      deleteData: ['enabled':'selected', 'property':'registrationStatus', 'value':'UNREGISTERED'],
                      deleteConfirm:messages.get('ComputeSystems.deleteConfirm')}
  #{Form.button name:'button.rediscover', class:'info', icon:'repeat', submit:'rediscoverForm',
                data:['enabled':'selected', 'property':'discoveryStatus', 'not-value':'IN_PROGRESS']/}
  #{Form.button name:'button.register', icon:'plus', submit:'registerForm', 
                data:['enabled':'selected', 'property':'registrationStatus', 'value':'UNREGISTERED']/}
  #{Form.button name:'button.deregister', icon:'plus', submit:'deregisterForm', 
                data:['enabled':'selected', 'property':'registrationStatus', 'value':'REGISTERED']/}
#{/DataTable.crudTable}
#{DataTable.expandHtml @itemDetails(':id'), table:'computeSystems' /}

<script type="text/javascript">
$(document).ready(function() {
    var dataTable = table.computeSystems.dataTable.getDataTable()
    var itemsJson = #{jsAction @itemsJson(':ids')/};
    watchDiscoveryStatus(dataTable, itemsJson, ['version', 'registrationStatus']);
});
</script>