#{extends 'main.html'/}

#{set navSelected: ['nav.assets', 'nav.storageArrays']/}
#{set 'title'}&{'exportPathPolicies.title'}#{/set}

#{DataTable.header titleKey:'exportPathPolicies.title'/}
#{DataTable.table id:'exportPathPolicy', 
                  dataTable:dataTable,
                  source:@exportPathPoliciesJson(),
                  expandable:true,
                  selectable:true}
  #{DataTable.buttonBar}
    #{Form.button name:'button.add', class:'success', icon:'plus', submit:'addForm'/}<!-- $("#createDialog").modal("show")'/} -->
    #{Form.button name:'button.delete', class:'danger', icon:'trash', submit:'removeForm', data:['enabled':'selected']/}
    #{Form.button name:'button.duplicate', class:'default', icon:'share', submit:'duplicateSubmit', data:['enabled':'selected', 'selection':'single'] /}
  #{/DataTable.buttonBar}
#{/DataTable.table}
#{DataTable.expandHtml @itemDetails(':id'), table:'exportPathPolicy' /}
#{DataTable.formAction @addExportPathPolicy(), id:'addForm', table:'exportPathPolicy', fields:formFields/}
#{DataTable.formAction @deleteExportPathPolicy(), id:'removeForm', table:'exportPathPolicy', fields:formFields/}
#{DataTable.formAction @duplicate(), id:'duplicateSubmit', table:'exportPathPolicy'/}

<script type="text/javascript">
function renderLink(o, val) {
	var data = o.aData;
    var url = #{jsAction @edit(':id')/};
    var href = url(data);
    return "<a href='"+href+"'>" + val + "</a>";
}
</script>