#{extends 'main.html'/}

#{set navSelected: ['nav.assets', 'nav.storageArrays']/}
#{set 'title'}&{'exportPathPolicies.title'}#{/set}

#{DataTable.header titleKey:'exportPathPolicies.title'/}
#{DataTable.table id:'exportPathPolicy', 
                  dataTable:dataTable,
                  source:@exportPathPoliciesJson(),
                  selectable:true}
  #{DataTable.buttonBar}
    #{Form.button name:'button.add', class:'success', icon:'plus', submit:'addForm'/}<!-- $("#createDialog").modal("show")'/} -->
    #{Form.button name:'button.delete', class:'danger', icon:'trash', submit:'removeForm', data:['enabled':'selected']/}
  #{/DataTable.buttonBar}
#{/DataTable.table}

#{DataTable.formAction @addExportPathPolicy(), id:'addForm', table:'exportPathPolicy', fields:formFields/}
#{DataTable.formAction @deleteExportPathPolicy(), id:'removeForm', table:'exportPathPolicy', fields:formFields/}

<!-- 
#{Modal.dialog id:'createDialog'}
  #{Modal.header}
    <h4 class="modal-title">&{'exportPathPolicy.create.title'}</h4> 
    &{'exportPathPolicy.create.description'}
  #{/Modal.header}
  #{form @addExportPathPolicy(), id:'exportPathPolicy', class:'form form-horizontal'}
    #{Modal.body}
      #{field 'name'}
        %{ field.label = messages.get('exportPathPolicy.name') }%
        #{Form.inputTextControlGroup field:field/}
      #{/field}
    #{/Modal.body}
    #{Modal.footer}
      #{Modal.buttonBar}
        #{Form.button 'button.done', class:'primary', icon:'ok-sign', type:'submit'/}
      #{/Modal.buttonBar}
    #{/Modal.footer}
  #{/form}
#{/Modal.dialog}

<script type="text/javascript">
$(document).ready(function() {
    $('#createDialog').on('shown.bs.modal', function(e) {
        $('#name').focus();
    });
    $('#createDialog').on('show.bs.modal', function(e) {
        $('#name').val('').trigger('change');
    });
    $('#name').on('change keydown keyup', function(e) {
        if (e.which != 10 && e.which != 13) {
          var value = $(this).val();
          $('#createDialog button.btn-primary').prop('disabled', 
                (value == null) || (value == '') || (value.trim() == ''));
        }
    });
});
</script> -->
<script type="text/javascript">
function renderLink(o, val) {
	
	var data = o.aData;
    var url = #{jsAction @edit(exportPathPolicyId)/};
    var href = url(data);
	
    return "<a href='"+href+"'>" + val + "</a>";
}
</script>