#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
    $(document).ready(function () {
        $copiesToKeep = $("#${util.ConfigProperty.BACKUP_SCHEDULER_COPIES}");
        $copiesToKeep.on('change', function () {
            checkIsZero(this.value);
        });
        $maxManualCopies = $("#${util.ConfigProperty.BACKUP_MAX_MANUAL_COPIES}");
        $maxManualCopies.on('change', function () {
            checkIsZero(this.value);
        });

        $selector_hour = $("#backup_scheduler_time_hour");
        for (var i = 0; i < 24; i++) {
            var hour = moment({hour: i});
            var utcTime = parseInt(moment.utc(hour.toDate()).format("HH"));
            var localTime = hour.format("HH");
            var $option = $("<option value=" + utcTime + ">" + localTime + "</option>");
            var time = ${flash[page.schedulerTime.name] ?: page.schedulerTime.value};
            var chosenHour = parseInt(time/100);
            if (chosenHour === utcTime) {
                $option.prop("selected", "selected");
            }
            $option.appendTo($selector_hour);
        }

        $selector_min = $("#backup_scheduler_time_min");
        for (var i = 0; i < 60; i++) {
            var minute = moment({minute: i});
            var utcTime = parseInt(moment.utc(minute.toDate()).format("mm"));
            var localTime = minute.format("mm");
            var $option = $("<option value=" + utcTime + ">" + localTime + "</option>");
            var time = ${flash[page.schedulerTime.name] ?: page.schedulerTime.value};
            var chosenMin = time%100;
            if (chosenMin === utcTime) {
                $option.prop("selected", "selected");
            }
            $option.appendTo($selector_min);
        }

        $backup_interval = $("#backup_scheduler_interval");
        $backup_interval_num = $("#backup_scheduler_interval_num");
        $backup_interval_num.val(parseInt($backup_interval.val()));
        $selector_interval = $("#backup_scheduler_interval_unit");
        var units = ["Day", "Week", "Month"];
        for (var i in  units) {
            var value = units[i].toLowerCase();
            var $option = $("<option value=" + value + ">" + units[i] + "</option>");
            if ($backup_interval.val().indexOf(value) > -1) {
                $option.prop("selected", "selected");
            }
            $option.appendTo($selector_interval);
        }
    });

    function setBackupSchedulerTime() {
        var $backup_time = $("#backup_scheduler_time");
        var offset = parseInt($selector_hour.val()) * 100 + parseInt($selector_min.val());
        $backup_time.val(offset);
        checkForm();
    }

    function setBackupSchedulerInterval() {
        var num = $backup_interval_num.val();
        if(num.substring(0, '0'.length) === '0') {
            var originNum = parseInt($backup_interval.val());
            $backup_interval_num.val(originNum);
            return;
        }
        var value = num + $selector_interval.val();
        $backup_interval.val(value);
        checkForm();
    }

    function checkIsZero(value) {
        if (value === '0') {
            alert("&{'configProperties.backup.setToZero'}");
        }

    }
</script>
#{/set}
#{ConfigProperties.property property:page.schedulerEnabled, disabled:unstable/}
%{
  property = page.schedulerTime
  id = property.name
  name = property.name
  label = property.label
  originalValue = property.value
  value = flash[name] ?: originalValue
  rebootRequired = property.rebootRequired
  description = property.description
  disabled:unstable;
}%
#{set 'error'}#{error name /}#{/set}

<div id="${id}ControlGroup" class="form-group">
    <label class="control-label col-sm-3" for="${id}">${label}:</label>

    <div class="col-sm-6 controls">
        <div class="row col-gap-sm">
            <input id="${id}" type="hidden" name="${name}" value="${originalValue}" data-originalvalue="${originalValue}">
            <div class="col-md-6">
                <select id="${id}_hour" class="form-control" onchange="setBackupSchedulerTime()"></select>
            </div>
            <div class="col-md-6">
                <select id="${id}_min" class="form-control" onchange="setBackupSchedulerTime()"></select>
            </div>
            <div class="col-sm-12">#{if description}<p class="help-block clear">${description}</p>#{/if}</div>
        </div>
    </div>

    <div class="col-sm-3">
        <span class="help-inline clearfix">${error}</span>
    </div>
</div>

%{
property = page.schedulerInterval
id = property.name
name = property.name
label = property.label
originalValue = property.value
value = flash[name] ?: originalValue
rebootRequired = property.rebootRequired
description = property.description
disabled:unstable;
}%
<div id="${id}ControlGroup" class="form-group">
    <label class="control-label col-sm-3" for="${id}">${label}:</label>

    <div class="col-sm-6 controls">
        <div class="row col-gap-sm">
            <input id="${id}" type="hidden" name="${name}" value="${originalValue}" data-originalvalue="${originalValue}">
            <div class="col-md-6">
                <input-text v-field="${id}_num" style="vertical-align: top"
                            onkeyup="setBackupSchedulerInterval()"></input-text>
            #{if description}<p class="help-block clear">${description}#{if rebootRequired} <span
                    class="text-danger">&{'configProperties.rebootRequired'}</span>#{/if}</p>#{/if}
            </div>
            <div class="col-md-6">
                <select id="${id}_unit" class="form-control" onchange="setBackupSchedulerInterval()">
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <span class="help-inline clearfix">${error}</span>
    </div>
</div>

#{ConfigProperties.property property:page.copiesToKeep, disabled:unstable/}
#{ConfigProperties.property property:page.maxManualCopies, disabled:unstable/}
#{ConfigProperties.property property:page.externalLocationUrl, disabled:unstable/}
#{ConfigProperties.property property:page.externalLocationUsername, disabled:unstable/}
#{ConfigProperties.property property:page.externalLocationPassword, disabled:unstable/}