#{ConfigProperties.property property:page.meteringEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.meteringInterval, disabled:unstable/}
#{ConfigProperties.property property:page.meteringCollectionType, disabled:unstable/}
#{ConfigProperties.property property:page.monitoringEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.mdsCloneZoneset, disabled:unstable/}
#{ConfigProperties.property property:page.mdsAllowZonesetCommit, disabled:unstable/}

#{ConfigProperties.propertyList properties:page.properties, disabled:unstable/}
