#{ConfigProperties.property property:page.discoveryEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.arrayDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.fabricDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.computeSystemDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.scanEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.scanInterval, disabled:unstable/}
#{ConfigProperties.property property:page.cimConnectionTTL, disabled:unstable/}
#{ConfigProperties.propertyList properties:page.properties, disabled:unstable/}
