#{ConfigProperties.property property:page.discoveryEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.arrayDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.fabricDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.computeSystemDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.vblockComputeSystemDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.scanEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.scanInterval, disabled:unstable/}
#{ConfigProperties.property property:page.arrayAffinityDiscoveryEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.arrayAffinityDiscoveryInterval, disabled:unstable/}
#{ConfigProperties.property property:page.cimConnectionTTL, disabled:unstable/}
#{ConfigProperties.property property:page.discoveryThreads, disabled:unstable/}
#{ConfigProperties.property property:page.arrayDiscoveryRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.fabricDiscoveryRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.computeSystemDiscoveryRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.vblockComputeSystemDiscoveryRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.scanRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.arrayAffinityDiscoveryRefreshInterval, disabled:unstable/}
#{ConfigProperties.property property:page.timeTolerance, disabled:unstable/}
#{ConfigProperties.propertyList properties:page.properties, disabled:unstable/}
