#{ConfigProperties.property property:page.imageServer, disabled:unstable/}
#{ConfigProperties.property property:page.networkServer, disabled:unstable/}
#{ConfigProperties.property property:page.username, disabled:unstable/}
#{ConfigProperties.property property:page.password, disabled:unstable/}
#{ConfigProperties.property property:page.tftpbootDirectory, disabled:unstable/}

#{if page.properties}
  #{ConfigProperties.propertySet}
    #{ConfigProperties.propertyList properties:page.properties, disabled:unstable/}
  #{/ConfigProperties.propertySet}
#{/if}
