#{extends 'main.html'/}
#{set navSelected: ['nav.security', 'nav.localPasswords'] /}
#{set 'title'}&{'configProperties.title'}#{/set}
#{script 'PasswordValidator.js'/}

#{if clusterInfo}
    #{set 'moreScripts'}
    #{get 'moreScripts'/}
    <script type="text/javascript">
    function showPwValidRules(){
    	if($('#clusterInfo').length > 0){
    		$('#alerts_info').hide();
    	}else{
    		$('#alerts_info').show();
    	 	if($('#alerts_info .message').html() == ''){
    	 		$.post("@{getPasswordValidPromptRule}",function(result) {
       	 			$('#alerts_info .message').append(result);
       	 		});
    	 	}
    	}
     }
    $(document).ready(function() {
    	render.clusterStatus('#clusterState', $('#clusterState').data('state'));
    	showPwValidRules();
    	validatePasswordStrength('password','@{validatePasswords}','${session.authenticityToken}');
    	validateConfPwField('password','passwordConfirm');
    });
    </script>
    #{/set}
#{/if}

<div class="container">
  #{Form.header titleKey:'configProperties.changePassword' /}
  #{alerts/}
  %{ unstable = clusterInfo?.isNotStable() }%
  #{if unstable}
    <div id="clusterInfo" class="alert alert-info">
      <span id="clusterState" data-state="${clusterInfo.currentState}" style="margin-right: 1em;"></span>
      &{'configProperties.passwordChange.clusterNotStable'}
    </div>
  #{/if}

    <div class="alert alert-warning">
      #{icon 'warning-sign' /}
      &{'configProperties.passwordChange.warning'}
    </div>
  
  #{form @changePassword(), class:'form form-horizontal', autocomplete:"off"}
    #{field 'user'}
      %{
        field.options = [
          1: 'root',
          2: 'svcuser',
          3: 'proxyuser',
          4: 'sysmonitor'
        ]
        field.cssClass = 'span3';
        field.valueType = String.class;
        field.valueProperty = 'value';
        field.labelProperty = 'value';
        field.disableSearch = true;
      }%
      #{Form.selectOneControlGroup field:field, options:options /}
    #{/field}
    #{field "password"}
      %{ 
        field.required = true
        field.cssClass = 'span4'
      }%
      #{Form.inputPasswordControlGroup field:field /}
    #{/field}
    #{field "passwordConfirm"}
      %{ 
        field.required = true
        field.cssClass = 'span4'
      }%
      #{Form.inputPasswordControlGroup field:field /}
    #{/field}
    
    #{Form.buttonBar}
      <button type="submit" class="btn btn-primary btn-large" #{if unstable}disabled="disabled"#{/if}>#{icon 'ok-sign'/} &{'button.save'}</button>
    #{/Form.buttonBar}    
  #{/form}
</div>