#{set isActiveSite:controllers.infra.DisasterRecovery.isActiveSite() /}

#{if isActiveSite }
#{ConfigProperties.property property:page.firewallEnabled, disabled:unstable/}
#{ConfigProperties.property property:page.sslCertificate, disabled:unstable/}
#{ConfigProperties.property property:page.authLoginAttempts, disabled:unstable/}
#{ConfigProperties.property property:page.authLockoutTime, disabled:unstable/}
#{ConfigProperties.property property:page.tokenLifeTime, disabled:unstable/}
#{ConfigProperties.property property:page.tokenIdleTime, disabled:unstable/}
#{ConfigProperties.property property:page.ldapConnectionTimeout, disabled:unstable/}

#{ConfigProperties.propertySet titleKey:'configProperties.sshKeys'}
  #{ConfigProperties.property property:page.rootSshKeys, disabled:unstable/}
  #{ConfigProperties.property property:page.svcuserSshKeys, disabled:unstable/}
#{/ConfigProperties.propertySet}
#{/if}
#{if page.properties}
  #{ConfigProperties.propertySet}
    #{ConfigProperties.propertyList properties:page.properties, disabled:unstable/}
  #{/ConfigProperties.propertySet}
#{/if}
