<div class="bfh-datepicker" data-format="y-m-d">
  <div class="input-group bfh-datepicker-toggle" data-toggle="bfh-datepicker">
    <span class="input-group-addon"><span v-icon="calendar"></span></span>
    <!-- TODO remove readonly="readonly", should confirm no impact -->
    <input class="form-control" type="text">
  </div>
  <div class="bfh-datepicker-calendar">
    <table class="calendar table table-bordered">
      <thead>
        <tr class="months-header">
          <th class="month" colspan="4">
            <a class="previous" href="#"><span v-icon="chevron-left"></span></a>
            <span></span>
            <a class="next" href="#"><span v-icon="chevron-right"></span></a>
          </th>
          <th class="year" colspan="3">
            <a class="previous" href="#"><span v-icon="chevron-left"></span></a>
            <span></span>
            <a class="next" href="#"><span v-icon="chevron-right"></span></a>
          </th>
        </tr>
        <tr class="days-header"></tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>