<b>&{'upgrade.clusterState'}:</b>
    <span id="clusterState" data-state="${clusterInfo.currentState}"></span>
    #{if isWorking}
        &nbsp;&nbsp;#{loading /}
    #{/if}
<div>&nbsp;</div>
#{if newVersions.size() > 0}
    <div class="alert alert-info">
        &{'upgrade.newVersionAvailable', newVersions[0]}
    </div>
#{/if}

#{if isDownloading}
<div id="downloadProgress">
    <form class="form" method="GET" action="@{cancelDownload()}" onsubmit="return confirmCancel()">
        <button id="cancelButton" type="submit" class="btn btn-primary btn-sm btn-danger"  style="margin-bottom: 0px">
            #{icon 'cancel'/} &{'upgrade.cancelDownload'}
        </button>
    </form>
<br/>

#{Form.subheader titleKey:"upgrade.downloadProgress", descriptionKey:"upgrade.downloadProgress.description"/}
    #{set i:0 /}
    #{list items:downloadStatus.entrySet(), as:'siteEntry'}
        <b>${siteEntry.getKey()}</b>
        <table class="download-progress-table">
            #{list items:siteEntry.getValue().entrySet(), as:'nodeEntry'}
                #{set progressBarId:'site'+i+'-'+nodeEntry.getKey() /}
                <tr>
                    <td>Node ${nodeEntry.getKey()}&nbsp;</td>
                    <td width="300">
                        %{
                            style = "success"
                            if (nodeEntry.getValue().isErrorStatus()) {
                                style="danger"
                            }
                        }%

                        #{progressBar name:progressBarId, percentage:nodeEntry.getValue().percent, style:style/}
                    </td>
                    <td>
                        <span id="download-status-${progressBarId}">
                            #{if nodeEntry.getValue().isErrorStatus()}
                                #{if nodeEntry.getValue().status.equals("CHECKSUMERROR")}
                                    &{'upgrade.downloadChecksumError'}
                                #{/if}
                                #{elseif nodeEntry.getValue().status.equals("DOWNLOADERROR")}
                                    &{'upgrade.downloadError'}
                                #{/elseif}
                            #{/if}
                        </span>
                    </td>
                </tr>
            #{/list}
        </table>
        #{set i:i+1 /}
    #{/list}
</div>
#{/if}

#{elseif isStable}
  #{if repositoryVersions?.size() >= 4}
        <div class="alert alert-warning">&{'upgrade.tooMany'}</div>
  #{/if}
 #{if newVersions.size() <= 0}
    <div class="alert alert-info">&{'upgrade.noVersions'}</div>
 #{/if}

   	  %{
   	  	isRepoVersionIsInstalled = false;
   	  	len = repositoryVersions.size();
   	  	if(repositoryVersions.get(len-1) == clusterInfo.targetState.current){
   	  		isRepoVersionIsInstalled = true;
   	  		
   	  	}
   	  }% 
  #{if (!isRepoVersionIsInstalled || newVersions.size() > 0) }
  #{set stepIndex:1 /}
  <legend>&{'upgrade.steps'}</legend>
  	<form id=backup action="@{Backup.create()}" onsubmit="return true">
  	<div class="text"><b>${stepIndex}.&nbsp;&{'upgrade.backupDB'}</b>
		<button type="submit" class="btn btn-primary btn-sm" >&{'upgrade.backup'}</button>
  	</div>
  	</form>
    #{set stepIndex:stepIndex + 1 /}
  	<br/>
  	<form id=checkDB action="@{checkDbStatus()}" onsubmit="return true">
  	<div class="text"><b>${stepIndex}.&nbsp;&{'upgrade.checkDB'}</b>
		<button type="submit" class="btn btn-primary btn-sm" >&{'upgrade.check'}</button>
  	</div>
  	</form>
    #{set stepIndex:stepIndex + 1 /}
  	<br/>
  	#{if newVersions.size() > 0}
  	<form class="form form-horizontal" method="GET" action="@{downloadImage()}" onsubmit="downloadImage(); return true" id="downloadImage" style="margin:0px"> 
    <div class="text"><b>${stepIndex}.&nbsp;&{'upgrade.downloadNew'}</b>
      <span class="text">
        <select id="downloadImageVersion" name="version" style="margin-bottom: 0px">
          #{list items:newVersions, as:'version'}
            <option value="${version}">${version}</option>
          #{/list}
        </select>
        <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom: 0px">
          #{icon 'download'/} &{'upgrade.downloadImage'}
        </button>
      </span>
    </div>
    </form>
    #{set stepIndex:stepIndex + 1 /}
    <br/>
    #{/if}
    #{if util.DisasterRecoveryUtils.hasAnyStandbySite()}
        <form id=pauseStandby action="@{infra.DisasterRecovery.pauseResume()}" onsubmit="return true">
            <div class="text"><b>${stepIndex}.&nbsp;&{'upgrade.pauseStandbySite'}</b>&nbsp;
                <a id="pause_why" data-toggle="tooltip" data-html="true" data-placement="right" title="<p align='left'>&{'upgrade.whyPauseStandbySiteText'}</p>">&{'upgrade.whyPauseStandbySite'}</a>
                <button type="submit" class="btn btn-primary btn-sm" >&{'upgrade.pause'}</button>
            </div>
        </form>
        #{set stepIndex:stepIndex + 1 /}
        <br/>
    #{/if}
    <div class="text"><b>${stepIndex}.&nbsp;&{'upgrade.installRemove'}</b></div>
    #{set stepIndex:stepIndex + 1 /}
  <br/>
  #{/if}
  #{else}
    <legend>&{'upgrade.installedImages'}</legend>
    <br/>
  #{/else}


<table class="table table-striped">
  #{list items:repositoryVersions, as:'repositoryVersion'}
    <tr>
       <td width="200em">${repositoryVersion}</td>
    <td>
      #{if repositoryVersion.equals(clusterInfo.targetState.current)}
        &nbsp;Current Version
      #{/if}
      *{ Safer to only allow operations if we're actually in a STABLE state }*
        #{if isStable}

            #{if !repositoryVersion.equals(clusterInfo.targetState.current)}
              <button name="install" type="button" class="btn btn-info btn-sm" onclick="installImage('${repositoryVersion}');">#{icon 'off'/} &{'upgrade.install'}</button>
              <button name="remove" type="button" class="btn btn-danger btn-sm" onclick="removeImage('${repositoryVersion}');">#{icon 'trash'/} &{'upgrade.remove'}</button>
            #{/if}
        #{/if}
        #{else}
            &nbsp;
        #{/else}
      </td>
    </tr>
  #{/list}
</table>

#{if util.DisasterRecoveryUtils.hasPausedSite()}
    <form id=resumeStandby action="@{infra.DisasterRecovery.pauseResume()}" onsubmit="return true">
        <img class="glyphicon glyphicon-ok" src="/public/img/Warning.png">&nbsp;<span style="color: red">&{'disasterRecovery.pausedSiteWarning'}</span><br>
        <button type="submit" class="btn btn-primary btn-sm" >&{'upgrade.resume'}</button>
    </form>
#{/if}
#{/elseif}
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

    startStatusChecks("${clusterState}");

    function confirmCancel() {
        if (confirm("&{'upgrade.cancelDownloadConfirm'}")) {
            $("#downloadProgress").hide();

            return true;
        }

        return false;
    }

    #{if isDownloading}
        startDownloadStatusUpdates();
    #{/if}

    function startDownloadStatusUpdates(currentStatus) {
        window.setInterval(function() {
            downloadProgressUpdate(currentStatus)
        }, 6000); // Check every 6 seconds
    }

    var downloadProgress = #{jsAction @downloadProgress() /}
    function downloadProgressUpdate() {
        $.ajax({
            method: "get",
            url: downloadProgress(),
            dataType: "json",
            timeout: (30 * 1000), // 30 sec timeout

            success: function(siteProgress) {
                var downloadFinished = true;
                var index = 0;
                $.each(siteProgress, function(siteId, percent) {
                    $.each(percent, function(nodeId, downloadStatus) {
                        var progressBarId = 'site' + index + '-' + nodeId;
                        updateProgressBar(progressBarId, downloadStatus.percent);
                        if (downloadStatus.percent != 100) {
                            downloadFinished = false;
                        }

                        if (!(downloadStatus.status == "NORMAL" || downloadStatus.status == "COMPLETED")) {
                            updateProgressBarStyle(progressBarId, "danger")

                            if (downloadStatus.status == "DOWNLOADERROR") {
                                $("#download-status-"+progressBarId).text('&{'upgrade.downloadError'}');
                            }
                            else if (downloadStatus.status == "CHECKSUMERROR") {
                                $("#download-status-"+progressBarId).text('&{'upgrade.downloadChecksumError'}');
                            }
                        }
                    });

                    // as soon as the active site finishes downloading, hide the cancel button
                    if (downloadFinished && index == 0) {
                        $("#cancelButton").hide();
                    }
                    index = index + 1;
                });

                if (downloadFinished) {
                    setTimeout(goToIndex, 1000);
                }
            },
            error: function() {
            }
        });
    }
    function goToIndex(){
    	window.location.href ="@{index()}";
    }

</script>
