%{
storageSystems = _caller.storageSystems;
currentStorageSystemId = _caller.currentStorageSystem;
}%
#{if storageSystems?.size() > 1}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#storageSystemId').on('change', switchStorageSystems);
        });

        function switchStorageSystems() {
            $("#selectStorageSystemForm").submit();
        }
    </script>
    #{form @arrays.StorageSystemSelector.selectStorageSystem(), id:'selectStorageSystemForm', action:'post', class:'form form-inline'}
      <input type="hidden" name="url" value="${request.url}"/>
      <div class="well well-sm">
        #{Form.selectStorageSystem storageSystems:storageSystems, selectedStorageSystem:currentStorageSystemId/}
        #{doBody /}
      </div>
    #{/form}
#{/if}