<div ng-controller="tabController" ng-repeat="workflowTab in workflowTabs" class="tab-pane" id="{{workflowTab.id}}">
    <div class="buttonbar">

        <input id="Export" type="button" class="btn btn-default" value="Export" ng-click="buildJSON();" />
        <input id="Import" type="button" class="btn btn-default" value="Import" ng-click="loadJSON();" />
        <input id="reset" type="button" class="btn btn-default" value="reset" ng-click="reset();" />

    </div>
    <div class="builder-container">
        #{workflowDesignerMenu/}
        <div id="sb-site" class="exampleEditor">
            <div class="row">
                <div class="col s12" style="padding: 0 !important;">
                    <div class="parent">
                        <div id="diagramContainer" class="jsPlumb-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>