<div class="side-container">
    <button class="slider-button" ng-class="{'slider-open':menuOpen}" ng-click="toggleMenu();">
        <span ng-class="{'glyphicon-chevron-left':!menuOpen,'glyphicon-chevron-right':menuOpen}" class="glyphicon"></span>
    </button>
    <div id="sliderMenu">
        <a type="button" ng-disabled="!selectedId" class="btn btn-lg" ng-click="openPage(0);">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a type="button" class="btn btn-lg" ng-click="openPage(1);">
            <span class="glyphicon glyphicon-list"></span>
        </a>
    </div>
    <div id="mySidenav" ng-class="{'sidenav-open':menuOpen}" class="sidenav">
        <a class="closebtn" ng-click="closeMenu()">&times;</a>
        <div id="stepInputPage" ng-if="activePage==0">
            <h3>Edit Inputs/Outputs</h3>
            <h4>{{stepData.id}}</h4>
            <p>{{stepData.description}}</p>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                	<ul class="nav nav-tabs">
                    	<li class="active"><a href="#tab1default" data-toggle="tab">Input</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Output</a></li>
                	</ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                        	<div ng-repeat="inputParam in stepData.inputGroups.input_params">
                        		<div ng-repeat="input in inputParam">
                        			<collapse title-key={{input.name}}>
                        				<control-group class="col-md-6" v-field='input.friendlyName'>
                        					<input-text></input-text>
          								</control-group>
   										<control-group v-field="input.required">
											<boolean-checkbox v-default-value="false"></boolean-checkbox>
  										</control-group>
 										<control-group v-field="input.type">
                        					<select-one options="UserInputTypeOption" auto-default v-disabled='locked'></select-one>
                        				</control-group>
                        				<control-group v-field="input.stepInput" ng-if="input.type=='FromOtherStepInput'">
                        					<select-one options="stepInputOptions" auto-default v-disabled='locked'></select-one>
                        				</control-group>
                        				<control-group v-field="input.stepOutput" ng-if="input.type=='FromOtherStepOutput'" >
                        					<select-one options="stepOutputOptions" auto-default v-disabled='locked'></select-one>
                        				</control-group>
                        				<control-group v-field="input.assetOption" ng-if="input.type=='AssetOption'" >
                        					<select-one options="AssetOptionTypes" auto-default v-disabled='locked'></select-one>
                        				</control-group>
  										<control-group v-field="input.defaultValue" ng-if="input.type=='InputFromUser'">
                        					<input-text></input-text>
                        				</control-group>
                        				<control-group v-field='input.inputFieldType' ng-if="input.type=='InputFromUser'">
                        					<select-one options="InputFieldOption" auto-default v-disabled='locked'></select-one>
                        				</control-group>
                        				<control-group v-field='input.tableName' ng-if="input.inputFieldType=='Table'">
                        					<input-text></input-text>
          								</control-group>
          							</collapse>
                        		</div>
                        	</div>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                        	<div ng-repeat="output in stepData.output">
                        		<collapse title-key={{output.name}}>
                        			<control-group v-field="output.name">
            							<label>{{output.name}}</label>
          							</control-group>
          						</collapse>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stepListPage" ng-show="activePage==1">
            <h3>Add Steps to Workflow</h3>
            <div ng-controller="treeController" id="theSidebar" class="sidebar" ng-init="initializeTreeConfig(false)">
                <input type="hidden" >
                <div>
                    <input class="search-input form-control" placeholder="search..."></input>
                </div>
                <div id="jstree_demo" >
                </div>
            </div>
        </div>
    </div>
</div>