<div class="buttonbar">
    <input id="Export" type="button" value="Export" ng-click="buildJSON();" />
    <input id="Import" type="button" value="Import" ng-click="loadJSON();" />
    <input id="reset" type="button" value="reset" ng-click="reset();" />
</div>
<div id="sb-site" class="exampleEditor">
    <div class="row">
        <div class="col s12" style="padding: 0 !important;">
            <div class="parent">
                <div id="diagramContainer" class="jsPlumb-container"></div>
            </div>
        </div>
    </div>
</div>