#{extends 'main.html' /}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.workflowBuilder'] /}

#{script 'jquery.panzoom.js'/}
#{script 'jquery-ui.js'/}
#{script 'jsPlumb-2.1.7.js'/}
#{script 'workflowbuilder.js'/}
#{script 'jstree.min.js'/}
#{createShellPrimitive /}
#{createLocalAnsiblePrimitive ansibleResourceNames/}

<style>
    .dl-horizontal dt
    {
        text-align: left;
        padding-bottom: 10px;
    }
    .dl-horizontal dd
    {
        padding-bottom: 10px;
    }
    .modal-body {
        height:250px;
        overflow:auto;
    }
    .modal-footer {
        border-top: none;
    }
</style>

<div id="builderController" ng-controller="builderController" class="row">
    <div class="builder-column">
        <ul id="wftabs" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab" data-id="home"><span class="glyphicon glyphicon-home "></span>&nbsp;Workflow Library</a></li>
            <li ng-repeat="workflowTab in workflowTabs" class=""><a href="{{workflowTab.href}}" role="tab" data-toggle="tab">{{workflowTab.name}}<button class="close" ng-click="closeTab(workflowTab.elementid)" type="button" title="Close tab"><span aria-hidden="true">&times;</span></button></a></li>
        </ul>

        <div class="tab-content">
            <div ng-controller="treeController" class="tab-pane active" id="home">
                #{alerts/}
                <div class="col-md-3">
                    <div id="theSidebar" class="home-sidebar" >
                        <div class="tree_buttons" style="padding-bottom: 10px; padding-top: 10px;padding-right: 10px;float: right">
                            <button id="addFolder" type="button" class="btn btn-xs btn-primary add" value="Add Folder" title="Add Folder" ng-click="addFolder();" disabled>
                                <span class="glyphicon glyphicon-folder-close "></span>
                            </button>
                            <div class="btn-group">
                                <button id="addWorkflow" type="button" class="btn btn-xs btn-success dropdown-toggle" value="Add Primitive" title="Add Primitive/Workflow" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a  href="#" ng-click="addWorkflow();">Workflow</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Primitives</li>
                                    <li><a  href="#" ng-click="openShellScriptModal();">Shell Script</a></li>
                                    <li><a  href="#" ng-click="openLocalAnsibleModal();">Local Ansible</a></li>
                                    <li><a  href="#">REST API</a></li>
                                </ul>
                            </div>
                            <button id="deleteNode" type="button" class="btn btn-xs btn-danger delete" value="Delete" title="Delete" ng-click="deleteNode();" disabled>
                                <span class="glyphicon glyphicon-trash "></span>
                            </button>
                            <button id="editNode" type="button" class="btn btn-xs btn-warning edit" value="Edit" title="Edit" ng-click="editNode();" disabled>
                                <span class="glyphicon glyphicon-pencil "></span>
                            </button>
                            <button id="previewWorkflow"  type="button" class="btn btn-xs btn-default info" value="Preview" title="Preview" disabled>
                                <span class="glyphicon glyphicon-eye-open "></span>
                            </button>
                            <button id="openEditor"  type="button" class="btn btn-xs btn-default info" value="Open" title="Open" ng-click="openWorkflow()" disabled>
                                <span class="glyphicon glyphicon-new-window "></span>
                            </button>
                        </div>
                        <div>
                            <input class="search-input form-control" placeholder="search..."></input>
                        </div>
                        <div style="overflow: auto; height:90%; padding: 10px;">
                            <div id="jstree_demo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="height:80vh; border:1px solid #000; padding:20px;">
                        <div ng-show="shellPreview">
                            <dl class="dl-horizontal">
                                <!--TODO: Remove this temporary data.-->
                                <dt>Name:</dt>
                                <dd>My Shell Script1</dd>
                                <dt>Description:</dt>
                                <dd>My shell script description</dd>
                                <dt>Type:</dt>
                                <dd>Shell Script</dd>
                                <dt>Inputs:</dt>
                                <dd>input1, input2</dd>
                                <dt>Outputs:</dt>
                                <dd>output1, output2</dd>
                            </dl>
                        </div>
                        <div ng-show="noPreview">
                            No Preview
                        </div>
                    </div>
                    <div style="padding:10px;">
                        <p><strong>My Workflow description</strong><br>Updated on 10/10/10</p>
                    </div>
                </div>
            </div>
            #{workflowDesigner/}
        </div>
    </div>
</div>