#{extends 'main.html' /}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.workflowBuilder'] /}

#{script 'jquery.panzoom.js'/}
#{script 'jquery-ui.js'/}
#{script 'jsPlumb-2.1.7.js'/}
#{script 'workflowbuilder.js'/}
#{script 'jstree.min.js'/}
#{createShellPrimitive /}
#{createLocalAnsiblePrimitive ansibleResourceNames/}

<style>
    .dl-horizontal dt
    {
        text-align: left;
        padding-bottom: 10px;
    }
    .dl-horizontal dd
    {
        padding-bottom: 10px;
    }
    .modal-body {
        height:250px;
        overflow:auto;
    }
    .modal-footer {
        border-top: none;
    }

    .jstree-anchor {
        width: 350px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .dropdown-menu {
        min-width: 0px !important;
    }

</style>

<div id="builderController" ng-controller="builderController" class="row">
    <div class="builder-column">
        <ul id="wftabs" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab" data-id="home"><span class="glyphicon glyphicon-home "></span>&nbsp;Workflow Library</a></li>
            <li ng-repeat="workflowTab in workflowTabs" class=""><a href="{{workflowTab.href}}" role="tab" data-toggle="tab">{{workflowTab.name}}<button class="close" ng-click="closeTab(workflowTab.elementid)" type="button" title="Close tab"><span aria-hidden="true">&times;</span></button></a></li>
        </ul>

        <div class="tab-content">
            <div ng-controller="treeController" class="tab-pane active" id="home" ng-init="initializeTreeConfig(true)">
                #{alerts/}
                <div class="col-md-5">
                    <div id="theSidebar" class="home-sidebar" >
                        <div class="input-group">
                            <input style="float:left;width:200px;margin-right:10px;"  class="search-input form-control" placeholder="Search..."></input>
                            <input style="width:200px;" class="form-control" placeholder="Filter By"></input>
                            <span class="input-group-btn">
                                <div class="btn-group" >
                                    <button id="addWorkflow" type="button" class="btn btn-xs btn-success dropdown-toggle" title="Add" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a  href="#" ng-click="addFolder();">Folder</a></li>
                                        <li><a  href="#" ng-click="addWorkflow();">Workflow</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Primitives</li>
                                        <li><a  href="#" ng-click="openShellScriptModal();">Shell Script</a></li>
                                        <li><a  href="#" ng-click="openLocalAnsibleModal();">Local Ansible</a></li>
                                        <li><a  href="#">REST API</a></li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                        <div style="overflow: auto; height:90%; padding: 10px;overflow-x: hidden;">
                            <div id="jstree_demo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div style="height:80vh; border:1px solid #000; padding:20px;">
                        <div ng-show="shellPreview">
                            <dl class="dl-horizontal">
                                <!--TODO: Remove this temporary data.-->
                                <dt>Name:</dt>
                                <dd>My Shell Script1</dd>
                                <dt>Description:</dt>
                                <dd>My shell script description</dd>
                                <dt>Type:</dt>
                                <dd>Shell Script</dd>
                                <dt>Inputs:</dt>
                                <dd>input1, input2</dd>
                                <dt>Outputs:</dt>
                                <dd>output1, output2</dd>
                            </dl>
                        </div>
                        <div ng-show="noPreview">
                            No Preview
                        </div>
                    </div>
                    <div style="padding:10px;">
                        <p><strong>My Workflow description</strong><br>Updated on 10/10/10</p>
                    </div>
                </div>
            </div>
            #{workflowDesigner/}
        </div>
    </div>
</div>