#{extends 'main.html'/}
#{set navSelected: ['nav.tenantsettings', 'nav.tenants'] /}
#{set isKeystoneAuthnProviderCreated:controllers.tenant.Tenants.isKeystoneAuthnProviderCreated() /}

#{DataTable.header titleKey:'tenants.list.title' /}

#{deadbolt.restrict roles:[['SECURITY_ADMIN']]}
  #{DataTable.crudTable id:'tenants', 
                        dataTable:dataTable, 
                        actions: ['Tenants.roleAssignments': @listRoles(':id')],
                        deleteConfirm:messages.get('tenants.deleteConfirm')}
    #{if isKeystoneAuthnProviderCreated}
         #{Form.button name:'button.synchronize', class:'success', action:'$("#synchronizeOSTenants").modal()'/}
    #{/if}
  #{/DataTable.crudTable}
#{/deadbolt.restrict}

#{deadbolt.restrict roles:[['!SECURITY_ADMIN']]}
    #{DataTable.baseCrudTable id:'tenants',
    dataTable:dataTable,
    actions: ['Tenants.roleAssignments': @listRoles(':id')],
    disableSelectable:true/}
#{/deadbolt.restrict}

#{include 'tenant/Tenants/synchronizeOSTenants.html'/}
