#{DataTable.formActionForTwoTables @synchronizeOSTenants(), id:'synchronizeForm',
  tableWithTenantsToAdd:'osTenantsToAdd', tableWithTenantsToRemove:'osTenantsToRemove'/}
#{Modal.dialog id:'synchronizeOSTenants', cssClass:'widest'}
  #{Modal.header}
    <h4 class="modal-title">&{'keystoneProvider.addRemoveTenants'}</h4>
  #{/Modal.header}
  #{form @synchronizeOSTenants(), id:'synchronizeForm', class:'form form-horizontal'}
    #{Modal.body}
    <div class="row">
        <div class="col-sm-6">
          <h5 class="">&{'keystoneProvider.addTenants'}</h5>
          #{DataTable.table id: 'osTenantsToAdd',
                            dataTable: osTenantsToAdd,
                            source: @tenantsListToAddJson(),
                            selectable: true,
                            options:['iDisplayLength': '5']/}
        </div>

        <div class="col-sm-6">
          <h5 class="">&{'keystoneProvider.removeTenants'}</h5>
          #{DataTable.table id: 'osTenantsToRemove',
                            dataTable: osTenantsToRemove,
                            source: @tenantsListToRemoveJson(),
                            selectable: true,
                            options:['iDisplayLength': '5']/}
        </div>
    </div>
    #{/Modal.body}
      #{Modal.footer}
        #{Modal.buttonBar}
          #{Form.button name:'button.save', class:'primary', dropdown:false, icon:'ok-sign', submit:'synchronizeForm'/}
        #{/Modal.buttonBar}
      #{/Modal.footer}
  #{/form}
#{/Modal.dialog}

<script type="text/javascript">
$(document).ready(function() {
    $('#synchronizeOSTenants').on('shown.bs.modal', function(e) {
        $('#name').focus();
    });
    $('#synchronizeOSTenants').on('show.bs.modal', function(e) {
        $('#name').val('').trigger('change');
    });
    $('#name').on('change keydown keyup', function(e) {
        if (e.which != 10 && e.which != 13) {
          var value = $(this).val();
          $('#synchronizeOSTenants button.btn-primary').prop('disabled',
                (value == null) || (value == '') || (value.trim() == ''));
        }
    });
});
</script>
