#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.block.exportgroups'] /}

<script type="text/javascript">
  var route = #{jsAction @exportGroupsJson(':id')/};
 
  function reloadExportGroups() {
    var table = $('#exportGroups table'); 
    var xhr = table.data('previousXHR');
    if (xhr) {
        xhr.abort();
    }
    var id = $('#project option:selected').val();
    table.dataTable().fnReloadAjax(route({id: id}));
  }

  $(document).ready(function() {
    $('#project').on('change', reloadExportGroups);
  });
</script>

#{Resources.projectsControl projects:projects /}

#{DataTable.header titleKey:'nav.block.exportgroups' /}
#{DataTable.table id:'exportGroups',
                  dataTable:dataTable,
                  source:@exportGroupsJson(session.activeProjectId), 
                  cssClass:'editableRows',
                  selectable:true}
  #{DataTable.buttonBar}
    #{Form.button name:'button.delete', class:'danger', icon:'trash', submit:'deleteForm', data:['enabled':'selected']/}
    #{doBody/}
  #{/DataTable.buttonBar}
  #{DataTable.formAction @delete(), id:'deleteForm', table:'exportGroups', confirm:messages.get('resources.exportgroups.deleteConfirm')/}                  
#{/DataTable.table}                         