%{
  titleKey = 'assignPolicy.title';
}%
#{extends 'main.html'/}
#{set navSelected: ['nav.tenantsettings', 'nav.schedulepolicies'] /}
#{set 'title'}&{titleKey}#{/set}

<div class="container">
#{Form.header titleKey:titleKey /}

#{alerts/}

#{form @save(), id:'assignPolicy', class:'form form-horizontal', autocomplete:"off"}
  #{if assignPolicy?.id}
    #{field 'assignPolicy.id'}
      <input type="hidden" name="id" value="${field.value}">
    #{/field}  
  #{/if}
<!--   #{field 'assignPolicy.tenantId'} -->
        <input type="hidden" name="tenantId" value="${field.value}"/>
  #{/field}
 #{field 'assignPolicy.referrerUrl'}
     <input type="hidden" name="${field.policyName}" value="${field.value}">
  #{/field}
  
 
    #{field 'assignPolicy.policyName'}
      %{
        field.cssClass = 'initialFocus';
        field.required = true
        field.fieldKey = 'assignPolicy.policyName'
      }%
      #{Form.inputTextControlGroup field:field /}
    #{/field}
    
    #{field 'assignPolicy.appliedAt'}
      #{Form.selectOneControlGroup field:field, options:applyPolicyOptions, select:assignPolicy.appliedAt, cssClass:'span3' /}
    #{/field}    
    
    <div id="projectFields">
	    #{field 'assignPolicy.applySpecificProjects'}
	      %{
	        field.cssClass = "bla";
	        field.cssClassLabel = 'inline'
	      }%
	      #{Form.controlGroup field:field, noLabel:noLabel}
	        %{
	          field.disabled = false
	        }%
	        <div class="span6" style="margin-left:0px;">
	          #{Form.radio field:field, value: "true", label: messages.get("assignPolicy.project.applyAll")/}
	          #{Form.radio field:field, value: "false", label: messages.get("assignPolicy.project.applySpecific")/}
	        </div>
	      #{/Form.controlGroup}      
	    #{/field}    
    </div>
    
    <div id="vpoolFields">
		    #{field 'assignPolicy.applySpecificvPools'}
		      %{
		        field.cssClass = "bla";
		        field.cssClassLabel = 'inline'
		      }%
		      #{Form.controlGroup field:field, noLabel:noLabel}
		        %{
		          field.disabled = false
		        }%
		        <div class="span6" style="margin-left:0px;">
		          #{Form.radio field:field, value: "true", label: messages.get("assignPolicy.vpool.applyAll")/}
		          #{Form.radio field:field, value: "false", label: messages.get("assignPolicy.vpool.applySpecific")/}
		        </div>
		      #{/Form.controlGroup}      
		    #{/field}    
		    
		        
		  <control-group v-field="vPools" class="storagePoolCriteria" type="array" >
		    <select-many options="virtualArrayOptions" ></select-many>
		  </control-group>		        
		    
		    
			#{field 'assignPolicy.applyOnTargetSite'}
		       #{Form.booleanCheckBoxControlGroup field:field /}
		    #{/field}    
		    
		    #{field 'assignPolicy.targetVarray'}
		      #{Form.selectOneControlGroup field:field, options:varrayList, select:assignPolicy.appliedAt, cssClass:'span3' /}
		    #{/field}
		    
			<div ng-controller="PolicyAsignVPol">
		      <fieldset data-ng-repeat="vArray in vArrays">
		      	 <input type="text" ng-model="vArray" placeholder="Select Varray"/>
		      	 <button class="remove" ng-show="$last" ng-click="removeVarray()">-</button>
		      </fieldset> 
		      <button class="add" ng-click="addVarray()">+</button>
		    </div>
		        
    </div>
    
    
  #{Form.saveCancelButtonBar size:'large', cancelHref:@list()/}
#{/form}
</div>

#{set 'moreScripts'}
  <script type="text/javascript">
    $(document).ready(function() {
      
        // know where it came from so can navigate back;
        // only set the referrerUrl if it has not been set at some earlier point 
        // i.e. in multi-step flows take into account error-handling
        var referrerUrl = $('input[name="assignPolicy.referrerUrl"]').val();
		if(!referrerUrl)
		  referrerUrl = document.referrer;
        
		// navigate back only if referral URL is different than this one
		if(referrerUrl && referrerUrl != document.URL) {
	        $('input[name="assignPolicy.referrerUrl"]').val(referrerUrl);
			// navigate cancel button to referrer url
			$('div.form-actions a.btn').attr('href', referrerUrl);
		}
		
		
		$('#assignPolicy_appliedAt').on('change', showAssignAt);
		showAssignAt();
		
		
    });
    
    
    function showAssignAt(){
			var assignAt = $('#assignPolicy_appliedAt').val();

				if (assignAt == 'project') {
					$('#vpoolFields').hide();
					$('#projectFields').show();
				} else if (assignAt == 'vpool') {
					$('#vpoolFields').show();
					$('#projectFields').hide();
				} else if (assignAt == 'file_system') {
					$('#vpoolFields').hide();
					$('#projectFields').hide();
				}
			}
    
		</script>
#{/set}