#{extends 'main.html'/}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.allOrders'] /}

#{tenantSelector /}
#{DataTable.header titleKey:'allOrders.title' /}
<div class="max-days-selector" style="width: 810px; margin-left: -760px;margin-right:250px">
  <div class="description" >&{'orders.maxDays'}</div>
  <div class="control" style="width:110px;">
  #{field 'maxDays'}
    %{
      field.cssClass = 'input-sm'
      field.options = maxDaysOptions
      field.disableSearch = true
    }%
    #{Form.selectOne field:field/}
  #{/field}
  </div>
  
  <label class="description">&{"orders.startDate"}:</label>
  <div class="control" style="width:150px;">
      <date-picker ng-model="scheduler.startDate" close="true"></date-picker>
      <input type="hidden" name="scheduler.startDate" value="{{scheduler.startDate}}"/>
   </div>
  
   <label class="description">&{"orders.endDate"}:</label>
   <div class="control" style="width:150px;">
      <date-picker ng-model="scheduler.endDate" close="true"></date-picker>
      <input type="hidden" name="scheduler.endDate" value="{{scheduler.endDate}}"/>
   </div>
  
  
  
  <div class="clearfix"></div>
  
</div>
#{DataTable.table id:'orders', 
                  dataTable:dataTable, 
                  source: @allOrdersJson(),
                  selectable: true, 
                  options: ['fnServerParams': 'addParams']}
        #{DataTable.buttonBar}
            #{Form.button name:'button.download', class:'primary', icon:'download', submit:'createForm'/}
            #{Form.button name:'button.delete', class:'danger', icon:'minus', submit:'deleteForm',
                                  data:['enabled':'selected', 'selection':'single', 'property':'canDelete', 'value':'true']/}
        #{/DataTable.buttonBar}

#{/DataTable.table}

<script type="text/javascript">
function addParams(aoData) {
    aoData.push({"name":"maxDays", "value":"${maxDays}"});
}
table.orders.dataTable.afterCreate(function(dataTable) {
    var itemsJson = #{jsAction @catalog.Orders.itemsJson(':ids')/};
    watchOrderStatus(dataTable.getDataTable(), itemsJson);
});
$(document).ready(function() {
    $('#maxDays').on('change', function() {
        var maxDays = $(this).val();
        var url = #{jsAction @allOrders()/}()+"?maxDays="+maxDays;
        window.location.href = url;
    });
});
</script>