#{extends 'main.html' /} #{set navSelected: ['nav.orders',
'nav.catalog', 'nav.viewOrders'] /}

<div class="col-sm-6 controls">
	<div class="row col-gap-sm">
		<div class="col-xs-5">
			<date-picker ng-model="myOrder.startDate" close="true"></date-picker>
			<input type="hidden" name="myOrder.startDate" id="startDateVal" 
				value="{{myOrder.startDate}}" />
		</div>
		<div class="col-xs-5">
			<date-picker ng-model="myOrder.endDate" close="true"></date-picker>
			<input type="hidden" name="myOrder.endDate" id="endDateVal" 
				value="{{myOrder.endDate}}" />
		</div>
		<div class="col-xs-2">
			<button type="button" id="submitBtn" class="btn btn-primary" onclick="updateDateRange()">
				<span v-icon="filter"></span> {{'system.logs.update' | t}}
			</button>
		</div>
	</div>
</div>
#{DataTable.header titleKey:'orders.title'/} #{DataTable.table
id:'orders', dataTable:dataTable, source:@listJson(),
cssClass:'editableRows', options: ['fnServerParams': 'addParams']/}
<script type="text/javascript">
table.orders.dataTable.afterCreate(function(dataTable) {
    var itemsJson = #{jsAction @itemsJson(':ids')/};
    watchOrderStatus(dataTable.getDataTable(), itemsJson);
});

function addParams(aoData) {
    aoData.push({"name":"startDate", "value":"${startDate}"});
    aoData.push({"name":"endDate", "value":"${endDate}"});
}

function updateDateRange() {
	var startDate = $("#startDateVal").val();
	var endDate = $("#endDateVal").val();
	console.info(startDate+"\t"+endDate);
	var url = #{jsAction @list()/}()+"?startDate="+startDate+"&endDate="+endDate;
    window.location.href = url;
}
</script>