<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core
                           http://activemq.apache.org/schema/core/activemq-core.xsd">

	<context:component-scan base-package="com.emc.ctd" />
	<context:annotation-config />


	
	<bean id="workflowStore"
		class="com.opensymphony.workflow.spi.memory.MemoryWorkflowStore" />

	<bean id="workflowFactory"
		class="com.opensymphony.workflow.spi.hibernate.SpringWorkflowFactory"
		init-method="init">
		<property name="resource" value="workflow-defs.xml" />
		<property name="reload" value="true" />
	</bean>

	<bean id="workflowConfiguration" class="com.opensymphony.workflow.config.SpringConfiguration">
		<property name="factory" ref="workflowFactory" />
		<property name="store" ref="workflowStore" />
	</bean>

	<bean id="workflowTypeResolver" class="com.opensymphony.workflow.util.SpringTypeResolver">
	</bean>

	<bean id="workflow" class="com.opensymphony.workflow.basic.BasicWorkflow"
		scope="prototype">
		<constructor-arg>
			<value>testuser</value>
		</constructor-arg>
		<property name="configuration" ref="workflowConfiguration" />
		<property name="resolver" ref="workflowTypeResolver" />
	</bean>

	<bean id="viprWorkflowExecutor" class="com.emc.ctd.workflow.vipr.core.ViPRWorkflowExecutor" scope="prototype">
		<property name="workflow" ref="workflow" />
	</bean>

	<bean id="viprWorkflowLauncher" class="com.emc.ctd.workflow.vipr.core.ViPrWorkflowLauncher" />
	
	<bean id="client" class="com.emc.vipr.client.ViPRCoreClient" />

</beans>


