%{
LOCAL = models.datatable.BackupDataTable.Type.LOCAL
REMOTE = models.datatable.BackupDataTable.Type.REMOTE
}%

#{extends 'main.html' /}
#{set navSelected: ['nav.settings', 'nav.backup'] /}

<div id="backups">
    <div class="content">
        <div class="section-header">
            <h1>&{'Backup.list.title'}</h1>
        </div>

        <ul class="nav nav-tabs">
            <li id="localBackupTab" #{if LOCAL.equals(type)}class="active"#{/if}>
                <a href="@{list(LOCAL)}">&{'backup.tab.local'}</a></li>
            <li id="remoteBackupTab" #{if REMOTE.equals(type)}class="active"#{/if}>
                <a href="@{list(REMOTE)}">&{'backup.tab.remote'}</a></li>
        </ul>

    #{if LOCAL.equals(type)}
        #{DataTable.crudTable id:'backup',
        dataTable:dataTable,
        deleteConfirm:messages.get('backup.deleteConfirm')}
        #{/DataTable.crudTable}
    #{/if}

    #{if REMOTE.equals(type)}
        #{DataTable.table id:'backup',
        dataTable:dataTable,
        source:@listJson(type)}
        #{/DataTable.table}
    #{/if}

    </div>
</div>

<script type="text/javascript">
    type = "${type}";
    LOCAL = "${models.datatable.BackupDataTable.Type.LOCAL}";
    REMOTE = "${models.datatable.BackupDataTable.Type.REMOTE}";

    $(document).ready(function () {
        //update remote backups detail info
        if (type == REMOTE) {
            var dataTable = table.backup.dataTable.getDataTable();
            var interval = 1000; // 1 second

            var restoreStatusJson = #{jsAction @externalStatusJson(':ids')/};
            var backupInfoJson = #{jsAction @externalItemsJson(':ids')/};
            stop = new Array();
            request = new Array();
            count = new Array();
            field = new Array();
            stop[0] = false;
            stop[1] = false
            request[0] = null;
            request[1] = null;
            count[0] = 0;
            count[1] = 0;
            field[0] = ['status', 'error'];
            field[1] = ['creationtime'];
            var updateRestoreStatus = window.setInterval(function () {
                if (stop[0] === true) {
                    console.info("To stop update restore status");
                    clearInterval(updateRestoreStatus);
                    return;
                }
                updateRemoteListDetails(dataTable, restoreStatusJson, 0);
            }, interval);
            var updateBackupInfo = window.setInterval(function () {
                if (stop[1] === true) {
                    console.info("To stop update backup info");
                    clearInterval(updateBackupInfo);
                    return;
                }
                updateRemoteListDetails(dataTable, backupInfoJson, 1);
            }, interval);

        }
    });

    function updateRemoteListDetails(dataTable, itemsJson, number) {
        var data = dataTable.fnGetData();
        var update = function (table, id) {
            console.info("In update %s, id: %s.\nCurrent time: %s.", number, JSON.stringify(id), new Date($.now()) );
            var url = itemsJson({ids: id});
            request[number] = $.get(url, function (results) {
                console.info("Get request: %s, %s.\nCurrent time: %s.", number, JSON.stringify(results), new Date($.now()) );
                updateDatatableRows(table, results, field[number]);
                request[number] = null;
                count[number]++;
            });

        };

        if (data.length > 0) {
            for (var i = count[number]; i < data.length; i++) {
                var row = data[i];
                //send new request after the previous is finished
                if (request[number] == null) {
                    update(dataTable, row.id);
                } else if (stop[number]) {
                    request[number].abort();
                }
            }
            if(data.length == count[number]) {
                stop[number] = true;
            }
        }
    }

render.uploadAndRestoreBtn = function(o, val) {
	var odata = o.aData;
	var name= odata.name;
	var url = #{jsAction @upload()/};
	var href = url(odata)+"/"+name;
    var btns;
	if (val.indexOf("_enable")>0){
		btns = "<a id='" + val+"BtnId" + "' href='" + href + "' " +"  class=\"btn btn-default btn-xs\">" + "Upload" + "</a>";
	}else{
		btns = "<a id='" + val+"BtnId" + "' href='" + href + "' " +"  disabled class=\"btn btn-default btn-xs\">" + "Upload" + "</a>";
	}

    url = #{jsAction @restore()/};
    href = url(odata) + "/name/" + name + "/type/" + "${type}";
    btns += "&nbsp;&nbsp;<a id='" + val+"BtnId" + "' href='" + href + "' " +"  class=\"btn btn-default btn-xs\">" + "Restore" + "</a>";
    return btns;

}

render.restoreBtn = function (o, val) {
    var odata = o.aData;
    var name = odata.name;
    var url = #{jsAction @restore()/};
    href = url(odata) + "/name/" + name + "/type/" + "${type}";
    return "<a id='" + val + "BtnId" + "' href='" + href + "' " + "  class=\"btn btn-default btn-xs\">" + "Restore" + "</a>";
}

render.uploadAndRestoreProgressIcon = function(o, val) {
	 if (!o) {
	        return "";
	    }
	    var labels = {
	        'NOT_STARTED': 'label-default',
	        'PENDING': 'label-default',
	        'READY': 'label-default',
	        'IN_PROGRESS': 'label-info',
	        'FAILED':   'label-danger',
	        'DONE':    'label-success',
            'CANCELLED': 'label-danger',
            //Restore Status
            'LOADING':    'label-info',
            'DOWNLOADING':    'label-info',
            'DOWNLOAD_SUCCESS':    'label-success',
            'DOWNLOAD_FAILED':    'label-danger',
            'DOWNLOAD_CANCELLED':    'label-danger',
            'RESTORING':    'label-info',
            'RESTORE_FAILED':    'label-danger',
            'RESTORE_SUCCESS':    'label-success'
        }
	    var icons = {
	        'NOT_STARTED':     'glyphicon glyphicon-time',
	        'PENDING':     'glyphicon glyphicon-time',
	        'READY':     'glyphicon glyphicon-time',
	        'IN_PROGRESS': 'glyphicon glyphicon-refresh rotate',
	        'DONE':    'glyphicon glyphicon-ok',
	        'CANCELLED': 'glyphicon glyphicon-warning-sign',
	        'FAILED':       'glyphicon glyphicon-remove',
            //Restore Status
            'LOADING':    'glyphicon glyphicon-refresh rotate',
            'DOWNLOADING':    'glyphicon glyphicon-refresh rotate',
            'DOWNLOAD_SUCCESS':    'glyphicon glyphicon-ok',
            'DOWNLOAD_FAILED':    'glyphicon glyphicon-remove',
            'DOWNLOAD_CANCELLED':    'glyphicon glyphicon-warning-sign',
            'RESTORING':    'glyphicon glyphicon-refresh rotate',
            'RESTORE_FAILED':    'glyphicon glyphicon-remove',
            'RESTORE_SUCCESS':    'glyphicon glyphicon-ok'
	    };
	    var label = defaultValue(labels[o.aData.status], 'label-default');
	    var icon = defaultValue(icons[o.aData.status], 'glyphicon glyphicon-question-sign');
	    return '<span class="label ' + label + '"><span class="' + icon + '"></span></span>';
}

render.uploadAndRestoreProgressMessage = function(o, val) {
    if (!o) {
        return "";
    }
    var messages = {
        'NOT_STARTED':     Messages.get("renderFunctions.backupupload.status.notstarted"),
        'PENDING':     Messages.get("renderFunctions.backupupload.status.pending"),
        'READY':     Messages.get("renderFunctions.backupupload.status.ready"),
        'IN_PROGRESS':   Messages.get("renderFunctions.backupupload.status.progress"),
        'FAILED': Messages.get("renderFunctions.backupupload.status.failed"),
        'DONE':    Messages.get("renderFunctions.backupupload.status.done"),
        'CANCELLED':    Messages.get("renderFunctions.backupupload.status.cancel"),
        //Restore Status
        'LOADING':    '',
        'DOWNLOADING':    Messages.get("renderFunctions.restore.status.downloading"),
        'DOWNLOAD_SUCCESS':    Messages.get("renderFunctions.restore.status.downloadsuccess"),
        'DOWNLOAD_FAILED':    Messages.get("renderFunctions.restore.status.downloadfailed"),
        'DOWNLOAD_CANCELLED':    Messages.get("renderFunctions.restore.status.downloadcancel"),
        'RESTORING':    Messages.get("renderFunctions.restore.status.restoring"),
        'RESTORE_FAILED':    Messages.get("renderFunctions.restore.status.restorefailed"),
        'RESTORE_SUCCESS':    Messages.get("renderFunctions.restore.status.restoresuccess")
    };

    var errors = {
           'FTP_NOT_CONFIGURED':     Messages.get("renderFunctions.backupupload.error.notconf"),
           'BACKUP_NOT_EXIST':   Messages.get("renderFunctions.backupupload.error.notexist"),
           'INVALID_BACKUP': Messages.get("renderFunctions.backupupload.error.invalid"),
           'UPLOAD_FAILURE':    Messages.get("renderFunctions.backupupload.error.failure")
        };

    var message = o.aData.status;
    var errorMsg = o.aData.error;
    if (!message) {
        message = defaultValue(messages[o.aData.status], Messages.get("renderFunction.discovery.status.unknown"));
    }
    if (errorMsg != null) {
        var detailError = o.aData.status === 'RESTORE_FAILED' ? errorMsg : errors[o.aData.error];
        return '<span>' + messages[o.aData.status] + ' - ' + detailError + '</span>';
    }
    return '<span>' + messages[o.aData.status] + '</span>';
}

render.uploadAndRestoreProgress = function(o, val) {
    return render.uploadAndRestoreProgressIcon(o, val) + " " + render.uploadAndRestoreProgressMessage(o, val);
}

render.externalLoading = function(o, val) {
    if (o.aData.creationtime == '-1') {
        return '<span class="label label-info"><span class="glyphicon glyphicon-refresh rotate"></span></span>';
    } else {
        return render.localDate(o, val);
    }
}

render.backupSize = function (o, val) {
    var size = o.aData.size;
    if (size > 1024 * 1024 * 1024) {
        size = Math.round(size / (1024 * 1024 * 1024));
        return Messages.get("backup.GB", size);
    }
    if (size > 1024 * 1024) {
        size = Math.round(size / (1024 * 1024));
        return Messages.get("backup.MB", size);
    }
    if (size > 1024) {
        size = Math.round(size / 1024);
        return Messages.get("backup.KB", size);
    }
    return Messages.get("backup.bytes", size);
}

    table.backup.dataTable.afterCreate(function(table) {
        if (type == LOCAL) {
            var dataTable = table.getDataTable();
            var itemsJson = #{jsAction @itemsJson(':ids')/};
            watchUploadState(dataTable, itemsJson, ['actionstatus', 'error', 'action']);
        }
    });



</script>
