#{extends 'main.html' /}
#{set 'title'}&{'restore.title'}#{/set}
#{set 'moreScripts'}
    #{get 'moreScripts'/}
#{/set}

#{breadcrumb.container}
    #{breadcrumb.item @list()}&{'Backup.list.title'}#{/breadcrumb.item}
    #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="container">
    <div id="checkDbProgress">
    #{Form.header titleKey:'restore.title' /}
        <div><b>&{'restore.from.version'}:</b> <span id="restore-version">${id}</span><br/></div>
        <br/><br/>
    #{Form.subheader titleKey:"restore.download.progress", descriptionKey:"restore.download.progress.description"/}
        <br/>
        <table class="database-check-progress-table">
            <tr>
                <td width="300">
                %{
                    style = "success"
                    if (isDbCheckStatus.equals("FAILED")) {
                    style="danger"
                    }
                    }%
                #{progressBar name:"Status", percentage:checkProgress, style:style/}</td>
            </tr>
            <tr>
                <td width="300">
		  <span id="checkDbStatus">
          #{if isDbCheckStatus.equals("FAILED")}&{'upgrade.checkDb.failed'}#{/if}
          </span>

                    <div id="checkDetailMsg" style="color:#2c95dd"></div>
                </td>
            </tr>
        </table>
        <br/>
        <br/>

    #{form @restore(), id:'restoreForm',class:'form form-horizontal', autocomplete:"off"}

        <div style="width: 500px;">
            #{field 'restore.rootPassword'}
            %{
                field.cssClass = 'initialFocus'
                field.required = true
                }%
                #{Form.inputPasswordControlGroup field:field/}
            #{/field}
        </div>

        <div>
            <label><input type="checkbox"> &{'restore.checkbox.help'}</label>
            <div class="alert alert-danger"> &{'restore.disconnect'} </div>
        </div>
        <div class="alert alert-info"> &{'restore.prompt'} </div>

        #{Form.button 'button.ok', class:'primary', icon:'ok-sign', submit:'deleteModalForm'/}
        #{Form.button 'button.cancel', icon:'primary', data:['dismiss':'modal']/}

    #{/form}


    </div>
</div>
