#{extends 'main.html' /}
#{set 'title'}&{'restore.title'}#{/set}
#{set 'moreScripts'}
    #{get 'moreScripts'/}
#{/set}

#{breadcrumb.container}
    #{breadcrumb.item @list()}&{'Backup.list.title'}#{/breadcrumb.item}
    #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="container">
    <div id="checkPullStatus">
    #{Form.header titleKey:'restore.title' /}
        <div><b>&{'restore.from.version'}:</b> <span id="restore-version">${id}</span><br/></div>
        <br/><br/>
    #{Form.subheader titleKey:"restore.download.progress", descriptionKey:"restore.download.progress.description"/}
        <br/>


    #{form @doRestore(), id:'restoreForm',class:'form form-horizontal', autocomplete:"off"}

        <div style="width: 500px;">
            #{field 'restoreForm.password'}
            %{
                field.cssClass = 'initialFocus'
                field.required = true
                }%
                #{Form.inputPasswordControlGroup field:field/}
            #{/field}
            #{field 'restoreForm.name'}
                <input type="hidden" name="${field.name}" value="${id}">
            #{/field}
            #{field 'restoreForm.type'}
                <input type="hidden" name="${field.name}" value="${type}">
            #{/field}
        </div>

        <div>
            <label><input type="checkbox"> &{'restore.checkbox.help'}</label>
            <div class="alert alert-danger"> &{'restore.disconnect'} </div>
        </div>
        <div class="alert alert-info"> &{'restore.prompt'} </div>

        #{Form.button 'button.ok', class:'primary', icon:'ok-sign', submit:'restoreForm'/}
        #{Form.button 'button.cancel', icon:'primary', data:['dismiss':'modal']/}

    #{/form}


    </div>
</div>
