#{extends 'main.html' /}
#{set 'title'}&{'BackupForm.title'}#{/set}
  #{set 'moreScripts'}
    #{get 'moreScripts'/}
  #{/set}
  
#{breadcrumb.container}
  #{breadcrumb.item @list()}&{'Backup.list.title'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}
<div class="container">
<div id="downloadProgress">
<br/>
#{Form.subheader titleKey:"upgrade.downloadProgress", descriptionKey:"upgrade.downloadProgress.description"/}
    <table class="download-progress-table">
       
            <tr>
                <td>Node </td>
                 <td width="300">
                    %{
                        style = "danger";
                        if ("test"=="error") {
                            style="danger";
                        }
                    }%

                    #{progressBar name:"test", percentage:10, style:style/}
                </td>
                    <span id="">
                        
                    </span>
                </td>
            </tr>
        
    </table>
</div>
</div>