%{
  titleKey = 'VCenters.' + (vCenter?.id ? 'edit' : 'create') + '.title';
  descriptionKey = 'VCenters.description';
  image = '/public/img/assets/VCenter.png';
}%
#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.vcenters'] /}
#{set 'title'}&{titleKey}#{/set}

#{breadcrumb.container}
  #{breadcrumb.item @list()}&{'VCenters.list.title'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}

#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
  $(document).ready(function() {
    $('#vCenter_enableTenants').on('change', function() {
        if ($(this).prop('checked')) {
          $('#vCenter_tenantsControlGroup').closest("fieldset").show();
        } else {
          $('#vCenter_tenantsControlGroup').closest("fieldset").hide();
        }
    }).trigger('change');
  });
</script>
#{/set}

<div class="container">
#{Form.header titleKey:titleKey, descriptionKey:descriptionKey, image:image /}

#{alerts/}

#{form @save(), id:'vcenterForm', class:'form form-horizontal', autocomplete:"off"}
  #{if vCenter?.id}
    #{field 'vCenter.id'}
      <input type="hidden" name="${field.name}" value="${field.value}">
    #{/field}
  #{/if}

  #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['TENANT_ADMIN']]}
  <fieldset>
  
  #{field 'vCenter.name'}
    %{
      field.cssClass = 'span6 initialFocus';
      field.required = true
    }%
    #{Form.inputTextControlGroup field:field /}
  #{/field}
  
  #{field 'vCenter.hostname'}
    %{
      field.required = true
    }%        
    #{Form.inputTextControlGroup field:field /}
  #{/field}
  
  #{field 'vCenter.port'}
    %{
      field.required = true
      field.cssClass = "span2"
    }%        
    #{Form.inputTextControlGroup field:field /}
  #{/field}
  
  #{field 'vCenter.username'}
    %{
      field.required = true
    }%        
    #{Form.inputTextControlGroup field:field /}
  #{/field}
    
  #{field 'vCenter.password'}
    %{
      field.required = true
    }%        
    #{Form.inputPasswordControlGroup field:field /}
  #{/field}
  
  #{field 'vCenter.passwordConfirm'}
    %{
      field.required = true
    }%        
    #{Form.inputPasswordControlGroup field:field /}
  #{/field}
  </fieldset>
  #{/deadbolt.restrict}

  *{ tenantOptions are only available for users that can set tenant ACLs }*
  #{if tenantOptions}
  <fieldset>
    <legend>&{'security.tenantControlList'}<small>&{'security.tenantControlList.description.vcenter'}</small></legend>
    #{field 'vCenter.enableTenants'}
      #{Form.booleanCheckBoxControlGroup field:field /}
    #{/field}
    <div class="vCenter_enableTenants" data-show="true">
      <fieldset>
        #{field 'vCenter.tenants'}
          %{
              field.helpTextKey = field.name + '.description'
          }%
          #{Form.selectManyControlGroup field:field, options:tenantOptions /}
        #{/field}
      </fieldset>
    </div>
  </fieldset>
  #{/if}
  #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['TENANT_ADMIN']]}
     #{Form.saveValidateCancelButtonBar size:'large'/}
  #{/deadbolt.restrict}
  #{deadbolt.restrict roles:[['!SYSTEM_ADMIN', '!TENANT_ADMIN']]}
     #{Form.saveCancelButtonBar size:'large'/}
  #{/deadbolt.restrict}
#{/}

#{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['TENANT_ADMIN']]}
#{if play.mode.isDev() && dbVCenter}
  <fieldset class="discovery vcenter">
      <legend>&{'discovery.details'}<small>&{'discovery.details.description'}</small></legend>
      
      <ul>
        #{list dbVCenter.datacenters(), as: 'datacenter'}
          %{
            clusters = datacenter.clusters();
            hosts = datacenter.hosts();
            noClusterHosts = hosts.find{ it.cluster == null }
          }%
          <li>
            <span class="datacenter">${datacenter.name}</span> <span class="type">&{'vCenter.datacenter'}</span> 
            <ul>
              #{list clusters, as:'cluster'}
                <li>
                  <span class="cluster">${cluster.name}</span> <span class="type">&{'vCenter.cluster'}</span>
                  <ul>
                    #{list cluster.hosts(), as:'host'}
                      <li>
                        <span class="host">${host.name}</span> <span class="type">&{'vCenter.host'}</span>
                        %{ 
                          initiators = host.initiators().sort{ it.protocol };
                          ipInterfaces = host.ipInterfaces().sort { it.protocol };
                        }%
                        #{if initiators}
                          <span class="initiators">&{'vCenter.initiators'}</span>
                          <ul>
                            #{list initiators, as:'initiator'}
                              <li>${initiator.wwn()} [${initiator.protocol}]</li>
                            #{/list}
                          </ul>
                        #{/if}
                        #{if ipInterfaces}
                          <span class="ipInterfaces">&{'vCenter.ipInterfaces'}</span>
                          <ul>
                            #{list ipInterfaces, as:'ipInterface'}
                              <li>${ipInterface.ipAddress} [${ipInterface.protocol}] </li>
                            #{/list}
                          </ul>
                        #{/if}
                      </li>
                    #{/list}
                  </ul>
                </li>
              #{/list}
              #{list noClusterHosts, as:'host'}
                <li>
                  <span class="host">${host.name}</span> <span class="type">&{'vCenter.host'}</span>
                  %{ 
                    initiators = host.initiators().sort{ it.protocol };
                    ipInterfaces = host.ipInterfaces().sort { it.protocol };
                  }%
                  #{if initiators}
                    <span class="initiators">&{'vCenter.initiators'}</span>
                    <ul>
                      #{list initiators, as:'initiator'}
                        <li>${initiator.wwn()} [${initiator.protocol}]</li>
                      #{/list}
                    </ul>
                  #{/if}
                  #{if ipInterfaces}
                    <span class="ipInterfaces">&{'vCenter.ipInterfaces'}</span>
                    <ul>
                      #{list ipInterfaces, as:'ipInterface'}
                        <li>${ipInterface.ipAddress} [${ipInterface.protocol}] </li>
                      #{/list}
                    </ul>
                  #{/if}
                </li>
              #{/list}
        #{/list}
      </ul>
  </fieldset>
#{/if}
#{/deadbolt.restrict}

</div>
