<dl class="dl-horizontal">
  <dt>&{'vCenter.version'}</dt>
  <dd>${vcenter.osVersion ?: '-'}</dd>
  
  <dt>&{'vCenter.datacenters'}</dt>
  #{if util.VCenterUtils.canUpdateACLs()}
    <dd>
      #{list dataCenters, as:'datacenter'}
        <a href="" onclick="showDatacenterEditDialog('${datacenter.id}', '${datacenter.name}')">${datacenter.name}</a>#{if !datacenter_isLast}, #{/if}
      #{/list}
      #{else}&nbsp;#{/else}
    </dd>
  #{/if}
  #{else}
     <dd>${ dataCenters.collect{ it.name }.join(", ") ?: '-' }</dd>
  #{/else}

  #{discoveryDetails vcenter/}
</dl>
