<dl class="dl-horizontal">

<dt>&{'computeVirtualPool.min.processors'}</dt>
<dd>${computeVirtualPool.minProcessors ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.processors'}</dt>
<dd>${computeVirtualPool.maxProcessors ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.cores'}</dt>
<dd>${computeVirtualPool.minTotalCores ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.cores'}</dt>
<dd>${computeVirtualPool.maxTotalCores ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.threads'}</dt>
<dd>${computeVirtualPool.minTotalThreads ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.threads'}</dt>
<dd>${computeVirtualPool.maxTotalThreads ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.speed'}</dt>
<dd>${computeVirtualPool.minCpuSpeed ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.speed'}</dt>
<dd>${computeVirtualPool.maxCpuSpeed ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.memory'}</dt>
<dd>${computeVirtualPool.minMemory ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.memory'}</dt>
<dd>${computeVirtualPool.maxMemory ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.nics'}</dt>
<dd>${computeVirtualPool.minNics ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.nics'}</dt>
<dd>${computeVirtualPool.maxNics ?: '-'}</dd>
<dt>&{'computeVirtualPool.min.hbas'}</dt>
<dd>${computeVirtualPool.minHbas ?: '-'}</dd>
<dt>&{'computeVirtualPool.max.hbas'}</dt>
<dd>${computeVirtualPool.maxHbas ?: '-'}</dd>
<dt>&{'computeVirtualPool.selected.SPTs'}</dt>
<dd>${selectedTemplatesString?: '-'}</dd>
</dl>
