#{assets.css "stylesheets/diagram-js.css"/}
#{assets.css "stylesheets/bpmn-embedded.css"/}
#{assets.css "stylesheets/app.css"/}
#{assets.css "stylesheets/bpmn.css"/}

  <div class="content" id="js-drop-zone">

    <div class="message intro"><BR><BR><BR>
      <div>
        <a id="js-create-diagram" href></a> 
      </div>
	  
    </div>

    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas"></div>
    <div id="js-properties-panel"></div>
  </div>
 #{form @saveDiagram(), id:'diagramSave', class:'form form-horizontal', autocomplete:"off"}
   <ul class="buttons">
    <li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
     <li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
   
    <li>
      <input type="text" class="form-control span6" name="fileName" value="Workflow"/>
      </li>
    <li>
      <input type="hidden" id="xmlContent" name="diagramData"/>
      <input type="hidden" name="xmlData" value="<![CDATA[<root>test me</root>]]>"/>
      
  
     <button type="submit" class="btn btn-primary btn-large"> <span class="glyphicon glyphicon-ok-sign " ></span> ${messages.get('button.save')}</button>
    
    </li>
     <li>
     <button class="btn btn-default btn-large" name="cancel" onclick="cancel()"> <span class="glyphicon glyphicon-trash "></span> ${messages.get('button.cancel')}</button>
    </li>
    
    

  </ul>
  #{/form}
 <script>
    window.onload = function(){
      document.getElementById("js-create-diagram").click();
    }
 </script>
 
 <script type="text/javascript">
     function cancel() {
        var url = #{jsAction  @catalog.CustomWorkflow.diagrams() /};
        window.location.href = url();   
     }
     
     function save() {
    	 var  fileName = $("#fileName").val();
    	 var  fileName = $("#xmlContent").text();
    	// alert(fileName + " : "+xmlContent);
    	 //var url = #{jsAction  @catalog.CustomWorkflow.saveDiagram(fileName) /};
         //window.location.href = url();   
    	 //$("#diagramData").val(xmlContent);
    	 var  data = fileName + "~~~~~" + fileName;
    	 $("#xmlData").text(data);
    	 return true;
      }
  </script>
  
  #{script 'workflow.js'/}