network_DOM_SetupVM="example.localdomain"
network_hostname_SetupVM="devkit.example.localdomain"
network_ipv40_SetupVM="192.168.1.100"
network_ipv4dns_SetupVM="192.168.1.1"
network_ipv4gateway_SetupVM="192.168.1.2"
network_ipv4netmask0_SetupVM="255.255.255.0"
network_vip_SetupVM="192.168.1.100"
system_timezone="US/Eastern"
vm_vmname="SetupVM"
key_vmname="SetupVM"
