%{
titleKey = "BlockVirtualPools.create.title"
}%
#{extends 'main.html' /}
#{set navSelected: ['nav.virtualStorage', 'nav.block.virtualPools'] /}
#{set 'title'}&{titleKey}#{/set}

#{breadcrumb.container}
#{breadcrumb.item @list()}&{'BlockVirtualPools.list.title'}#{/breadcrumb.item}
#{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}



<div id="virtualPool" class="container ng-scope">
    <form-header title-key="Automatically Create Virtual Pools" description-key="" image-val="/public/img/assets/VirtualPool.png" class="ng-isolate-scope"><div class="form-header">
        <!-- ngIf: image --><div ng-if="image" class="image ng-scope">
        <img ng-src="/public/img/assets/VirtualPool.png" src="/public/img/assets/VirtualPool.png">
    </div><!-- end ngIf: image -->

    </div>
    </form-header>
    <fieldset class="form form-horizontal ng-pristine ng-valid" style="padding-top:20px">
    <h5>
        We have detected the following storage systems
    </h5>
    <p>
        &{'StorageSystemType.'+type}
    </p>
    <h5 style="padding-top:40px">
        Do you want the system to create Virtual Pools automatically?<br>
        <!--a>Learn more how...</a-->
    </h5>
    </fieldset>

</div>
<div class="form-group button-bar" style="padding-top:10px">
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary btn-large " name="button.create" onclick="window.location = &quot;@{arrays.BlockVirtualPools.createAllFlashAuto(varray.id,type)}&quot;">
            Create
        </button>
        <button type="button" class="btn btn-default btn-large " name="button.cancel" onclick="window.location = &quot;/blockvirtualpools/list&quot;">
            Cancel
        </button>  <span class="extraButtons">
              </span>
    </div>
</div>
