# Copyright 2015 EMC Corporation
# All Rights Reserved

#{extends 'main.html' /}
#{set navSelected: ['nav.virtualStorage', 'nav.block.virtualPools'] /}

#{DataTable.header titleKey:'BlockVirtualPools.list.title'/}
#{DataTable.crudTable id:'virtualPools', 
                      dataTable:dataTable, 
                      deleteConfirm:messages.get('VirtualPools.deleteConfirm')}
#{Form.button class:'default', name:'button.duplicate', icon:'share', submit:'duplicateSubmit', data:['enabled':'selected', 'selection':'single'] /}
#{/DataTable.crudTable}
#{DataTable.formAction @duplicate(), id:'duplicateSubmit', table:'virtualPools'/}