#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
var remoteRep = function() {
    var dialog;
    var form;
    var varraySelect;
    var vpoolSelect;
    var editRemoteReplication;

    var editVersion = -1;
    var remoteReplications = ${flash["vpool.remoteReplicationsJson"] != null ? flash["vpool.remoteReplicationsJson"].raw() : vpool.remoteReplicationsJson.raw()}

    function getRemoteReplicationTableRow(event) {
        return $(event.target).parentsUntil('table', 'tr');
    }
    
    function showDialog() {
        util.clearValidationErrors(dialog);
        clearDialogValues();
        loadVirtualArrayOptions();

        // Collect Arrays
        dialog.modal('show');
    }
    
    function hideDialog() {
        dialog.modal('hide');
    }
    
    var saveTimeout;
    function startSave() {
        var button = $('.btn-primary', form);
        button.prop('disabled', true);
        
        // Only change the button icon if the save takes longer than 500ms
        saveTimeout = window.setTimeout(function() {
            var icon = $('span', button);
            var iconClass = icon.attr('class');
            icon.data('icon', iconClass);
            icon.removeClass();
            icon.addClass('rotate glyphicon glyphicon-refresh');
            saveTimeout = null;
        }, 250);
    }
    
    function endSave() {
        if (saveTimeout != null) {
            window.clearTimeout(saveTimeout);
        }
        var button = $('.btn-primary', form);
        button.prop('disabled', false);
        var icon = $('span', button);
        var iconClass = icon.data('icon');
        if (iconClass) {
            icon.removeClass();
            icon.addClass(iconClass);
            icon.removeData('icon');
        }
    }
    
    function doSaveRemoteReplication() {
        var arrayId = $('[name="remoteReplication.virtualArray"]', dialog).val();
        var poolId = $('[name="remoteReplication.virtualPool"]', dialog).val();
        var virtualArrayName = $('#remoteReplication_virtualArray option:selected').text();
        var virtualPoolName = $('#remoteReplication_virtualPool option:selected').text();

        if (editVersion == -1) {
            var newRemoteReplication = {
                "virtualArray":arrayId,
                "virtualArrayName":virtualArrayName,
                "virtualPool":poolId,
                "virtualPoolName":virtualPoolName
            }
            remoteReplications.push(newRemoteReplication);

            addRemoteReplicationRow(newRemoteReplication);
        }
        else {
            remoteReplications[editVersion].virtualArray = arrayId;
            remoteReplications[editVersion].virtualArrayName = virtualArrayName;
            remoteReplications[editVersion].virtualPool = poolId;
            remoteReplications[editVersion].virtualPoolName = virtualPoolName;

            updateRemoteReplicationRow(editVersion, remoteReplications[editVersion]);
        }

        editVersion = -1;
        hideDialog();
    }

    function clearDialogValues() {
        varraySelect.empty();
        vpoolSelect.empty();
        triggerSelectUpdated(varraySelect);
        triggerSelectUpdated(vpoolSelect);
    }

    function triggerSelectUpdated(select) {
        select.trigger('chosen:updated');
        select.trigger("change");
    }

    function addNoneOption(select, selected) {
        var option ="<option value=''"

        if (selected) {
            option += "selected";
        }

        option += ">None</option>";

        select.append(option);
    }
    
    function addValidationResult(result) {
        var control = $("[name='"+result.key+"']", form);
        var controlGroup = control.parentsUntil(form, '.form-group');
        var error = $('.help-inline', controlGroup);
        
        controlGroup.addClass('has-error');
        error.text(result.message);
    }
    
    function showValidationResult(result) {
        util.clearValidationErrors(dialog);
        if ($.isArray(result)) {
            for (var i = 0; i < result.length; i++) {
                if (result[i] && !result[i].success) {
                    addValidationResult(result[i]);
                }
            }
        }
        else {
            addValidationResult(result);
        }
    }
    
    function isValidationSuccess(result) {
        if ($.isArray(result)) {
            for (var i = 0; i < result.length; i++) {
                if (!(result[i] && result[i].success)) {
                    return false;
                }
            }
            return true;
        }
        else {
            return result && result.success;
        }
    }

    function addRemoteReplicationRow(remoteReplication) {
        var virtualPoolName = remoteReplication.virtualPoolName == null ? "" : remoteReplication.virtualPoolName;
#{if locked}
        var remoteReplicationRow = $("#remoteReplications").find("tbody").append("<tr>" +
                                                               "<td class='virtualArray'>"+remoteReplication.virtualArrayName+"</td>" +
                                                               "<td class='virtualPool'>"+virtualPoolName+"</td>" +
                                                               "<td class='actions'>&nbsp;</td>" +
                                                            "</tr>");
#{/if}
#{else}
        var remoteReplicationRow = $("#remoteReplications").find("tbody").append("<tr>" +
                                                              "<td class='virtualArray'>" +
                                                                "<a href='#' onclick='remoteRep.editRemoteReplication(event); return false;'>"+remoteReplication.virtualArrayName+"</a>" +
                                                              "</td>" +
                                                              "<td class='virtualPool'>"+virtualPoolName+"</td>" +
                                                              "<td class='actions'><a href='#' onclick='remoteRep.deleteRemoteReplication(event); return false'><span class='glyphicon glyphicon-remove'></span></a></td>" +
                                                            "</tr>");

        serializeRemoteReplications();
#{/else}
    }

    function updateRemoteReplicationRow(index, remoteReplication) {
        var tableRow = $('#remoteReplications tbody tr:eq('+index+')');

        var vArray = $(tableRow).find(".virtualArray a");
        var vPool = $(tableRow).find(".virtualPool");

        vArray.text(remoteReplication.virtualArrayName);
        vPool.text(remoteReplication.virtualPoolName);

        serializeRemoteReplications();
    }

    function loadVirtualArrayOptions() {
        var vpool = $('form').serialize();
        var handler = function(data, textStatus, jqXHR) {
            varraySelect.empty();
            addNoneOption(varraySelect, editVersion != -1);

            if (editVersion != -1) {
                var editRemoteReplication = remoteReplications[editVersion];
                varraySelect.append('<option value="'+editRemoteReplication.virtualArray+'" selected>'+editRemoteReplication.virtualArrayName+'</option>');
            }

            for (var i = 0; i < data.length; i++) {
                varraySelect.append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
            }
            triggerSelectUpdated(varraySelect);
        };

        var url = '@{arrays.BlockVirtualPools.listRemoteReplicationVirtualArraysJson()}';
        $.post(url, vpool, handler, 'json');
    }

    function loadVirtualPoolOptions() {
        var varrayId = varraySelect.val();

        var handler = function(data, textStatus, jqXHR) {
            vpoolSelect.empty();
            addNoneOption(vpoolSelect, editVersion != -1);
            for (var i = 0; i < data.length; i++) {
                var option ='<option value="'+data[i].id+'"';

                if (editVersion != -1 && remoteReplications[editVersion].virtualPool == data[i].id) {
                    option += "selected";
                }

                option += '>'+data[i].name+'</option>';

                vpoolSelect.append(option);
            }
            triggerSelectUpdated(vpoolSelect);
        };
        var url = '@{arrays.BlockVirtualPools.listRemoteReplicationVirtualPoolsJson()}';
        $.get(url, "virtualArray="+varrayId, handler, 'json');
    }

    var my = {};
    my.init = function() {
        dialog = $('#remoteReplicationDialog');
        form = $('#remoteReplicationForm');
        varraySelect = $('[name="remoteReplication.virtualArray"]')
        vpoolSelect = $('[name="remoteReplication.virtualPool"]')

        varraySelect.on('change',loadVirtualPoolOptions);

        dialog.on('hide', endSave);

        // Initialise the remoteReplications table
        $.each(remoteReplications, function(index, value) {
           addRemoteReplicationRow(value);
        });
    }

    function serializeRemoteReplications() {
        $('[name="vpool.remoteReplicationsJson"]').val(JSON.stringify(remoteReplications));
        $('[name="vpool.remoteReplicationsJson"]').trigger("change");
        //updateFooter();
    }

    function updateFooter() {
        var remoteReplications = $('#remoteReplications')
        var remoteReplications = remoteReplications.find('tbody > tr').length;
        if (remoteReplications > 0) {
            remoteReplications.find('tfoot > tr').hide();
        }
        else {
            remoteReplications.find('tfoot > tr').show();
        }
    }

    my.addRemoteReplication = function() {
        editVersion = -1;
        showDialog();
    }

    my.editRemoteReplication = function(event) {
        var remoteReplicationRow = getRemoteReplicationTableRow(event);
        editVersion = remoteReplicationRow[0].rowIndex-1;

        showDialog();
    }

    my.saveRemoteReplication = function(event) {
        var validationUrl = #{jsAction @validateRemoteReplication() /}();
        var data = form.serialize();
        var postSuccess = function(data, textStatus, jqXHR) {
            if (isValidationSuccess(data)) {
                doSaveRemoteReplication();
            }
            else {
                showValidationResult(data);
            }
        };
        var postFailed = function(jqXHR, textStatus, errorThrown) {
            // Show general error
        };
        startSave();
        $.post(validationUrl, data, postSuccess).fail(postFailed).always(endSave);
    }

    my.deleteRemoteReplication = function(event) {
        event.stopPropagation();

        var remoteReplicationRow = getRemoteReplicationTableRow(event);
        var remoteReplicationIndex = remoteReplicationRow[0].rowIndex-1;

        remoteReplicationRow.remove();
        remoteReplications.splice(remoteReplicationIndex, 1);

        serializeRemoteReplications();
    }
    return my;
}();

$(document).ready(function() {
    remoteRep.init();
});
</script>
#{/set}

#{set 'moreStyles'}
#{get 'moreStyles'/}
<style type="text/css">
#remoteReplicationDialog .modal-body {
    max-height: none;
    overflow-y: visible;
}
.table.remoteReplication {
    /*width: 540px;*/
    float:left;
    margin-bottom: 0;
}
.table.remoteReplication .edit {
    cursor: pointer;
}
.table.remoteReplication .virtualArray {
    width: 160px;
}
.table.remoteReplication td.virtualArray,
.table.remoteReplication td.virtualPool,
.table.remoteReplication th.virtualArray,
.table.remoteReplication th.virtualPool,
.table.remoteReplication .actions {
    width: 20px;
    text-align: center;
}
.table.remoteReplication .disabled {
    opacity: 0.5;
}
</style>
#{/set}

#{field 'vpool.remoteReplications'}
  %{ field.required = true }%
  #{Form.controlGroup field:field}
    <input type="hidden" name="vpool.remoteReplicationsJson" id="vpool_remoteReplicationsJson" value="${flash["vpool.remoteReplicationsJson"] != null ? flash["vpool.remoteReplicationsJson"] : vpool.remoteReplicationsJson}"/>
    <table id="remoteReplications" class="table table-hover remoteReplication">
    <thead>
    <tr>
      <th class="virtualArray">&{'remoteReplication.virtualArray'}</th>
      <th class="virtualPool">&{'remoteReplication.virtualPool'}</th>
      <th class="actions"></th>
    </tr>
    </thead>
#{if !locked}
    <tfoot>
    <tr>
        <th>&nbsp;</th>
        <th  class="virtualPool"><a href="#" onclick="remoteRep.addRemoteReplication(); return false;">Add Remote Replication</a></th>
        <th></th>
    </tr>
    </tfoot>
#{/if}
    <tbody>

    </tbody>
    </table>
  #{/Form.controlGroup}
#{/field}

#{set 'forms'}
#{get 'forms'/}
*{ Dialog which needs to be placed outside the main form }*
#{Modal.dialog id:'remoteReplicationDialog', titleKey:'remoteReplication.title'}
  <form id="remoteReplicationForm" class="form form-horizontal" onSubmit="return false;">
    #{authenticityToken/}
    #{Modal.body}
      #{field 'remoteReplication.virtualArray'}
        #{Form.selectOneControlGroup field:field,required:true, cssClass:'span4' /}
      #{/field}
      #{field 'remoteReplication.virtualPool'}
        #{Form.selectOneControlGroup field:field, cssClass:'span4' /}
      #{/field}
    #{/Modal.body}
    #{Modal.footer}
      <button class="btn btn-primary" onclick="remoteRep.saveRemoteReplication(event); return false;">
        #{icon 'ok-sign'/} &{'button.done'}
      </button>
      <button class="btn btn-default" data-dismiss="modal">
        #{icon 'trash'/} &{'button.cancel'}
      </button>
    #{/Modal.footer}
  </form>
#{/Modal.dialog}
#{/set}