#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.object.buckets'] /}

  <script type="text/javascript">
    var route = #{jsAction @bucketsJson(':id')/};
   
    function reloadBuckets() {
      var table = $('#buckets table'); 
      var xhr = table.data('previousXHR');
      if (xhr) {
          xhr.abort();
      }
      var projectId = $('#project option:selected').val();
      table.dataTable().fnReloadAjax(route({id: projectId}));
    }
    
    $(document).ready(function() {
      $('#project').on('change', reloadBuckets);
    });
  </script>

#{Resources.projectsControl projects:projects /}

#{DataTable.header titleKey:'nav.object.buckets' /}  
#{DataTable.table id:'buckets',
                  dataTable:dataTable,
                  source:@bucketsJson(session.activeProjectId), 
                  cssClass:'editableRows',
                  selectable:true}
  #{DataTable.buttonBar}
     <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown" data-enabled="selected">
        <span class="glyphicon glyphicon-trash"></span>
        &{'resources.buckets.deleteLink'} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a onclick="return $('#deleteFormFull').submit();">&{'resources.bucket.deleteLink.FULL'}</a></li>
        <li><a onclick="return $('#deleteFormViPRonly').submit();">&{'resources.bucket.deleteLink.VIPR_ONLY'}</a></li>
      </ul>
    </div>
    #{doBody/}
  #{/DataTable.buttonBar}

#{DataTable.formAction @delete(), id:'deleteFormFull', table:'buckets', confirm:messages.get('resources.buckets.deleteConfirm.FULL')}
    <input type="hidden" name="deleteType" value="FULL">
  #{/DataTable.formAction}
  #{DataTable.formAction @delete(), id:'deleteFormViPRonly', table:'buckets', confirm:messages.get('resources.buckets.deleteConfirm.VIPR_ONLY')}
    <input type="hidden" name="deleteType" value="VIPR_ONLY">
  #{/DataTable.formAction} 
                  
#{/DataTable.table}
