#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.object.buckets'] /}

#{breadcrumb.container}
  #{breadcrumb.item @buckets()}&{'resources.buckets'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}${bucket?.name}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="clear"></div>
<div id="bucketDetails" class="container" style="margin-bottom: 2em;">

  #{alerts/}

  #{if bucket}
  
    #{Resources.header resource:bucket, typeKey: 'resources.bucket'/}
    #{Resources.actions hide:bucket?.inactive }

      <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown">
            <span class="glyphicon glyphicon-trash"></span>
            &{'resources.bucket.deleteLink'} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="@{deleteBucket(bucket.id, 'FULL')}" onclick="return confirm('&{'resources.bucket.deleteConfirm.FULL'}');">&{'resources.bucket.deleteLink.FULL'}</a></li>
            <li><a href="@{deleteBucket(bucket.id, 'INTERNAL_DB_ONLY')}" onclick="return confirm('&{'resources.bucket.deleteConfirm.INTERNAL_DB_ONLY'}');">&{'resources.bucket.deleteLink.INTERNAL_DB_ONLY'}</a></li>
          </ul>
    </div> 
    #{/Resources.actions}
    
    <dl class="dl-horizontal pull-left">  
      <dt>&{'resources.bucket.path'}:</dt>
      <dd>
       &nbsp;
       ${bucket.path}
        &nbsp;
      </dd>
      <dt>&{'resources.bucket.owner'}:</dt>
      <dd>
       &nbsp;
       ${bucket.owner}
        &nbsp;
      </dd>
      <dt>&{'resources.bucket.softQuota'}:</dt>
      <dd>
       &nbsp;
       ${bucket.softQuota} &{'SizeUnit.GB'}
        &nbsp;
      </dd>
      <dt>&{'resources.bucket.hardQuota'}:</dt>
      <dd>
       &nbsp;
       ${bucket.hardQuota} &{'SizeUnit.GB'}
        &nbsp;
      </dd>
      <dt>&{'resources.bucket.retention'}:</dt>
      <dd>
       &nbsp;
       ${bucket.retention}
        &nbsp;
      </dd>
      <dt>&{'resources.bucket.protocols'}:</dt>
      <dd>
       &nbsp;
        #{list bucket.protocols, as:'protocol'}
          ${protocol}#{if !protocol_isLast},#{/if}
        #{/list}
        &nbsp;
      </dd>        
      <dt>&{'resources.bucket.varray'}:</dt>
      <dd><img src="/public/img/serviceCatalog/Virtual_Array.png" style="width: 32px;"/> #{spaceForNull virtualArray?.name/}</dd>
      <dt>&{'resources.bucket.vpool'}:</dt>
      <dd><img src="/public/img/serviceCatalog/Virtual_Pool.png" style="width: 32px;"/> #{spaceForNull virtualPool?.name/}</dd>
      <dt> &nbsp;</dt>
      <dd>
      <a href="@{listBucketACL(bucket.id)}">&{'resources.bucket.manageAcl'}</a><br/>      
      &nbsp;
      </dd>   
    </dl>

    <div class="clearfix"></div>
   

    <br/>
    
    #{Resources.tasks resourceId:bucket.id /}
  
  #{/if}
  #{else}
    <span class="errorMessage">&{'resources.bucket.notfound'}</span>
  #{/else}

</div>
                  



