.exampleEditor {
    background-color: #eee !important;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.jsPlumb_dragged {
    z-index: 999;
}
.jsPlumb-container {
    width:4000px;
    height:4000px;
    position:relative;
    background-image: url("/public/img/grid.png");
}
.example-item-card-wrapper {
    position:absolute;
    overflow: visible;
    z-index:200;
    min-width: 100px;
    //min-height: 70px;
}

.example-item-card-wrapper a {
    text-decoration: none;
}

.item {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom:15px;
    padding-top:15px;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 3px;
    pointer-events:none;
}

.sidebar {
    background-color: #555555 !important;
    z-index:999 !important;
    width: 100%;
    height: 100vh;
    float: left;
}
.buttonbar {
    z-index: 100;
    right: 40px;
    margin: 40px;
    position: absolute;
}

.passEndpoint svg circle {
     fill: #5cb85c;
     border-color: #4cae4c;
 }

.failEndpoint svg circle {
    fill: #d9534f;
    border-color: #d43f3a;
}

.jsplumb-endpoint.jsplumb-endpoint-connected {
    opacity: 1;
}

.jsplumb-connector {
    z-index: 4;
}

.jsplumb-endpoint {
    z-index: 5;
    opacity: 0.2;
    stroke: none;
}

.itemText {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    pointer-events:none;
}

.draggable-card {
    display: inline-block;
    z-index: 100;
}

.draggable-card .itemText {
    font-size: 16px;
}

.builder-column {
    width: auto;
    overflow: hidden;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

.button-step-close {
    position: absolute;
    right: 0px;
    margin: 5px;
    color: white;
}
