%{
  titleKey = "ApplicationForm.title"
  descriptionKey = "application.create.description"
}%

#{extends 'main.html' /}
#{set 'title'}&{'ApplicationForm.title'}#{/set}
  #{set 'moreScripts'}
    #{get 'moreScripts'/}
  #{/set}
  
#{breadcrumb.container}
  #{breadcrumb.item @list()}&{'Application.list.title'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="container">
  #{Form.header titleKey:titleKey, descriptionKey:descriptionKey, image:image  /}

  #{alerts/}

  #{form @save(), id:'applicationForm',class:'form form-horizontal', autocomplete:"off"}
  
    #{field "applicationForm.name"}
      %{
        field.cssClass = fieldCssClass
        field.required = true
      }%
      #{Form.inputTextControlGroup field:field/}
    #{/field}
   
     #{field 'applicationForm.description'}
        %{
          field.cssClass = 'span0'
          field.required = false
        }%
      #{Form.inputTextControlGroup field:field/}
    #{/field}
    
    #{field 'applicationForm.roles'}
      %{
        field.cssClass = "bla";
        field.cssClassLabel = 'inline'
        field.required = true
      }%
      #{Form.controlGroup field:field }
        %{
          field.disabled = false
        }%
        <div class="span6" style="margin-left:0px;">
          #{Form.checkBox field:field, value: "COPY"}Copy#{/Form.checkBox}
          #{Form.checkBox field:field, value: "DR"}DR#{/Form.checkBox}
        </div>
      #{/Form.controlGroup}      
    #{/field}    
    
    #{Form.saveCancel cancelHref:@cancel() /}
  #{/form}
</div>
