%{
  resource = _resource;
  resourceId = resource?.resourceId;
  otherResources = _otherResources;
}%

#{if resource?.type == com.emc.sa.util.ResourceType.VOLUME}
  #{AffectedResources.volume resource:resource, otherResources:otherResources/}
#{/if}
#{elseif resource?.type == com.emc.sa.util.ResourceType.EXPORT_GROUP}
  #{AffectedResources.exportGroup resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.FILE_SHARE}
  #{AffectedResources.fileSystem resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.FILE_SNAPSHOT}
  #{AffectedResources.fileSnapshot resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.BLOCK_SNAPSHOT}
  #{AffectedResources.blockSnapshot resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.BLOCK_SNAPSHOT_SESSION}
  #{AffectedResources.blockSnapshotSession resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.BLOCK_CONTINUOUS_COPY}
  #{AffectedResources.blockContinuousCopy resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.HOST}
  #{AffectedResources.host resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.CLUSTER}
  #{AffectedResources.cluster resource:resource, otherResources:otherResources/}
#{/elseif}
#{elseif resource?.type == com.emc.sa.util.ResourceType.CONSISTENCY_GROUP}
  #{AffectedResources.blockConsistencyGroup resource:resource, otherResources:otherResources/}
#{/elseif}

