%{
  icons = [
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.PENDING.name()): 'glyphicon-time',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.EXECUTING.name()): 'glyphicon-refresh rotate',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.SUCCESS.name()): 'glyphicon-ok',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.PARTIAL_SUCCESS.name()): 'glyphicon-info-sign',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.ERROR.name()): 'glyphicon-remove',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.SCHEDULED.name()): 'glyphicon-time',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.CANCELLED.name()): 'glyphicon-remove',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.APPROVAL.name()): 'glyphicon-flag',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.APPROVED.name()): 'glyphicon-check',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.REJECTED.name()): 'glyphicon-remove',
    (com.emc.storageos.db.client.model.uimodels.OrderStatus.PAUSED.name()): 'glyphicon-pause'
  ]
  icon = icons[_status]
}%
#{icon icon/}