%{
  titleKey = 'storageDrivers.install.title';
}%

#{set 'title'}&{titleKey}#{/set}

#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.storageDrivers'] /}

#{alerts/}

#{Form.header titleKey:'storageDrivers.upload.title' /}
#{form @saveDriver(), enctype:'multipart/form-data', method:'POST', class:'form form-horizontal', autocomplete:"off"}
     #{field 'driverFile'}
        #{Form.fileUploadControlGroup field:field/}
     #{/field}
     #{Form.buttonBar}
        <button type="submit" class="btn btn-primary btn-large" onclick="if (!confirm('&{'storageDrivers.upgrade.confirm'}')){return false;}">#{icon 'ok-sign'/} &{'storageDrivers.installButton'}</button>
        #{Form.button name:'button.cancel', icon:'trash', href:@list()/}
     #{/Form.buttonBar}
#{/form}