%{
  titleKey = 'storageDrivers.upgrade.title';
  descriptionKey = 'storageDrivers.upgrade.description';
  image = '/public/img/assets/StorageDriver.png';
}%

#{set 'title'}&{titleKey}#{/set}

#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.storageDrivers'] /}

#{breadcrumb.container}
  #{breadcrumb.item @list()}&{'storageDrivers.list.title'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}#{get 'title'/}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="container">

#{Form.header titleKey:titleKey, descriptionKey:descriptionKey, image:image/}
#{alerts/}
#{form @upgradeDriver(), enctype:'multipart/form-data', method:'POST', class:'form form-horizontal', autocomplete:"off"}
     #{field 'driverFile'}
        #{Form.fileUploadControlGroup field:field/}
     #{/field}
     <control-group v-field="force">
         <boolean-checkbox v-disabled='locked'></boolean-checkbox>
     </control-group>
     #{Form.buttonBar}
        <input name="driverName" value="${driverName}" style="display:none;" />
        <button type="submit" class="btn btn-primary btn-large" onclick="if (!confirm('&{'storageDrivers.operation.confirm'}')){return false;}">#{icon 'ok-sign'/} &{'storageDrivers.upgradeButton'}</button>
        #{Form.button name:'button.cancel', icon:'trash', href:@list()/}
     #{/Form.buttonBar}
#{/form}
</div>