#{if isError }
<dl class="dl-horizontal">
  <dt>&{'disasterRecovery.error.code'}</dt>
  <dd>${disasterSiteError.serviceCode}</dd>
  
  <dt>&{'disasterRecovery.error.code.name'}</dt>
  <dd>${disasterSiteError.serviceCodeName}</dd>
  
  <dt>&{'disasterRecovery.error.creation.time'}</dt>
  <dd>${disasterSiteError.creationTime ?: '-'}</dd>
  
  <dt>&{'disasterRecovery.error.message'}</dt>
  <dd>${disasterSiteError.errorMessage}</dd>
</dl>
#{/if}
#{else}
<dl class="dl-horizontal">
  <dt>&{'disasterRecovery.error.creation.time'}</dt>
  <dd>${disasterSiteTime.creationTime ?: '-'}</dd>
  <dt>&{'disasterRecovery.paused.time'}</dt>
  <dd>${disasterSiteTime.pausedTime ?: '-'}</dd>
  <dt>&{'disasterRecovery.lastOperation.time'}</dt>
  <dd>${disasterSiteTime.lastOperationTime ?: '-'}</dd>  
</dl>	
#{/else}