#{extends 'main.html' /}
#{set navSelected: ['nav.config', 'nav.disasterRecovery'] /}

#{DataTable.header titleKey:'disasterRecovery.title'/}
#{DataTable.crudTable id:'disasterRecovery', 
                      dataTable:dataTable, 
                      actions: ['disasterRecovery.standby.pauseButton': @pause ,'disasterRecovery.standby.resumeButton': @resume, 'disasterRecovery.standby.testButton': @testMode],
                      deleteConfirm:messages.get('VirtualPools.deleteConfirm')}

#{/DataTable.crudTable}
