#{extends 'main.html'/}
#{set navSelected: ['nav.settings', 'nav.disasterRecovery'] /}
#{if iamActiveSite }
	#{set 'title'}&{'disasterRecovery.switchover'}#{/set}
#{/if}
#{else}
	#{set 'title'}&{'disasterRecovery.failover'}#{/set}
#{/else}
#{Form.header titleKey:'disasterRecovery.title' /}
#{alerts/}

<div>
   	<b style="font-size:13px">&{'disasterRecovery.switchover.active'}:</b>
   	<span id="bourne-version">${active_name}</span><br/>
</div>
<br/>
<div>
   	<b style="font-size:13px">&{'disasterRecovery.switchover.standby'}:</b>
   	<span id="bourne-version">${standby_name}</span><br/>
</div>
<br/>
<br/>
#{if iamActiveSite }
	#{Form.subheader titleKey:"disasterRecovery.switchover.subtitle" /}
#{/if}
#{else}
	#{Form.subheader titleKey:"disasterRecovery.failover.subtitile" /}
#{/else}
<br/>
<div id="switchdesc">
	<span> &{'disasterRecovery.switchover.setting'} <b style="font-size:14px">${standby_name}</b> &{'disasterRecovery.switchover.active.to'}</span>
	<br/><br/>
	<dl>
  		<dt id="loadingStatus"> #{loading/}</dt>
  		#{if iamActiveSite }
			<dd id="checkFailoverStatus">&{'disasterRecovery.switchover.progress'} </dd>
		#{/if}
		#{else}
			<dd id="checkFailoverStatus">&{'disasterRecovery.failover.progress'} </dd>
		#{/else}
	</dl>
	<span id="failoverWarining">&{'disasterRecovery.failover.progress.warning'}</span>
	<span id="redirectSite" hidden="hidden">
		&{'disasterRecovery.switchover.login.instruction'} <a href="https://${standby_vip}" >${standby_name}</a>
	</span>
</div>

<script>
$(document).ready(function() {
	checkFailoverStatusUpdates();
});

function checkFailoverStatusUpdates() {
	window.setInterval(function() {
		checkFailoverProgressUpdate()
    }, 10000); // Check every 10 seconds
}

var checkFailoverProgress = #{jsAction @checkFailoverProgress(':uuid')/};

function checkFailoverProgressUpdate() {
	$.ajax({
        method: "get",
        url: checkFailoverProgress(({"uuid": "${site_uuid}"})),
        dataType: "json",

        success: function(result) {
			if(result.state == "ACTIVE") {
				$("#loadingStatus").text('&{'disasterRecovery.failover.complete'}');
 				$("#checkFailoverStatus").text('');
 				$("#failoverWarining").text('');
 				$("#redirectSite").show();
			}
			if(result.state == "STANDBY_ERROR") {
				$("#loadingStatus").text('&{'disasterRecovery.failover.uncomplete'}');
				$("#checkFailoverStatus").text('');
				$("#failoverWarining").text('');
				$("#redirectSite").text('&{'disasterRecovery.switchover.failed.instruction'}');
				$("#redirectSite").show();
			}
        },
        error: function() {
        }
	});
}
</script>