#{extends 'main.html'/}
#{set navSelected: ['nav.adminDashboard', 'nav.auditLog'] /}

%{
	currentDate = params["date"]
	if (currentDate == null) {
		currentDate = new Date()
	}
	else {
		currentDate = new Date(new Long(currentDate));
	}
}%

#{set 'moreStyles'}
<style type="text/css">

    #auditLog thead th.time {
        word-break: normal;
        min-width: 120px;
    }

    #auditLog thead th.result {
        word-break: normal;
        min-width: 70px;
    }

    #auditLog thead th.description {
        word-break: normal;
        min-width: 250px;
    }
</style>
#{/set}

<div class="section-header"><h1>&{'audit.log.title'}</h1></div>

<div id="system-logs">
    <form class="form-inline col-md-6" onsubmit="refreshLog(); return false;"
          style="margin-bottom: 0px;padding-top:10px;">
    #{field 'auditLogDate'}
    	%{
    		field.value = currentDate
    	}%
        #{Form.dateTimePicker field:field, hideTime:true /}
    #{/field}
    &nbsp;Hour: <select id="hour-combobox" name="hour" class="form-control input-sm" style="width:6em">
        #{list items:00..23, as:'hourOption'}
            %{
                prefix = hourOption<10?"0":""
                hourString = prefix+hourOption
            }%

            <option value="${hourString}">${hourString}</option>
        #{/list}
    </select>

    <input type="submit" class="btn btn-sm btn-primary" value="&{'system.logs.showLogs'}"/>
    </form>

    <div ng-controller="AuditLogCtrl">
        <div class="filter-text">
            <div class="buttons">
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filter-dialog"
                        data-type="filter">
                    <span v-icon="filter"></span> {{'auditLog.changefilter' | t}}
                </button>
                <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#filter-dialog"
                        data-type="download">
                    <span v-icon="download"></span> {{'auditLog.download' | t}}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal fade" id="filter-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{('systemLogs.'+filterDialog.type+'.title') | t}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <control-group v-field="filterDialog.resultStatus" width="9">
                                <select-one options="resultStatusOptions"></select-one>
                            </control-group>
                            <control-group v-field="filterDialog.startTime" width="9">
                                <date-picker ng-model="filterDialog.startTime_date" close="true"></date-picker>
                                <time-picker ng-model="filterDialog.startTime_time"></time-picker>
                            </control-group>
                            <control-group v-field="filterDialog.endTime" width="9"
                                           ng-show="filterDialog.type == 'download'">
                                <date-picker ng-model="filterDialog.endTime_date"
                                             ng-hide="filterDialog.endTimeCurrentTime"
                                             close="true"></date-picker>
                                <time-picker ng-model="filterDialog.endTime_time"
                                             ng-hide="filterDialog.endTimeCurrentTime"></time-picker>
                                <div class="checkbox current-time-toggle">
                                    <label><input type="checkbox" ng-model="filterDialog.endTimeCurrentTime">
                                        {{'filterDialog.currentTime' | t}}</label>
                                </div>
                            </control-group>
                            <control-group v-field="filterDialog.serviceType" width="9">
                                <input-text></input-text>
                            </control-group>
                            <control-group v-field="filterDialog.user" width="9">
                                <input-text></input-text>
                            </control-group>
                            <control-group v-field="filterDialog.keyword" width="9">
                                <input-text onkeydown="updateFilter(event.keyCode)"></input-text>
                            </control-group>
                            <control-group v-field="filterDialog.orderTypes" width="9"
                                           ng-show="filterDialog.type == 'download'">
                                <select-one options="orderTypeOptions"></select-one>
                            </control-group>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="downloadLogs()"
                                ng-show="filterDialog.type == 'download'">
                            <span v-icon="download"></span> {{'system.logs.download' | t}}
                        </button>
                        <button type="button" id="filterButton" class="btn btn-primary" ng-click="applyFilter()"
                                ng-show="filterDialog.type == 'filter'">
                            <span v-icon="filter"></span> {{'system.logs.update' | t}}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span v-icon="remove"></span> {{'button.close' | t}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



%{
options = ['bFilter': false, 'fnServerParams': 'loadServerParams', 'sAjaxDataProp': '""', 'bServerSide':false]
}%
#{DataTable.table id:'auditLog',
                  dataTable:dataTable,
                  source:@logsJson(),
                  expandable:true,
                  cssClass:'editableRows',
                  options:options /}
#{DataTable.expandAction 'renderDetails', table:'auditLog', target:'tr'/}
#{set 'moreScripts'}
	#{get 'moreScripts'/}
	<script type="text/javascript">

	$(document).ready(function() {
		var initialDate = moment(#{if currentDate}${currentDate.getTime()}#{/if});

		var hourString = initialDate.format("HH");
		$('#hour-combobox').val(hourString);

		initialDate.milliseconds(0);
		initialDate.seconds(0);
		initialDate.minutes(0);
		initialDate.hours(0);

		auditLogDate.setTime(initialDate);

	  });

    function loadServerParams(aoData) {
        aoData.push({"name" : "date", "value" : "${currentDate.getTime()}"});
        aoData.push({"name" : "startTime", "value" : "${startTime}"});
        aoData.push({"name" : "resultStatus", "value" : "${resultStatus}"});
        aoData.push({"name" : "serviceType", "value" : "${serviceType}"});
        aoData.push({"name" : "user", "value" : "${user}"});
        aoData.push({"name" : "keyword", "value" : "${keyword}"});
        aoData.push({"name" : "triggerByFilter", "value" : "${triggerByFilter}"});
    }

    function renderTime(o, val) {
        var time_ms = o.aData._timeInMillis;
        if (time_ms) {
            return moment(time_ms).format('YYYY-MM-DD HH:mm')
        }
        return "";
    }

    function renderDetails(data) {
        var details = "<pre style='margin:15px;' class='auditLogs'>" + data._description + "</pre>";

        return details;
    }

    function refreshLog() {
        var time = getSelectedDateTime();

        var uri = "@{list()}?date=" + time;

        window.location.href = uri;
    }

    function renderResult(o, val) {
        var operationalStatus = o.aData._operationalStatus;
        if (operationalStatus) {
            operationalStatus = operationalStatus.toUpperCase();
            subClass = ""
            if ("SUCCESS" == operationalStatus) {
                subClass = "label-success"
            }
            else {
                subClass = "label-danger"
            }

            return "<div class='text-center label " + subClass + "'>" + operationalStatus + "</div>"
        }
        return "";
    }

    function renderDescription(o, val) {
    	return "<div class='auditLogsDescription'>" + o.aData._description + "</div>"
    }

    function getSelectedDateTime() {
    	var time = auditLogDate.getTime();

    	var newDate = moment(time);
    	newDate.hours(0);
    	newDate.minutes(0);
    	newDate.seconds(0);
    	newDate.milliseconds(0);

    	var hourString = $("#hour-combobox").val();
    	newDate.hours(hourString);

    	return newDate.valueOf();
    }


	</script>
#{/set}