<dl class="dl-horizontal">
  <dt>&{'storagegroups.datastoresAffected'}:</dt>
  
    #{list datastoresAffected, as:'datastoreAffected'}
       <dd> ${datastoreAffected} </dd>
    #{/list}
    #{if datastoresAffected == null || datastoresAffected.isEmpty()}
       <dd> None</dd>
    #{/if}
  
  
  <dt>&{'storagegroups.initiators'}:</dt>
    #{list initiators, as:'initiator'}
       <dd> ${initiator} </dd>
    #{/list}
    #{if initiators == null || initiators.isEmpty()}
       <dd> None </dd>
    #{/if}
  
  <dt>&{'storagegroups.zonesReused'}:</dt>
  
    #{list zonesReused, as:'zoneReused'}
       <dd> ${zoneReused} </dd>
    #{/list}
    #{if zonesReused == null || zonesReused.isEmpty()}
       <dd> None</dd>
    #{/if}
  </dd>
  
  <dt>&{'storagegroups.zonesCreated'}:</dt>
  
    #{list zonesCreated, as:'zoneCreated'}
       <dd> ${zoneCreated} </dd>
    #{/list}
    #{if zonesCreated == null || zonesCreated.isEmpty()}
       <dd> None </dd>
    #{/if}
    
   <dt>&{'storagegroups.storagePorts'}:</dt>
  
    #{list storagePorts, as:'storagePort'}
       <dd> ${storagePort} </dd>
    #{/list}
    #{if storagePorts == null || storagePorts.isEmpty()}
       <dd> None </dd>
    #{/if}
</dl>