#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.block.volumes'] /}
  <script type="text/javascript">
    var route = #{jsAction @volumesJson(':id',':appId')/};
   
    function reloadVolumes() {
      var table = $('#volumes table'); 
      var xhr = table.data('previousXHR');
      if (xhr) {
          xhr.abort();
      }
      var projectId = $('#project option:selected').val();
      var applicationId = $('#application option:selected').val();
      table.dataTable().fnReloadAjax(route({id: projectId, appId:applicationId}));
    }
    
    function disableSRDFSource() {
        //Do nothing if dataTable is not created
        if (table.volumes.dataTable.getDataTable() != null) {
            var count = 0;
            $('#volumes table tr').each(function() {
                var rowData = table.volumes.dataTable.getRowData(this);
                if (rowData != null && rowData.srdfTarget) {
                    $(this).find('input').prop('disabled', true);
                    count++;
                }
            });
            (count > 0) ? $('#srdfAlert').show() : $('#srdfAlert').hide();
        }
    }
    
    table.volumes.dataTable.setDrawCallback(disableSRDFSource);
    
    $(document).ready(function() {
      $('#project').on('change', reloadVolumes);
      $('#application').on('change' , reloadVolumes);
      
      // analyze
      $("#btnCallWebService").click(function (event) {
          var wsUrl = "https://lglak140:58443/APG-WS/wsapi/db";

          var soapRequest =
'<?xml version="1.0" encoding="utf-8"?>' +
'<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dat="http://www.watch4net.com/APG/Remote/DatabaseAccessorService">' +
'<soap:Body>' +
'<dat:getAggregatedData>' +
'<dat:filter>devtype==\'Host\' &amp; device==\'lgloh041\' &amp; name==\'CurrentUtilization\' &amp; parttype==\'FileSystem\' &amp; part==\'\/opt\'</dat:filter>' +
  '<dat:start-timestamp>1456423942</dat:start-timestamp>' +
  '<dat:end-timestamp>1456424842</dat:end-timestamp>' +
  '<dat:aggregations count="last"/>' +
'</dat:getAggregatedData>' +
'</soap:Body>' +
'</soap:Envelope>';

var authorization = 'Basic ' + btoa('admin:changeme');

$.support.cors = true;

          $.ajax({
        	  crossDomain: true,
              type: "POST",
              url: wsUrl,
              contentType: "text/xml",
              dataType: "xml",
              data: soapRequest,
              success: processSuccess,
              error: processError,
				beforeSend: function (xhr) {
					xhr.setRequestHeader ("Authorization", authorization);
				}
          });

      });
    });
    
    function processSuccess(data, status, req) {
        if (status == "success")
            alert($(req.responseXML));
    }

    function processError(data, status, req) {
        alert(req.responseText + " " + status);
        $("response").attr('style','visibility: visibile');
        $("expand-btn").attr('style','visibility: visibile');
    }
  </script>

#{Resources.applicationControl projects:projects /}

<p id="srdfAlert" class="alert alert-info" style="display:none">&{'resources.volume.disabledSRDF'}</p> 

#{DataTable.header titleKey:'nav.block.volumes' /}  
#{DataTable.table id:'volumes',
				  expandable:true,
                  dataTable:dataTable,
                  source:@volumesJson(session.activeProjectId), 
                  cssClass:'editableRows',
                  selectable:true}
  #{DataTable.buttonBar}
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown" data-enabled="selected">
        <span class="glyphicon glyphicon-trash"></span>
        &{'resources.volume.deleteLink'} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a onclick="return $('#deleteFormFull').submit();">&{'resources.volume.deleteLink.FULL'}</a></li>
        <li><a onclick="return $('#deleteFormViPRonly').submit();">&{'resources.volume.deleteLink.VIPR_ONLY'}</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button id="btnCallWebService" type="button" class="btn btn-info" name="Analyze" onclick="pollStatus()">
         Analyze
      </button>
    </div>
    <div id="response" class="btn-group" style="visibility: hidden;">The current utilization is 80 %. Do you wish to Expand ?</div>
    <div id="expand-btn" class="btn-group" style="visibility: hidden;">
    	
    </div>
    #{doBody/}
  #{/DataTable.buttonBar}
  #{DataTable.formAction @delete(), id:'deleteFormFull', table:'volumes', confirm:messages.get('resources.volumes.deleteConfirm.FULL')}
    <input type="hidden" name="type" value="FULL">
  #{/DataTable.formAction}
  #{DataTable.formAction @delete(), id:'deleteFormViPRonly', table:'volumes', confirm:messages.get('resources.volumes.deleteConfirm.VIPR_ONLY')}
    <input type="hidden" name="type" value="VIPR_ONLY">
  #{/DataTable.formAction}
#{/DataTable.table}
#{DataTable.expandHtml @volumeDetails(':id'), table:'volumes' /}
#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
function renderLink(o, val) {
    var data = o.aData;
    var url = #{jsAction @resources.BlockVolumes.volume(':id') /};
    var href = url(data);
    
    return "<a href='"+href+"'>" + val + "</a>";
}
function pollStatus() {
	alert("in function");
	var uri = "@{analyze()}"
}
</script>
#{/set}