#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.block.volumes'] /}
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
  <script type="text/javascript">
    var route = #{jsAction @volumesJson(':id',':appId')/};
   
    function reloadVolumes() {
      var table = $('#volumes table'); 
      var xhr = table.data('previousXHR');
      if (xhr) {
          xhr.abort();
      }
      var projectId = $('#project option:selected').val();
      var applicationId = $('#application option:selected').val();
      table.dataTable().fnReloadAjax(route({id: projectId, appId:applicationId}));
    }
    
    function disableSRDFSource() {
        //Do nothing if dataTable is not created
        if (table.volumes.dataTable.getDataTable() != null) {
            var count = 0;
            $('#volumes table tr').each(function() {
                var rowData = table.volumes.dataTable.getRowData(this);
                if (rowData != null && rowData.srdfTarget) {
                    $(this).find('input').prop('disabled', true);
                    count++;
                }
            });
            (count > 0) ? $('#srdfAlert').show() : $('#srdfAlert').hide();
        }
    }
    
    table.volumes.dataTable.setDrawCallback(disableSRDFSource);
    
    $(document).ready(function() {
      $('#project').on('change', reloadVolumes);
      $('#application').on('change' , reloadVolumes);
      
      // Create overlay and append to body:
      $('<div id="overlay"/>').css({
          position: 'fixed',
          top: 0,
          left: 0,
          width: '100%',
          height: $(window).height() + 'px',
          opacity:0.4, 
          background: 'lightgray url(/public/img/loading-big.gif) no-repeat center'
      }).hide().appendTo('body');

      // Execute refresh with interval:
      // setInterval(refresh, 1 * 1000);
    });
  </script>

#{Resources.applicationControl projects:projects /}

<p id="srdfAlert" class="alert alert-info" style="display:none">&{'resources.volume.disabledSRDF'}</p> 

#{DataTable.header titleKey:'nav.block.volumes' /}  
#{DataTable.table id:'volumes',
				  expandable:true,
                  dataTable:dataTable,
                  source:@volumesJson(session.activeProjectId), 
                  cssClass:'editableRows',
                  selectable:true}
  #{DataTable.buttonBar}
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown" data-enabled="selected">
        <span class="glyphicon glyphicon-trash"></span>
        &{'resources.volume.deleteLink'} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a onclick="return $('#deleteFormFull').submit();">&{'resources.volume.deleteLink.FULL'}</a></li>
        <li><a onclick="return $('#deleteFormViPRonly').submit();">&{'resources.volume.deleteLink.VIPR_ONLY'}</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button id="analyze" type="button" class="btn btn-info" name="Analyze" onclick="analyze();" data-enabled="selected">
         Analyze
      </button>
    </div>
    <div id="response" class="btn-group" style="visibility: hidden; padding-left: 75px"></div>
    <input id="expandVolume" name="expandVolume" value="1GB" style="visibility: hidden;" />
    <div id="expand-btn-div" class="btn-group" style="visibility: hidden;">
    	<button id="expand-btn" type="button" class="btn btn-danger" name="Expand" onclick="expandVolume();">
         	Expand
      	</button>
    </div>
    #{doBody/}
  #{/DataTable.buttonBar}
  #{DataTable.formAction @delete(), id:'deleteFormFull', table:'volumes', confirm:messages.get('resources.volumes.deleteConfirm.FULL')}
    <input type="hidden" name="type" value="FULL">
  #{/DataTable.formAction}
  #{DataTable.formAction @delete(), id:'deleteFormViPRonly', table:'volumes', confirm:messages.get('resources.volumes.deleteConfirm.VIPR_ONLY')}
    <input type="hidden" name="type" value="VIPR_ONLY">
  #{/DataTable.formAction}
#{/DataTable.table}

#{DataTable.expandHtml @volumeDetails(':id'), table:'volumes' /}
#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
function renderLink(o, val) {
    var data = o.aData;
    var url = #{jsAction @resources.BlockVolumes.volume(':id') /};
    var href = url(data);
    
    return "<a href='"+href+"'>" + val + "</a>";
}

function analyze() {
    // SHOW overlay
    $('#overlay').show();
	$.get("@{resources.BlockVolumes.analyze()}")
    .done(function(result) {
    		if(result >= 1) {
    		    // SHOW overlay
    		    $('#overlay').hide();
	        	$("#response").html('<span>The current utilization is <p style="display: inline;color: red;">90%</p>. Do you wish to expand ?</span>');
	        	$("#response").attr('style','visibility: visibile; padding-left: 75px;');
	        	$("#expandVolume").attr('style','visibility: visibile; padding-right: 15px;');
	    		$("#expand-btn-div").attr('style','visibility: visibile;');
    		} else {
    			$('#overlay').hide();
    			$("#response").text("The current Utilization is " + result + " %.");
    			$("#response").attr('style','visibility: visibile; padding-left: 75px;');
    		}
    	}
    );   
}

function expandVolume(){
	$('#overlay').show();
	$.get("@{resources.BlockVolumes.expandVolume('urn:storageos:Volume:ee4a9dba-f0fa-45ae-ac74-08755b34d63d:vdc1', '15GB')}")
    .done(function(result) {
    		$('#overlay').hide();
    		location.reload(true);
    	}
    ); 
}
</script>
#{/set}