%{
  titleKey = 'ScheduledOrder.edit.title';
}%
#{extends 'main.html'/}
#{set navSelected: ['nav.tenantsettings', 'nav.tenants'] /}
#{set 'title'}&{titleKey}#{/set}

<div>
<div id="orderDetails" class="container" style="margin-bottom: 2em;">
  #{Orders.serviceHeader service:details.catalogService /}
  
  <div class="pull-left span5">
    <dl class="dl-horizontal nomargin">
      <dt>&{'order.dateSubmitted'}:</dt>
      <dd>#{localDateTime details.order.creationTime?.time/}&nbsp;</dd>
      
      <dt>&{'order.submittedBy'}:</dt>
      <dd>${details.order.submittedBy}&nbsp;</dd>
      
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd></dd>
    </dl>
  </div>

  <div class="pull-left span6" style="overflow:hidden">
     #{Orders.parameters parameters:details?.orderParameters /}
  </div>
  
  <div id="affectedResources" #{if !details.affectedResources}style="display:none"#{/if}>
    <div class="section-header"><h1>&{'order.affectedResources'}</h1></div>
    <div class="content">
      #{list items:details.affectedResources, as:'resource'}
        #{Orders.affectedResource resource:resource, otherResources:details.affectedResources.find{it != resource} /}
      #{/list}
    </div>
  </div>
  
  <div style="padding-bottom: 1em;"></div>
  </div>
</div>

<div class="container" id="executionWindow">
  #{if details.catalogService.executionWindowRequired && (details.order.isPending() || details.order.isScheduled())}
  #{Services.executionWindow details.catalogService/}
  #{/if}
</div>

<div class="container" ng-controller="schedulerEditCtrl">
#{Form.header titleKey:titleKey /}

#{alerts/}


#{form @save(), id:'scheduleEventForm', class:'form form-horizontal', autocomplete:"off"}
    <input type="hidden" name="scheduler.id" value="{{scheduler.id}}">
    
    #{Services.scheduler /}
    
	#{Form.saveCancel cancelHref:@list()/} 
#{/form}

</div>

#{set 'moreScripts'}
<script type="text/javascript">
   function showDeactivateConfirm() {
       if (!confirm(Messages.get("ScheduledOrder.deactivate.confirm"))) {
           e.preventDefault();
       }
    }
 </script>
 #{/set}


