%{
  titleKey = 'ScheduledOrders.edit.title';
}%
#{extends 'main.html'/}
#{set navSelected: ['nav.tenantsettings', 'nav.tenants'] /}
#{set 'title'}&{titleKey}#{/set}

<div>
<div id="orderDetails" class="container" style="margin-bottom: 2em;">
  #{Orders.serviceHeader service:details.catalogService /}
  
  <div class="pull-left span5">
    <dl class="dl-horizontal nomargin">
      <dt>&{'order.dateSubmitted'}:</dt>
      <dd>#{localDateTime details.order.creationTime?.time/}&nbsp;</dd>
      
      <dt>&{'order.submittedBy'}:</dt>
      <dd>${details.order.submittedBy}&nbsp;</dd>
      
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd></dd>
    </dl>
  </div>

  <div class="pull-left span6" style="overflow:hidden">
    #{include 'catalog/Orders/orderParameters.html'/}
  </div>

  <div id="executionWindow">
  #{if details.catalogService.executionWindowRequired && (details.order.isPending() || details.order.isScheduled())}
    #{Services.executionWindow details.catalogService/}
  #{/if}
  </div>
  
  <div id="affectedResources" #{if !details.affectedResources}style="display:none"#{/if}>
    <div class="section-header"><h1>&{'order.affectedResources'}</h1></div>
    <div class="content">
      #{list items:details.affectedResources, as:'resource'}
        #{Orders.affectedResource resource:resource, otherResources:details.affectedResources.find{it != resource} /}
      #{/list}
    </div>
  </div>
  
  <div style="padding-bottom: 1em;"></div>
  </div>
</div>

<div class="container" ng-controller="schedulerEditCtrl">
#{Form.header titleKey:titleKey /}

#{alerts/}


#{form @save(), id:'scheduleEventForm', class:'form form-horizontal', autocomplete:"off"}
    <input type="hidden" name="scheduler.id" value="{{scheduler.id}}">
    
    #{Services.scheduler /}
    
    #{Form.saveCancel cancelHref:referrer/}

#{/form}

</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function() {

        // know where it came from so can navigate back;
        // only set the referrerUrl if it has not been set at some earlier point 
        // i.e. in multi-step flows take into account error-handling
        var referrerUrl = $('input[name="project.referrerUrl"]').val();
        if(!referrerUrl)
            referrerUrl = document.referrer;

        // navigate back only if referral URL is different than this one
        if(referrerUrl && referrerUrl != document.URL) {
            $('input[name="project.referrerUrl"]').val(referrerUrl);
            // navigate cancel button to referrer url
            $('div.form-actions a.btn').attr('href', referrerUrl);
        }
    });

</script>
#{/set}
