#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.file.filesystems'] /}

<script type="text/javascript">
  var route = #{jsAction @fileSystemsJson(':id')/};
 
  function reloadFileSystems() {
    var table = $('#fileSystems table'); 
    var xhr = table.data('previousXHR');
    if (xhr) {
        xhr.abort();
    }
    var id = $('#project option:selected').val();
    table.dataTable().fnReloadAjax(route({id: id}));
  }

  $(document).ready(function() {
    $('#project').on('change', reloadFileSystems);
  });
  
  render.uploadProgressIcon = function(o, val) {
		 if (!o) {
		        return "";
		    }
		    var labels = {
		        '':   'label-danger',
		        'True':    'label-success',
		    }
		    var icons = {
		        '':    'glyphicon glyphicon-ok',
		        'True':       'glyphicon glyphicon-remove'
		    };
		    var label = defaultValue(labels[o.aData.status], 'label-default');
		    var icon = defaultValue(icons[o.aData.status], 'glyphicon glyphicon-question-sign');
		    return '<span class="label ' + label + '"><span class="' + icon + '"></span></span>';
	}
  
  render.uploadProgressMessage = function(o, val) {
	    if (!o) {
	        return "";
	    }
	    var messages = {
		    '':    Messages.get("renderFunctions.filesystems.status.normal"),
	        'True': Messages.get("renderFunctions.filesystems.status.exceeded")
	    };
	    
	    var message = o.aData.status;
	    if (!message) {
	        message = defaultValue(messages[o.aData.status], Messages.get("renderFunctions.filesystems.status.notset"));
	    }
	    if (errorMsg != null){
	    	return '<span>' + messages[o.aData.status] + '</span>';
	    }
	    return '<span>' + messages[o.aData.status] + '</span>';
	}
  
  render.uploadProgress = function(o, val) {
	    return render.uploadProgressIcon(o, val);
	}
  
</script>

#{Resources.projectsControl projects:projects /}

#{DataTable.header titleKey:'nav.file.filesystems' /}
#{DataTable.table id:'fileSystems',
                  dataTable:dataTable,
                  source:@fileSystemsJson(session.activeProjectId), 
                  cssClass:'editableRows',
                  selectable:true}
  #{DataTable.buttonBar}

    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown" data-enabled="selected">
        <span class="glyphicon glyphicon-trash"></span>
        &{'resources.filesystem.deleteLink'} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a onclick="return $('#deleteFormFull').submit();">&{'resources.filesystem.deleteLink.FULL'}</a></li>
        <li><a onclick="return $('#deleteFormViPRonly').submit();">&{'resources.filesystem.deleteLink.VIPR_ONLY'}</a></li>
      </ul>
    </div>
    #{doBody/}
  #{/DataTable.buttonBar}

  #{DataTable.formAction @delete(), id:'deleteFormFull', table:'fileSystems', confirm:messages.get('resources.filesystems.deleteConfirm.FULL')}
    <input type="hidden" name="deleteType" value="FULL">
  #{/DataTable.formAction}
  #{DataTable.formAction @delete(), id:'deleteFormViPRonly', table:'fileSystems', confirm:messages.get('resources.filesystems.deleteConfirm.VIPR_ONLY')}
    <input type="hidden" name="deleteType" value="VIPR_ONLY">
  #{/DataTable.formAction}                  
#{/DataTable.table}     
