<script type="text/javascript"> 

	function expand(param) {
		$(param).parent().parent().next('tr').toggle();
		$(param).hide();
		$(param).next().show();
	}
	function collapse(param) {
		$(param).parent().parent().next('tr').toggle();
		$(param).prev().show();
		$(param).hide();
	}

	function addValidationMessage(controlGrp,msg){
			controlGrp.addClass('has-error');
		     $('.help-inline', controlGrp).text(msg);
		     $("#saveQuotaButton").attr("disabled", true);
	}

	function removeValidationMessage(controlGrp){
			controlGrp.removeClass('has-error');
			 $('.help-inline', controlGrp).text("");
			 $("#saveQuotaButton").removeAttr("disabled");
	}
	  
	  
	  function getValidateQuotaSize(data,controlGroup,url){
			$.post(url, data)
			.done(function(result) { showQuotaSizeValidityStatus(result,controlGroup); });
		}
	  
	  function showQuotaSizeValidityStatus(results,controlGroup){
			var finalResult = null;
			if ($.isArray(results)) {
				finalResult = results[0];
		    }
		    else {
		    	finalResult = results ;
		    }
			 if (!finalResult.success) {
				 addValidationMessage(controlGroup,finalResult.message);
		     }else{
		    	 removeValidationMessage(controlGroup);
		    	 $('.help-inline', controlGroup).html('<span id="validationRes" class="text-success"> <span class="glyphicon glyphicon-ok"></span></span>');
		     }
		}
	  
	  function validateQuotaSize(quotaSizeField,url,authToken){

		   $("#" + quotaSizeField).on('change',function(){
			   var data = {
					   authenticityToken:authToken,
					   fieldName: quotaSizeField,
					   quotaSize: $('#' + quotaSizeField).val()
			    };
			   var controlGroup = $('input[name="'+ $("#" + quotaSizeField).attr('name')+'"]').parents('.form-group');
			    removeValidationMessage(controlGroup);
			  
	 			if($('#validationRes')){
						$('#validationRes').remove();	
					}

				 if($("#" + quotaSizeField).val()=="" || $("#" + quotaSizeField).val()== null){
					 addValidationMessage(controlGroup,'Required') ;
				 }else{
					 setTimeout(getValidateQuotaSize(data,controlGroup,url),500000);
				 }
		 	 });
	  }
	
	  $(document).ready(function() {
		  validateQuotaSize('quota_size','@{validateQuotaSize}','${session.authenticityToken}');
	  });
	
</script>
#{if quotas}
	<table class='table table-condensed table-striped' id="quotaTable">
		<thead>
			<tr>
				<th style="width: 24px;"></th>
				<th>&{'resources.filesystem.quota.name'}</th>
				<th>&{'resources.filesystem.quota.security'}</th>
				<th>&{'resources.filesystem.quota.lock'}</th>
				<th>&{'resources.filesystem.quota.size'}</th>
				<th style="text-align: right;">&{'resources.actions'}</th>
			</tr>
		</thead>
		
		<tbody>
			#{list items:quotas, as:'quota'}
			<tr>
				<td style="width: 24px;">
				#{if quota.notificationLimit != 0 || quota.softLimit != 0 || quota.softGrace != 0} 
				<span style="cursor: pointer;" onclick="expand(this)">#{icon 'chevron-right'/}</span> 
				<span style="display: none;cursor: pointer;" onclick="collapse(this)">#{icon 'chevron-down'/}</span>
				#{/if}
				</td>
				<td><img src="/public/img/assets/QuotaDirectory.png" style="width: 32px;" />${quota.name}</td>
				<td>${quota.securityStyle}</td>
				<td>${quota.oplock}</td>
				<td>${quota.quotaSize}</td>
				<td style="text-align: right;"><a class="btn btn-default btn-xs"
					onclick="modifyQuotaDirectory('${quota.id}')">&{'button.modify'}</a>
					<a href="@{deleteFileSystemQuotaDirectory(params.fileSystemId, quota.id)}"
					class="btn btn-danger btn-xs"
					onclick="return confirm('&{'resources.filesystem.quota.delete.confirm'}')">&{'button.delete'}</a>
				</td>
			</tr>
			<tr hidden>
				#{if quota.notificationLimit != 0 || quota.softLimit != 0 || quota.softGrace != 0}
				<td colspan="8">
					<dl class="dl-horizontal">
						<dt>&{'resources.filesystem.quota.notificationLimit'}:</dt>
						<dd>${quota.notificationLimit == 0 ? null :	quota.notificationLimit}&nbsp;</dd>
						<dt>&{'resources.filesystem.quota.softLimit'}:</dt>
						<dd>${quota.softLimit == 0 ? null : quota.softLimit}&nbsp;</dd>
						<dt>&{'resources.filesystem.quota.softGrace'}:</dt>
						<dd>${quota.softGrace == 0 ? null : quota.softGrace}&nbsp;</dd>
					</dl>
				</td> 
				#{/if}
			</tr>
			#{/list}
		</tbody>
	</table>
#{/if} 
#{else}
	&{'resources.filesystem.quota.none'} 
#{/else}
