#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.file.filesystems'] /}

#{breadcrumb.container}
  #{breadcrumb.item @fileSystems()}&{'resources.filesystems'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}${fileSystem?.name}#{/breadcrumb.item}
#{/breadcrumb.container}

<div class="clear"></div>
<div id="fileSystemDetails" class="container" style="margin-bottom: 2em;">

  #{alerts/}

  #{if fileSystem}
  
    #{Resources.header resource:fileSystem, typeKey: 'resources.filesystem'/}
    #{Resources.actions hide:fileSystem?.inactive }
    <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" name="button.delete" data-toggle="dropdown">
            <span class="glyphicon glyphicon-trash"></span>
            &{'resources.filesystem.deleteLink'} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="@{deleteFileSystem(fileSystem.id, 'FULL')}" onclick="return confirm('&{'resources.filesystem.deleteConfirm.FULL'}');">&{'resources.filesystem.deleteLink.FULL'}</a></li>
            <li><a href="@{deleteFileSystem(fileSystem.id, 'VIPR_ONLY')}" onclick="return confirm('&{'resources.filesystem.deleteConfirm.VIPR_ONLY'}');">&{'resources.filesystem.deleteLink.VIPR_ONLY'}</a></li>
          </ul>
    </div>
    #{/Resources.actions}
    
    <dl class="dl-horizontal pull-left">      
      <dt>&{'resources.filesystem.mount_path'}:</dt>
      <dd>#{spaceForNull fileSystem.mountPath/}</dd>
      <dt>&{'resources.filesystem.capacity_gb'}:</dt>
      <dd>#{spaceForNull fileSystem.capacity/} #{if fileSystem.thinlyProvisioned}[&{'resources.filesystem.thinly'}]#{/if}</dd>      
      <dt>&{'resources.filesystem.protocols'}:</dt>
      <dd>
        #{list fileSystem.protocols, as:'protocol'}
          ${protocol}#{if !protocol_isLast},#{/if}
        #{/list}
        &nbsp;
      </dd>        
      <dt>&{'resources.filesystem.varray'}:</dt>
      <dd><img src="/public/img/serviceCatalog/Virtual_Array.png" style="width: 32px;"/> #{spaceForNull virtualArray?.name/}</dd>
      <dt>&{'resources.filesystem.vpool'}:</dt>
      <dd><img src="/public/img/serviceCatalog/Virtual_Pool.png" style="width: 32px;"/> #{spaceForNull virtualPool?.name/}</dd>
      #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
        <dt class="moreDetails">&{'resources.filesystem.storagesystem'}:</dt>
        <dd class="moreDetails">#{spaceForNull storageSystem?.name/}</dd>
        <dt class="moreDetails">&{'resources.filesystem.storagepool'}:</dt>
        <dd class="moreDetails">#{spaceForNull storagePool?.name/}</dd>
        <dt class="moreDetails">&{'resources.filesystem.storageport'}:</dt>
        <dd class="moreDetails">#{spaceForNull storagePort?.name/}</dd>
      #{/deadbolt.restrict}
      <dt class="moreDetails">&{'resources.filesystem.nativeid'}:</dt>
      <dd class="moreDetails">#{spaceForNull fileSystem.nativeId/}</dd>      
      #{Resources.commonAttributes resource:fileSystem /}
    </dl>

    <div class="clearfix"></div>
    #{expandPanel titleKey:'resources.filesystem.exportRules', url: @fileSystemExports(fileSystem.id) /}
    #{expandPanel titleKey:'resources.filesystem.shares', url: @fileSystemShares(fileSystem.id) /}
    #{expandPanel titleKey:'resources.filesystem.snapshots', url: @fileSystemSnapshots(fileSystem.id) /}
    #{expandPanel titleKey:'resources.filesystem.quotaDirectory', url: @fileSystemQuotaDirectories(fileSystem.id) /}
    #{if fileSystem.protocols.contains('NFSv4')}
    #{expandPanel titleKey:'resources.filesystem.nfsAccessControl', url: @fileSystemNfsACLs(fileSystem.id) /}
    #{/if}

    <br/>
    
    #{Resources.tasks resourceId:fileSystem.id /}
  
  #{/if}
  #{else}
    <span class="errorMessage">&{'resources.filesystem.notfound'}</span>
  #{/else}

</div>
                  
#{Modal.dialog id:'exportRule'}
  #{Modal.header}
    <h4 class="modal-title">&{'resources.filesystem.export.modify'}</h4>
  #{/Modal.header}
  #{Modal.body}
    <div ng-controller="FileRessourceCtrl" id="rule">
       <div class="container-fluid">
           <div class="row">
                <control-group v-field='rule.security' labelWidth="1">
                    <select-one options="secOpt" ng-disabled="edit"></select-one>
                </control-group>
           </div>
           <div class="row">
                <control-group v-field='rule.anon' labelWidth="1" required >
                    <input-text></input-text>
                </control-group>
           </div>
           <div class="row" ng-show="!edit">
                <control-group v-field='rule.subDir' labelWidth="1">
                    <input-text></input-text>
                </control-group>
           </div>
           <div class="row" style="padding-top:20px; padding-bottom:0px;">
                <div class="pull-left col-sm-6" style="text-align:center;"><strong>&{'resources.filesystem.export.endpoints'}</strong></div>
                <div class="pull-left col-sm-5" style="text-align:center;"><strong>&{'resources.filesystem.export.permission'}</strong></div>
                <div class="pull-left col-sm-1"></div>
           </div>
           <hr style="margin:5px;"/>
           <div class="row" ng-repeat="info in rule.endpoints" style="margin-bottom:5px;">
               <div class="pull-left col-sm-6" v-field="info.endpoint"><input-text></input-text></div>
               <div class="pull-left col-sm-5" v-field="info.permission" style="padding-right:0px;"><select-one options="permOpt"></select-one></div>
               <div class="pull-left col-sm-1" style="padding-left:0px; margin-top:5px;"><button type="button" ng-click="deleteEndpoint($index)" class="close">&times;</button></div>
           </div>
           <div class="row">
               <div class="pull-left col-sm-11"><button type="button" ng-click="addEndpoint()" class="btn btn-sm btn-success"><i v-icon=plus></i> &{'button.add'}</button></div>
           </div>
           #{form @save(), id:'modifyExportForm', class:'form form-horizontal', autocomplete:"off"}
             <input type="hidden" name="edit" ng-value="edit"/>
             <input type="hidden" name="id" value="${fileSystem.id}" />
             <input type="hidden" name="fsPath" value="${fileSystem.mountPath}" />
             <input type="hidden" name="exportPath" ng-value="exportPath" />
             <input type="hidden" name="security" ng-value="rule.security" />
             <input type="hidden" name="anon" ng-value="rule.anon" />
             <input type="hidden" name="subDir" ng-value="rule.subDir" />
             <input type="hidden" name="ro" ng-value="ro"/>
             <input type="hidden" name="rw" ng-value="rw"/>
             <input type="hidden" name="root" ng-value="root"/>
             <div class="row">
               #{Modal.buttonBar}
                 <button type="submit" style="margin-left:45px;" class="btn btn-primary"><i v-icon=ok-sign></i> &{'button.save'}</button>
               #{/Modal.buttonBar}
             </div>
           #{/form}
       </div>
    </div>
  #{/Modal.body}
#{/Modal.dialog}

#{Modal.dialog id:'subDirectory'}
  #{Modal.header}
    <h4 class="modal-title">&{'resources.filesystem.share.add.subdir'}</h4>
  #{/Modal.header}
  #{Modal.body}
    <div ng-controller="FileShareSubDirCtrl" id="subDirForm">
       <div class="container-fluid" >
           <div class="row">
                <control-group v-field='subdir.share.name' labelWidth="1" required >
                    <input-text></input-text>
                </control-group>
           </div>
           <div class="row" >
                <control-group v-field='subdir.subdirectory' labelWidth="1">
                    <input-text></input-text>
                </control-group>
           </div>
           <div class="row" >
                <control-group v-field='subdir.description' labelWidth="1">
                    <input-text></input-text>
                </control-group>
           </div>      
           <br>
           #{form @addSubDirectory(), id:'addSubDirectroyForm', class:'form form-horizontal', autocomplete:"off"}
             <input type="hidden" name="id" value="${fileSystem.id}" />
             <input type="hidden" name="shareName" ng-value="subdir.share.name" />
             <input type="hidden" name="subDirectroy" ng-value="subdir.subdirectory" />
             <input type="hidden" name="description" ng-value="subdir.description" />
             <div class="row">
               #{Modal.buttonBar}
                 <button type="submit" style="margin-left:45px;" class="btn btn-primary"><i v-icon=ok-sign></i> &{'button.save'}</button>
               #{/Modal.buttonBar}
             </div>
           #{/form}
       </div>
    </div>
  #{/Modal.body}
#{/Modal.dialog}

#{Modal.dialog id:'modifyQuota'}
  #{Modal.header}
    <h4 class="modal-title">&{'resources.filesystem.quota.modify'}</h4>
  #{/Modal.header}
  #{Modal.body}
    <div ng-controller="FileQuotaCtrl" id="quotaForm">
    #{form @saveQuota(), class:'form form-horizontal', autocomplete:"off"}
      <input type="hidden" name="fileSystemId" value="${fileSystem.id}">
      <input type="hidden" name="id" ng-value="id">
      <control-group v-field="quota.name" required>
        <input-text v-disabled="true"></input-text>
      </control-group>
      <control-group v-field="quota.oplock" required>
        <boolean-checkbox v-default-value="true"></boolean-checkbox>
      </control-group>
      <control-group v-field="quota.securityStyle">
        <select-one options="securityOptions"></select-one>
      </control-group>
      <control-group v-field="quota.size">
        <input-text></input-text>
      </control-group>
      #{Modal.buttonBar}
        <button type="submit" class="btn btn-primary"><i v-icon=ok-sign></i> &{'button.save'}</button>
      #{/Modal.buttonBar}
    #{/form}
    </div>
  #{/Modal.body}
#{/Modal.dialog}

#{Modal.dialog id:'addNfsAclDialog', cssClass:'extra-wide'}
  #{Modal.header}
    <h4 class="modal-title">&{'resources.filesystem.share.acl.add'}</h4>
  #{/Modal.header}
  #{Modal.body}
    <div ng-controller="NfsAclCtrl" id="acl">
    
       <div class="container-fluid">
          <div class="row"  >
                <control-group v-field='nfs.subdirectory' style="text-align:right;">
                    <input-text></input-text>
                </control-group>
           </div>
          <hr style="margin:5px;"/>
           <div class="row" style="padding-top:20px; padding-bottom:0px;">
                <div class="pull-left col-md-2" style="text-align:center;"><strong>&{'nfsACL.type'}</strong></div>
                <div class="pull-left col-md-2" style="text-align:center;"><strong>&{'nfsACL.name'}</strong></div>
                <div class="pull-left col-md-2" style="text-align:center;"><strong>&{'nfsACL.domain'}</strong></div>
                <div class="pull-left col-md-2" style="text-align:center;"><strong>&{'nfsACL.permissionType'}</strong></div>
                <div class="pull-left col-md-3" style="text-align:center;"><strong>&{'nfsACL.permissions'}</strong></div>
                <div class="pull-left col-md-1"></div>
           </div>
           <hr style="margin:5px;"/>
           <div class="row"  ng-repeat="info in acl.accesscontrols" style="margin-bottom:5px;">
               <div class="pull-left col-md-2" v-field="info.type" style="padding-right:0px;"><select-one options="typeOpt"></select-one></div>
               <div class="pull-left col-md-2" v-field="info.name"><input-text></input-text><label style="position: absolute; color:#a94442; font-size: 18px; right: -0px; top: 8px;">*</label></div>
               <div class="pull-left col-md-2" v-field="info.domain"><input-text></input-text></div>
               <div class="pull-left col-md-2" v-field="info.permissionType" style="padding-right:0px;"><select-one options="permissionTypeOpt"></select-one></div>
               <div class="pull-left col-md-3" v-field="info.permission" style="padding-right:0px;"></<input><select-many options="permOpt"></select-many></div>
               <div class="pull-left col-md-1" style="padding-left:0px; margin-top:5px;"><button type="button" ng-click="deleteACE($index)" class="close">&times;</button></div>
           </div>
           <div class="row">
               <div class="pull-left col-sm-11"><button type="button" ng-click="addACE()" class="btn btn-sm btn-success"><i v-icon=plus></i> &{'button.add'}</button></div>
           </div>
           #{form @addSubDirAndNfsAcl(), id:'nfsACLForm', class:'form form-horizontal', autocomplete:"off"}
             <input type="hidden" name="formAccessControlList" ng-value="formAccessControlList"/>
             <input type="hidden" name="fileSystemSubDirAndPath" value="${fileSystemSubDirAndPath}">
              <input type="hidden" name="fileSystem" value="${fileSystem.id}" />
             <input type="hidden" name="subDir" ng-value="nfs.subdirectory" />
             
             <div class="row">
               #{Modal.buttonBar}
                 <button type="submit" style="margin-left:45px;" class="btn btn-primary"><i v-icon=ok-sign></i> &{'button.save'}</button>
               #{/Modal.buttonBar}
             </div>
           #{/form}
       </div>
    </div>
  #{/Modal.body}
#{/Modal.dialog}
    


<script>
  function modifyQuotaDirectory(quotaId) {
      var scope =angular.element($('#quotaForm')).scope();
      scope.populateModal(quotaId);
      $('#modifyQuota').modal('show');
  }

  function updateRule(path, sec, anon) {
	var scope = angular.element($('#rule')).scope();
	scope.populateModal(true, '${fileSystem.id}', path, sec, anon);
    $('#exportRule').modal('show');
  }
  
  function addRule() {
	var scope = angular.element($('#rule')).scope();
	scope.populateModal(false);
	$('#exportRule').modal('show');
  }

  function addSubDir() {
	  var scope = angular.element($('#subDirForm')).scope();
	  scope.populateModal();
	  $('#subDirectory').modal('show');
  }

  function showDialogClick() {
	showDialog();
  }

  function hideDialog() {
    $('.modal').modal('hide');
  }
  
  function showDialog() {
	    var scope = angular.element($('#acl')).scope();
		scope.populateModal();
		$('#addNfsAclDialog').modal('show');
  }
  
</script>
