#{set isActiveSite:controllers.infra.DisasterRecovery.isActiveSite() /}

<div id="backupPanel" >
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">&{'adminDashboard.backupStatus'}</h3></div>
        <div class="panel-body">
            <dl>
                <div #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}onclick="window.location.href = '@{Backup.list()}';" style="cursor: pointer;"#{/deadbolt.restrict}>
                <dt class="text-left">&{'adminDashboard.lastSuccessfulBackup'}</dt>
                <dd style="margin-top:5px;margin-bottom:5px;">
                    <span id="lastSuccessfulBackup" data-state="Grace"></span>
                </dd>
                <dt class="text-left">&{'adminDashboard.lastManualBackup'}</dt>
                <dd style="margin-top:5px;margin-bottom:5px;">
                    <span id="lastManualBackup" data-state="Grace"></span>
                </dd>
                <dt class="text-left">&{'adminDashboard.lastScheduledBackup'}</dt>
                <dd style="margin-top:5px;margin-bottom:5px;">
                    <span id="lastScheduledBackup" data-state="Grace"></span>
                </dd>
                <dt class="text-left">&{'adminDashboard.nextScheduledBackup'}</dt>
                <dd style="margin-top:5px;margin-bottom:5px;">
                    <span id="nextScheduledBackup" data-state="Grace"></span>
                </dd>
                <dt class="text-left">&{'adminDashboard.lastUploadStatus'}</dt>
                <dd style="margin-top:5px;margin-bottom:5px;">
                    <span id="lastUploadStatus" data-state="Grace"></span>
                </dd>
            </dl>
        </div>
    </div>
    #{if backupStatusLastUpdated}
    <div class="panel-footer">
        <small>&{'adminDashboard.lastUpdated'} <span data-format-relative-time="${backupStatusLastUpdated.getTime()}"></span></small>
    </div>
    #{/if}
</div>
