#{extends 'main.html'/}
#{set navSelected: ['nav.adminDashboard', 'nav.adminDashboardPage'] /}
#{set 'title'}&{'adminDashboard.title'}#{/set}

#{set 'moreScripts'}
#{get 'moreScripts'/}
  <script>
    $(document).ajaxSuccess(function() {
        render.clusterStatus('#clusterState', $('#clusterState').data('state'));
        render.dbstatus('#dbState',$('#dbState').data('state'));
    });
    function startUpdating(url, contentId, delayInSeconds) {
        var content = DynamicContent();
        content.watchValue(contentId);
        
        var delay = delayInSeconds * 1000;
        var update = function() {
            $.get(url, function(data) {
                // Create a wrapper around the data
                var newData = $('<div></div>').html(data);
                content.update(newData);
                window.setTimeout(update, delay);
                refreshLastUpdated();
            });
        };
        update();
    }
    
    function refreshLastUpdated() {
      $('[data-format-relative-time]').each(function () {
        var $this = $(this)
        var time = new moment($this.data("format-relative-time"));
        if (time.isBefore()) {
	        $this.text(time.fromNow());
        }
        else {
        	$this.text(time.format("YYYY-MM-DD HH:mm"));
        }
      });      
    }
    
    $(document).ready(function() {
      startUpdating('@{AdminDashboard.version()}', '#versionPanel', 3600);
      startUpdating('@{AdminDashboard.capacity()}', '#capacityPanel', 600);
      startUpdating('@{AdminDashboard.health()}', '#healthPanel', 60);
      startUpdating('@{AdminDashboard.disasterRecovery()}', '#disasterPanel', 65);
      startUpdating('@{AdminDashboard.physicalAssets()}', '#physicalAssetsPanel', 600);
      startUpdating('@{AdminDashboard.virtualAssets()}', '#virtualAssetsPanel', 600);
      window.setInterval(refreshLastUpdated, 5000);
    });
  </script>
#{/set}

#{set 'moreStyles'}
#{get 'moreStyles'/}
<style type="text/css">
  .list-group + .panel-footer {
    border-top: none;
  }
</style>
#{/set}

#{alerts disappear: true/}

<div class="row">
    <div class="col-sm-4">
      #{license.ifController}
        #{include 'AdminDashboard/capacity.html'/}
      #{/license.ifController}
    </div>
    <div class="col-sm-4">
      #{include 'AdminDashboard/physicalAssets.html'/}
      #{include 'AdminDashboard/virtualAssets.html'/}
    </div>
    <div class="col-sm-4">
      #{include 'AdminDashboard/version.html'/}
      #{include 'AdminDashboard/health.html'/}
      #{if isDrConfigured}
        #{include 'AdminDashboard/disasterRecovery.html'/}
      #{/if}
    </div>
</div>
