<div id="disasterPanel" >
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">&{'adminDashboard.disasterRecovery'}</h3></div>
    <div class="panel-body">

 	<div class="row">
    		<div class="disasterDashboard">
      			<table class="table table-hover table-condensed" style="table-layout: fixed;border-collapse: collapse" >
					<thead>
					<tr>
						<th>&{'disasterRecovery.name'}</th>
						<th>&{'disasterRecovery.status'}</th>
						<th>&{'disasterRecovery.networkHealth'}</th>
					</tr>
					</thead>
        			<tbody>
        				#{list items:drsites, as:'site'}
        				<tr>
							<td>
								<form action="#{./vdcLink host:site.vipEndpoint, path:''/}" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="StandbySite${site.uuid}">
      								#{authenticityToken /}
	  								<input type="hidden" name="auth-token" value="${token}">
 								</form>
								<a href="https://${site.vipEndpoint}" onclick="$('#StandbySite${site.uuid}').submit(); return false;">${site.name}</a>
							</td>
							<td>
								#{if site.state == "ACTIVE"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Ready.png"><span> &{'renderFunctions.disasterRecovery.status.active'}</span>
								#{/if}
								#{if site.state == "ACTIVE_SWITCHING_OVER"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.active.switchingover'}</span>
								#{/if}
								#{if site.state == "ACTIVE_FAILING_OVER"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.active.failingover'}</span>
								#{/if}
								#{if site.state == "STANDBY_ADDING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#0000FF"></span><span> &{'renderFunctions.disasterRecovery.status.standby.adding'}</span>
								#{/if}
								#{if site.state == "STANDBY_SYNCING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#0000FF"></span><span> &{'renderFunctions.disasterRecovery.status.standby.syncing'}</span>
								#{/if}
								#{if site.state == "STANDBY_SYNCED"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Ready.png"><span> &{'renderFunctions.disasterRecovery.status.standby.synced'}</span>
								#{/if}
								#{if site.state == "STANDBY_PAUSING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#0000FF"></span><span> &{'renderFunctions.disasterRecovery.status.standby.pausing'}</span>
								#{/if}
								#{if site.state == "STANDBY_PAUSED"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Pause.png"><span> &{'renderFunctions.disasterRecovery.status.standby.paused'}</span>
								#{/if}
								#{if site.state == "STANDBY_TESTING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#0000FF"></span><span> &{'renderFunctions.disasterRecovery.status.standby.testing'}</span>
								#{/if}
								#{if site.state == "STANDBY_SWITCHING_OVER"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.standby.switchingover'}</span>
								#{/if}
								#{if site.state == "STANDBY_FAILING_OVER"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.standby.failingover'}</span>
								#{/if}
								#{if site.state == "STANDBY_REMOVING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.standby.removing'}</span>
								#{/if}
								#{if site.state == "STANDBY_RESUMING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#0000FF"></span><span> &{'renderFunctions.disasterRecovery.status.standby.resuming'}</span>
								#{/if}
								#{if site.state == "ACTIVE_DEGRADED"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Critical.png"><span> &{'renderFunctions.disasterRecovery.status.standby.failbackDegraded'}</span>
								#{/if}
								#{if site.state == "STANDBY_DEGRADING"}
									<span class="glyphicon glyphicon-refresh rotate" style="color:#FF0000"></span><span> &{'renderFunctions.disasterRecovery.status.standby.degrading'}</span>
								#{/if}
								#{if site.state == "STANDBY_DEGRADED"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Critical.png"><span> &{'renderFunctions.disasterRecovery.status.standby.degraded'}</span>
								#{/if}
								#{if site.state == "STANDBY_ERROR"}
									<img class="glyphicon glyphicon-ok" src="/public/img/Critical.png"><span> &{'renderFunctions.disasterRecovery.status.standby.error'}</span>
								#{/if}
							</td>
							<td>
								#{if site.networkHealth == "GOOD"}
								<img class="glyphicon glyphicon-ok" src="/public/img/Ready.png" alt="Good"><span> &{'renderFunctions.disasterRecovery.networkHealth.good'}</span>
								#{/if}
								#{if site.networkHealth == "SLOW"}
								<img class="glyphicon glyphicon-ok" src="/public/img/Warning.png" alt="Slow"><span> &{'renderFunctions.disasterRecovery.networkHealth.slow'}</span>
								#{/if}
								#{if site.networkHealth == "BROKEN"}
								<img class="glyphicon glyphicon-ok" src="/public/img/Critical.png" alt="Broken"><span> &{'renderFunctions.disasterRecovery.networkHealth.broken'}</span>
								#{/if}
							</td>
						</tr>
						#{/list}
        			</tbody>
      			</table>
    		</div>
	</div>
  </div>
  #{if disasterRecoveryLastUpdated}   
      <div class="panel-footer">
        <small>&{'adminDashboard.lastUpdated'} <span data-format-relative-time="${disasterRecoveryLastUpdated.getTime()}"></span></small>
      </div>
    #{/if}
  </div>
</div>

<style type="text/css">
.table td {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:hover {
  position:absolute;
  max-width: none;
  background:#fff;
  z-index:100;
  overflow: visible;
}
</style>
