[Unit]
Description=The HDS simulator
After=CISCO.service

[Service]
Type=forking
ExecStart=/etc/init.d/HDS start
ExecStop=/etc/init.d/HDS stop

[Install]
WantedBy=multi-user.target

