[Unit]
Description=The RP simulator
After=VPLEX2.service

[Service]
Type=forking
ExecStart=/etc/init.d/RP start
ExecStop=/etc/init.d/RP stop

[Install]
WantedBy=multi-user.target


