[Unit]
Description=The Vmware simulator
After=CISCO.service

[Service]
Type=forking
ExecStart=/etc/init.d/VMSIM start
ExecStop=/etc/init.d/VMSIM stop

[Install]
WantedBy=multi-user.target

