[Unit]
Description=The Vmware simulator
After=CISCO.service

[Service]
Type=forking
ExecStart=/etc/init.d/VMWARE start
ExecStop=/etc/init.d/VMWARE stop

[Install]
WantedBy=multi-user.target

