
<dl class="dl-horizontal">
    <dt>&{'blockPerformancePolicy.autoTieringPolicyName'}</dt>
    <dd>
        ${blockPerformancePolicy.autoTieringPolicyName}
    </dd>
    <dt>&{'blockPerformancePolicy.compressionEnabled'}</dt>
    <dd>
        ${blockPerformancePolicy.compressionEnabled}
    </dd>
    <dt>&{'blockPerformancePolicy.dedupCapable'}</dt>
    <dd>
        ${blockPerformancePolicy.dedupCapable}
    </dd>
    <dt>&{'blockPerformancePolicy.fastExpansion'}</dt>
    <dd>
        ${blockPerformancePolicy.fastExpansion}
    </dd>
    <dt>&{'blockPerformancePolicy.hostIOLimitBandwidth'}</dt>
    <dd>
        ${blockPerformancePolicy.hostIOLimitBandwidth}
    </dd>
    <dt>&{'blockPerformancePolicy.hostIOLimitIOPs'}</dt>
    <dd>
        ${blockPerformancePolicy.hostIOLimitIOPs}
    </dd>
    <dt>&{'blockPerformancePolicy.thinVolumePreAllocationPercentage'}</dt>
    <dd>
        ${blockPerformancePolicy.thinVolumePreAllocationPercentage}&#37;
    </dd>
    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>
</dl>
