#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.storageArrays'] /}

#{DataTable.formAction @introspect(), id:'rediscoverForm', table:'storageArray'/}
#{DataTable.formAction @registerArrays(), id:'registerForm', table:'storageArray'/}
#{DataTable.formAction @deregisterArrays(), id:'deregisterForm', table:'storageArray'/}

#{DataTable.header titleKey:'StorageSystems.list.title'/}
<div class="row">
  <div class="col-sm-12">
#{DataTable.crudTable id:'storageArray',
                      dataTable:dataTable,
                      expandable: true,
                      deleteConfirm:messages.get('StorageSystems.deleteConfirm')}
  #{Form.button name:'button.rediscover', class:'info', icon:'repeat', submit:'rediscoverForm',
                data:['enabled':'selected', 'property':'discoveryStatus', 'not-value':'IN_PROGRESS']/}
  #{Form.button name:'button.register', icon:'plus', submit:'registerForm', 
                data:['enabled':'selected', 'property':'registrationStatus', 'value':'UNREGISTERED']/}
  #{Form.button name:'button.deregister', icon:'minus', submit:'deregisterForm', 
                data:['enabled':'selected', 'property':'registrationStatus', 'value':'REGISTERED']/}
#{/DataTable.crudTable}
#{DataTable.expandHtml @itemDetails(':id'), table:'storageArray' /}
  </div>
</div>

<script id="inlineActions.html" type="text/ng-template">
    <div class="btn-group-nas">
        <a class="btn btn-default btn-xs" role="button" href="{{poolsUrl}}">{{'StorageSystems.pools' | t}}</a>
        <a class="btn btn-default btn-xs" role="button" href="{{portsUrl}}">{{'StorageSystems.ports' | t}}</a>
        <a class="btn btn-default btn-xs" ng-show="isVnasEnable" role="button" href="{{vnasUrl}}">{{'StorageSystems.vnas' | t}}</a>
    </div>
</script>


<script type="text/javascript">
$(document).ready(function() {
    var dataTable = table.storageArray.dataTable.getDataTable()
    var itemsJson = #{jsAction @itemsJson(':ids')/};
    watchDiscoveryStatus(dataTable, itemsJson, ['version', 'registrationStatus']);
});
</script>

<script type="text/javascript">
var storagePoolsUrl = #{jsAction @pools(':storageId') /}
var storagePortsUrl = #{jsAction @ports(':storageId') /}
var storageVnasUrl = #{jsAction @virtualNasServers(':storageId') /}

angular.module('tags').directive({
	actions: function() {
     return {
         restrict: "E",
         templateUrl: "inlineActions.html",
         link: function(scope, elem, attrs) {
        	 scope.poolsUrl = storagePoolsUrl({'storageId': scope.row.id});
        	 scope.portsUrl = storagePortsUrl({'storageId': scope.row.id});
        	 scope.vnasUrl = storageVnasUrl({'storageId': scope.row.id});
        	 scope.isVnasEnable = false;
        	 var systemWithNas = ["EMC VNX File","EMC Isilon"];
        	 var found = $.inArray(scope.row.type, systemWithNas) > -1;
             if(found){
             	scope.isVnasEnable = true;
             }
            
         }
     }
 },
 url: function() {
     return {
         restrict: "E",
         templateUrl: "inlineLink.html"
     }
 }
});

function renderButtonBar(o,val) {
    return "<actions></actions>";
    
}
</script>
