<div class="metricDetails">
	<div class="col-md-2 col-sm-3 col-xs-6">
	  <dl>
		  <dt>&{'vNasServers.storageObjects'}</dt>
		  <dd>${vNas?.storageObjects != null? vNas?.storageObjects : messages.get('vNasServersDataTable.notApplicable') }</dd>
	  </dl>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
	  <dl>
		  <dt>&{'vNasServers.storageCapacity'}</dt>
		  <dd>${vNas?.storageCapacity != null? vNas?.storageCapacity : messages.get('vNasServersDataTable.notApplicable') }</dd>
	  </dl>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
	  <dl>
		  <dt>&{'vNasServers.avgPercentagebusy'}</dt>
		  <dd>${vNas?.avgPercentagebusy != null? vNas?.avgPercentagebusy : messages.get('vNasServersDataTable.notApplicable') }</dd>
	  </dl>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6">
	  <dl>
		  <dt>&{'vNasServers.avgEmaPercentagebusy'}</dt>
		  <dd>${vNas?.avgEmaPercentagebusy != null? vNas?.avgEmaPercentagebusy : messages.get('vNasServersDataTable.notApplicable') }</dd>
	  </dl>
	</div>
</div>
