#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript">
#{if !_disableEditable}
function renderLink(o, val) {
    var data = o.aData;
    var url = #{jsAction (_edit ?: @edit(':id')) /};
    var href = url(data);
    
    return "<a href='"+href+"'>" + val + "</a>";
}
#{/if}
</script>
#{/set}
#{DataTable.table dataTable:_dataTable, source:(_list ?: @listJson()), id:_id, prefix:_prefix, cssClass:_cssClass,
                  expandable:_expandable, actions:_actions, options:_options, selectable:(_disableSelectable ? false : true) }
  #{doBody/}
#{/DataTable.table}
