<dl class="dl-horizontal">

    <dt>&{'computeImageServers.computeImageServerStatus'}</dt>
    <dd>${computeImageServer.computeImageServerStatus ?: '-'}</dd>
    <dt>&{'computeImageServers.tftpBootDir'}</dt>
    <dd>${computeImageServer.tftpBootDir ?: '-'}</dd>
    <dt>&{'computeImageServers.availableComputeImages'}</dt>
    <dd>${computeImageServer.computeImages ?: '-'}</dd>
    <dt>&{'computeImageServers.failedComputeImages'}</dt>
    <dd>${computeImageServer.computeImages ?: '-'}</dd>

</dl>
