<dl class="dl-horizontal">

    <dt>&{'computeImageServers.imageServerIp'}</dt>
    <dd>${computeImageServer.imageServerIp ?: '-'}</dd>
    <dt>&{'computeImageServers.osInstallNetworkAddress'}</dt>
    <dd>${computeImageServer.imageServerSecondIp ?: '-'}</dd>
    <dt>&{'computeImageServers.tftpBootDir'}</dt>
    <dd>${computeImageServer.tftpbootDir ?: '-'}</dd>
    <dt>&{'computeImageServers.computeImageServerStatus'}</dt>
    <dd>${computeImageServer.computeImageServerStatus ?: '-'}</dd>

</dl>
