%{
  titleKey = 'nav.createDriver';
  descriptionKey = 'CreateVolume.direct.description';
  image = '/public/img/assets/Volume.png';
  
}%
#{extends 'main.html' /}

#{set navSelected: ['nav.assets', 'nav.storageArrays'] /}
#{set 'title'}&{titleKey}#{/set}
#{set editMode:storageArray?.id ? true : false/}

#{set 'moreScripts'}
#{/set}

<div class="container">
	#{Form.header titleKey:titleKey, descriptionKey:descriptionKey, image:image /}
	
	#{alerts/}
	
#{form @saveVolume(), id:'volume', class:'form form-horizontal', autocomplete:"off"}

  <fieldset>
  
  	 #{field 'volume.project'}
  	 %{
  	 	field.options = projectOptions
  	 	field.required = true
  	 	field.cssClass = 'span6 initialFocus'
  	 }%
	  #{Form.selectOneControlGroup field:field /}
	  #{/field}

  	 #{field 'volume.varray'}
  	 %{
  	 	field.options = varrayOptions
  	 	field.required = true
  	 }%
	  #{Form.selectOneControlGroup field:field /}
	  #{/field}

  	 #{field 'volume.vpool'}
  	 %{
  	 	field.options = vpoolOptions
  	 	field.required = true
  	 }%
	  #{Form.selectOneControlGroup field:field /}
	  #{/field}


	  #{field 'volume.arrayType'}
	    %{
	      field.options = storageArrayTypeList
	      field.addEmptyOption = true
    	  field.emptyOptionLabel = "Select an Option"
	      field.required = true
	    }%
	    #{Form.selectOneControlGroup field:field /}
	  #{/field}
	  
	  #{field 'volume.vplexId'}
	    %{	
	      field.required = true        
              field.cssClass = 'span3'
           }%
           #{Form.selectOneControlGroup options:ipList, field:field /}
	  #{/field}

  	  #{field 'volume.arrayTypeForVplex'}
	    %{
	      field.options = storageArrayTypeListForVplex
	      field.addEmptyOption = true
	      field.emptyOptionLabel = "Select an Option"
	      field.required = true
	      field.cssClass = 'span6 initialFocus'
	    }%
	    #{Form.selectOneControlGroup field:field /}
	  #{/field}

	  #{field 'volume.ha'}
	    %{
	      field.options = ha_Options
	    }%
	    #{Form.selectOneControlGroup field:field /}
	  #{/field}

    #{field 'volume.ipAddress'}
      %{
        field.required = true        
        field.cssClass = 'span3'
      }%
      #{Form.selectOneControlGroup options:ipList, field:field /}
    #{/field}
     
    #{field 'volume.pool'}
    %{
    	field.required = true
    	field.cssClass = 'span3'
    }%
	      #{Form.selectOneControlGroup options:poolList, field:field /}
    #{/field}
    
    	#{field 'volume.backendNetwork_1'}
	    %{
	      field.options = networkList
	      field.cssClass = 'span3'
	    }%
	    #{Form.selectOneControlGroup options:networkList, field:field /}
	 	#{/field}
    
    	#{field 'volume.backendNetwork_2'}
	    %{
	      field.options = networkList
	      field.cssClass = 'span3'
	    }%
	    #{Form.selectOneControlGroup options:networkList, field:field /}
	 	#{/field}
	  
  	 #{field 'volume.varrayForHA'}
  	 %{
  	 	field.options = varrayOptions
  	 	field.required = true
  	 }%
	  #{Form.selectOneControlGroup field:field /}
	  #{/field}

  	 #{field 'volume.vpoolForHA'}
  	 %{
  	 	field.options = vpoolOptions
  	 	field.required = true
  	 }%
	 #{Form.selectOneControlGroup field:field /}
	 #{/field}
	  
	 #{field 'volume.ipAddressForHA'}
	 %{
	    field.required = true        
        field.cssClass = 'span3'
     }%
     #{Form.selectOneControlGroup options:ipList, field:field /}
	 #{/field}
    
     #{field 'volume.poolForHA'}
	 %{
    	field.required = true
    	field.cssClass = 'span3'
	 }%
	 #{Form.selectOneControlGroup options:poolList, field:field /}
	 #{/field}

	#{field 'volume.haBackendNetwork_1'}
	%{
		field.options = networkList
    	field.required = true
	    field.cssClass = 'span3'
	}%
	#{Form.selectOneControlGroup field:field /}
	#{/field}

	#{field 'volume.haBackendNetwork_2'}
	 %{
	    field.options = networkList
    	field.required = true
	    field.cssClass = 'span3'
	 }%
	 #{Form.selectOneControlGroup field:field /}
	 #{/field}

    #{field 'volume.hosts'}
    %{
    	field.required = true
    	field.cssClass = 'span3'
    }%
    #{Form.selectOneControlGroup options:hostList, field:field /}
    #{/field}
    
    #{field 'volume.name'}
        %{
          field.required = true
        }%
      #{Form.inputTextControlGroup field:field /}
    #{/field}
	
	#{field 'volume.size'}
        %{
          field.required = true
        }%
      #{Form.inputTextControlGroup field:field /}
    #{/field}
    
    #{field 'volume.count'}
        %{
          field.required = true
        }%
      #{Form.inputTextControlGroup field:field /}
    #{/field}
    

    </fieldset>
    
    #{Form.saveCancel /}
  
#{/form}
</div>
<script>
var editVersion = -1;
var arrayType = $('#volume_arrayType');
var vplexType = $('#volume_arrayTypeForVplex');	
var ipSelectId = $('#volume_ipAddress');
var storagePool = $('#volume_pool');
var ipSelectIdForVplex = $('#volume_vplexId');
var ipSelectIdForHA = $('#volume_ipAddressForHA');
var storagePoolForHA = $('#volume_poolForHA');
var networkSystem1 = $('#volume_backendNetwork_1');
var networkSystemForHA1 = $('#volume_haBackendNetwork_1');
var networkSystem2 = $('#volume_backendNetwork_2');
var networkSystemForHA2 = $('#volume_haBackendNetwork_2');

$(document).ready(function () {
	$('#volume_haControlGroup').hide();
	$('#volume_arrayTypeForVplexControlGroup').hide();
	$('#volume_vplexIdControlGroup').hide();
	$('#volume_ipAddressForHAControlGroup').hide();
	$('#volume_poolForHAControlGroup').hide();
	$('#volume_backendNetwork_1ControlGroup').hide();
	$('#volume_backendNetwork_2ControlGroup').hide();
	$('#volume_haBackendNetwork_1ControlGroup').hide();
	$('#volume_haBackendNetwork_2ControlGroup').hide();
	$('#volume_varrayForHAControlGroup').hide();
	$('#volume_vpoolForHAControlGroup').hide();

	$('#volume_arrayType').on('change', function() {
		show(arrayType);
	});

	$('#volume_arrayType').on('change', function() {
		systemTypeChanged(arrayType, ipSelectId, storagePool);
	});
	
	$('#volume_ha').on('change', availabilityChanged);

	$('#volume_arrayTypeForVplex').on('change', function() {
		systemTypeChanged(vplexType,ipSelectId, storagePool);
	});
		
	$('#volume_arrayTypeForVplex').on('change', function(){
		systemTypeChanged(vplexType,ipSelectIdForHA, storagePoolForHA);
	});
	
	$('#volume_ipAddress').on('change', function() {
		loadstoragePool(storagePool,ipSelectId);
	});

	$('#volume_ipAddressForHA').on('change', function() {
		loadstoragePool(storagePoolForHA, ipSelectIdForHA);
	});
	
	$('#volume_arrayType').on('change', function() {
		type=arrayType.val();
		if(type=="vplex")
			loadNetworkSystem(networkSystem1);
			loadNetworkSystem(networkSystem2);
	});

	$('#volume_ha').on('change', function() {
		loadNetworkSystem(networkSystemForHA1);
		loadNetworkSystem(networkSystemForHA2);
	});

	
	
	function show(systemType){
		var type = systemType.val();
		if (type =="vplex"){
		   	$('#volume_haControlGroup').show();
		   	$('#volume_arrayTypeForVplexControlGroup').show();
    		$('#volume_vplexIdControlGroup').show();
    		$('#volume_backendNetwork_1ControlGroup').show();
    		$('#volume_backendNetwork_2ControlGroup').show();
		}
		else{
			$('#volume_haControlGroup').hide();
			$('#volume_arrayTypeForVplexControlGroup').hide();
			$('#volume_vplexIdControlGroup').hide();
			$('#volume_ipAddressForHAControlGroup').hide();
			$('#volume_poolForHAControlGroup').hide();
			$('#volume_backendNetwork_1ControlGroup').hide();
			$('#volume_haBackendNetwork_1ControlGroup').hide();
			$('#volume_backendNetwork_2ControlGroup').hide();
			$('#volume_haBackendNetwork_2ControlGroup').hide();

		}
	}

	function systemTypeChanged(systemType, systemName, storagePool){
 		var type = systemType.val(); 
		if(type != "vplex"){
			var handler = function(data, textStatus, jqXHR) {
			  systemName.empty();
            		  for (var i = 0; i < data.length; i++) {
                	   	var option ='<option value="'+data[i].id+'"';
                 	   	option += '>'+data[i].name+'</option>';
                	   	systemName.append(option);
            		  }
            		  systemName.trigger('chosen:updated');
            		  loadstoragePool(storagePool, systemName);
            		  triggerSelectUpdated(ipSelectId);
        		};
        		var url = "@{getIpFromType()}";
			$.get(url,"type="+type, handler,'json' );
		}
		else{
			systemTypeChangedForVplex();
      		}
	}
	
	function loadstoragePool(storagePool, systemName) {
		var handler = function(data, textStatus, jqXHR) {
			storagePool.empty();
            		for (var i = 0; i < data.length; i++) {
               	 		var option ='<option value="'+data[i].id+'"';
                		option += '>'+data[i].name+'</option>';
                		storagePool.append(option);
            		}
            		storagePool.trigger('chosen:updated');
            		triggerSelectUpdated(storagePool);
        	};
        	var type = systemName.val();
		var url = "@{getPoolsFromSystem()}";
		$.get(url,"id="+type, handler,'json' );
	}
	
	function loadNetworkSystem(networkSystem) {
		var handler = function(data, textStatus, jqXHR) {
			networkSystem.empty();
            		for (var i = 0; i < data.length; i++) {
                		var option ='<option value="'+data[i].id+'"';
                		option += '>'+data[i].name+'</option>';
                		networkSystem.append(option);
            		}
            		networkSystem.trigger('chosen:updated');
            		triggerSelectUpdated(networkSystem);
           
        	};
        	var type = $('#volume_ipAddress').val();
		var url = "@{getNetworksFromSystem()}";
		$.get(url,"id="+type, handler,'json' );
	
	}
	
	function availabilityChanged() {
		var hatype = $('#volume_ha').val();
        	if(hatype=="vplex_distributed") {
        		$('#volume_ipAddressForHAControlGroup').show();
        		$('#volume_poolForHAControlGroup').show();
           		$('#volume_haBackendNetwork_1ControlGroup').show();
           		$('#volume_haBackendNetwork_2ControlGroup').show();
           		$('#volume_varrayForHAControlGroup').show();
           		$('#volume_vpoolForHAControlGroup').show();
          	}
	  	else {
        		$('#volume_ipAddressForHAControlGroup').hide();
        		$('#volume_poolForHAControlGroup').hide();
           		$('#volume_haBackendNetwork_1ControlGroup').hide();
           		$('#volume_haBackendNetwork_2ControlGroup').hide();
           		$('#volume_varrayForHAControlGroup').hide();
           		$('#volume_vpoolForHAControlGroup').hide();
          	}
	}
