#{extends 'layout.html' /}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.workflowDesigner'] /}
#{set 'moreScripts'}
#{set 'customDocLink'}
<a id="docLink" href="#">
    #{icon 'question-sign'/} &{'nav.help'}
</a>
#{/set}
#{/set}

#{tenantSelector /}

#{alerts disappear:true /}
#{if error}
<p id="alerts_error" class="alert alert-danger">
    ${error}
</p>
#{/if}

#{script 'jquery.panzoom.js'/}
#{script 'jquery-ui.js'/}
#{script 'jsPlumb-2.1.7.js'/}
#{script 'workflowdesigner.js'/}
<div>
    <div id="theSidebar" class="sidebar">
        <div class="row" style="margin-top: 55px;text-align:center;">
            <div class="item draggable-step">
                <span class="itemText">I am a very simple card.</span>
            </div>
        </div>
        <div class="buttonbar">
            <input id="Export" type="button" value="Export" onclick="saveJSON();" />
            <input id="Import" type="button" value="Import" onclick="loadJSON();" />
            <input id="Import2" type="button" value="Import No Position" onclick="loadJSONNoPosition();" />
            <input id="reset" type="button" value="reset" onclick="reset();" />
        </div>
    </div>
    <div id="sb-site" class="exampleEditor">

        <div class="row">
            <div class="col s12" style="padding: 0 !important;">
                <div class="parent">
                    <div id="diagramContainer">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>