#{extends 'main.html' /}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.workflowDesigner'] /}
#{set 'moreScripts'}
#{set 'customDocLink'}
<a id="docLink" href="#">
    #{icon 'question-sign'/} &{'nav.help'}
</a>
#{/set}
#{/set}

#{tenantSelector /}

#{alerts disappear:true /}
#{if error}
<p id="alerts_error" class="alert alert-danger">
    ${error}
</p>
#{/if}

<!script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/2.0.5/jquery.panzoom.min.js"><!/script>

<!script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"><!/script>

<!script type="text/javascript" src="https://jsplumbtoolkit.com/lib/jsPlumb-2.1.7.js"><!/script>

#{script 'jquery.panzoom.js'/}
#{script 'jquery-ui.js'/}
#{script 'jsPlumb-2.1.7.js'/}
#{script 'workflowdesigner.js'/}
<div>
    <div id="theSidebar" class="sidebar">
        <div class="row" style="margin-top: 55px;text-align:center;">
            <div class="item draggable-card">
                <span class="itemText">I am a very simple card.</span>
            </div>
        </div>
        <div class="buttonbar">
            <input id="Export" type="button" value="Export" onclick="saveJSON();" />
        </div>
    </div>
    <div id="sb-site" class="exampleEditor">

        <div class="row">
            <div class="col s12" style="padding: 0 !important;">
                <div class="parent">
                    <div id="diagramContainer">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>