#{Modal.dialog id:'approveEvent'}
  #{Modal.header}
    <h4 class="modal-title">&{'resources.events.approveEvent'}</h4> 
  #{/Modal.header}
  #{form @Events.approveEvents(), id:'createForm', class:'form form-horizontal'}
    #{Modal.body}
      #{if event == null }
      <input type="hidden" name="ids" data-gather-selected-ids-for="events" />
      #{/if}
      #{else}
      <input type="hidden" name="ids" value="${event.id}" />
      #{/else}
      <p>&{'resources.events.approve'}</p>
      #{field 'confirm'}
        %{ field.label = messages.get('resources.events.confirm') }%
        #{Form.inputTextControlGroup field:field/}
      #{/field}
    #{/Modal.body}
    #{Modal.footer}
      #{Modal.buttonBar}
        #{Form.button 'resources.events.approveEvents', class:'primary', icon:'ok-sign', type:'submit'/}
      #{/Modal.buttonBar}
    #{/Modal.footer}
  #{/form}
#{/Modal.dialog}
