<dl class="dl-horizontal">

  <dt>&{'events.approveDetails'}:</dt>
  <dd>
    #{list approveDetails, as:'detail'}
       <li> ${detail}
    #{/list}
  </dd>

  <dt>&{'events.declineDetails'}:</dt>
  <dd>
    #{list declineDetails, as:'detail'}
       <li> ${detail}
    #{/list}
  </dd>

  #{if event.eventStatus != 'pending'}
  <dt>&{'events.tasks'}:</dt>
  <dd>
    #{list tasks, as:'task'}
      <a href="@{Tasks.details(task.id)}">${task.name}</a>#{if !task_isLast}, #{/if}
    #{/list}
    #{else}&nbsp;#{/else}
  </dd>
  #{/if}
  
  #{if event.eventExecutionTime != null}
	  <dt>&{'events.executionTime'}:</dt>
	  <dd id="executionTime">{{getLocalDateTime($('#executionTime'),event.eventExecutionTime)}}&nbsp;</dd>
  #{/if}

</dl>
