<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %t [%c{1}] %m%n" />
        </layout>
    </appender>

    <logger name="com.emc.storageos.usermanagement">
        <level value ="info"/>
    </logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>


</log4j:configuration>