#{extends 'layout.html' /}
#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function() {
        NAV.createMenu('BODY');
    });
</script>
#{get 'moreScripts'/}
#{/set}
<body>
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="@{Dashboard.index()}">#{Branding.applicationName/}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">&{'navigation.toggle'}</span><span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        #{get 'navBarRight' /}

        #{viprSystemTasks/}
	    #{nav.vdcMenu vdcs:vdcs, token:token/}   
        <li id="nav_help">
          #{if customDocLink}
            #{get 'customDocLink'/}
          #{/if}
          #{else}
            <a href="${util.DocUtils.getDocumentationLink()}" target="_blank">
              #{icon 'question-sign'/} &{'nav.help'}
            </a>
          #{/else}
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{icon 'user'/} ${currentUser?.commonName} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            #{nav.item 'preferences', href:@Preferences.update()/}
            #{if controllers.security.Security.isLocalUser()}
                #{nav.item 'password', href:@security.ChangePassword.update()/}
            #{/if}
            <li class="divider"></li>
            #{nav.item 'logout', href: @security.Security.logout()/}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

#{nav.mainMenu}

  *{ DASHBOARD }*
  #{deadbolt.restrict roles:[['SYSTEM_AUDITOR'],['SYSTEM_ADMIN'],['RESTRICTED_SYSTEM_ADMIN'],['SYSTEM_MONITOR']]}
    #{nav.menu 'adminDashboard', icon:'vipricon-dashboard'}
        #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN'], ['SYSTEM_MONITOR'], ['SYSTEM_AUDITOR']]}
          #{nav.menuSection 'nav.adminDashboard'}
            #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN'], ['SYSTEM_MONITOR']]}
              #{nav.item 'adminDashboardPage', href: @AdminDashboard.dashboard()/}
              #{nav.item 'systemHealthDashboard', href: @SystemHealth.systemHealth()/}
               #{nav.item 'backup', href: @Backup.list()/}
              #{if controllers.SystemHealth.isNodeRecoveryEnabled()}
                #{nav.item 'systemNodeRecovery', href: @SystemHealth.nodeRecovery()/}
              #{/if}
              #{nav.item 'dbHealthDashboard', href: @SystemHealth.dbHealth()/}
              #{nav.item 'systemHealthLogs', href: @SystemHealth.logs()/}
            #{/deadbolt.restrict}
            #{deadbolt.restrict roles:[['SYSTEM_AUDITOR']]}
              #{nav.item 'auditLog', href: @infra.AuditLog.list()/}
            #{/deadbolt.restrict}
          #{/nav.menuSection}
        #{/deadbolt.restrict}
    #{/nav.menu}
  #{/deadbolt.restrict}      
  
  *{ PHSYICAL ASSETS }*
  #{deadbolt.restrict roles:[['SYSTEM_ADMIN'],['RESTRICTED_SYSTEM_ADMIN'], ['TENANT_ADMIN']]}
      #{nav.menu 'assets', icon:'vipricon-physicalassets'}
        #{nav.menuSection 'nav.assets'}  
          #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
            #{license.ifController}
              #{nav.item 'storageArrays', href: @arrays.StorageSystems.list()/}
              #{nav.item 'storageProviders', href: @arrays.StorageProviders.list()/}
              #{nav.item 'dataProtectionSystems', href: @arrays.DataProtectionSystems.list()/}
              #{nav.item 'SANSwitches', href: @arrays.SanSwitches.list()/}
              #{nav.item 'networks', href: @arrays.Networks.list()/}
              #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
                #{nav.separator/}
              #{/deadbolt.restrict}
            #{/license.ifController}
          #{/deadbolt.restrict}
          #{license.ifController}
            #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
              #{nav.item 'computeImages', href: @compute.ComputeImages.list()/}
              #{nav.item 'computeImageServers', href: @compute.ComputeImageServers.list()/}
              #{nav.item 'computeSystems', href: @compute.ComputeSystems.list()/}
            #{/deadbolt.restrict}
            #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
              #{nav.item 'hosts', href: @compute.Hosts.list()/}
              #{nav.item 'hostClusters', href: @compute.HostClusters.list()/}
            #{/deadbolt.restrict}
            #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['TENANT_ADMIN']]}
              #{nav.item 'vcenters', href: @compute.VCenters.list()/}
            #{/deadbolt.restrict}
          #{/license.ifController}
          #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
            #{nav.separator/}
            #{nav.item 'customConfigs', href:@arrays.CustomConfigs.list()/}
          #{/deadbolt.restrict}
        #{/nav.menuSection}
      #{/nav.menu}
  #{/deadbolt.restrict}
  
  *{ VIRTUAL ASSETS }*
  #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN'], ['SECURITY_ADMIN'], ['SYSTEM_MONITOR']]}
    #{nav.menu 'virtualStorage', icon:'vipricon-virtualassets'}
      #{nav.menuSection 'nav.virtualStorage'}  
        #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
          #{nav.item 'virtualArrays', href: @VirtualArrays.list()/}
          #{license.ifController}
            #{nav.separator/}
            #{nav.item 'block.virtualPools', href: @arrays.BlockVirtualPools.list()/}
            #{nav.item 'file.virtualPools', href: @arrays.FileVirtualPools.list()/}
            #{nav.item 'object.virtualPools', href: @arrays.ObjectVirtualPools.list()/}
            #{nav.item 'computeVirtualPools', href: @compute.ComputeVirtualPools.list()/}
          #{/license.ifController}
        #{/deadbolt.restrict}
        #{nav.item 'vdcs', href: @infra.VirtualDataCenters.list()/}
      #{/nav.menuSection}  
    #{/nav.menu}
  #{/deadbolt.restrict}

  *{ SERVICE CATALOG }*
  #{nav.menu 'catalog', icon:'vipricon-catalog'}
    #{nav.menuSection 'nav.catalog'}
      #{nav.item 'recent', href: @Dashboard.recentActivity() /}
      #{nav.separator/}
      #{nav.item 'viewCatalog', href: @catalog.ServiceCatalog.view()/}
      #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
          #{nav.item 'editCatalog', href: @catalog.EditCatalog.edit() /}
      #{/deadbolt.restrict}              
      #{nav.separator/}
      #{nav.item 'viewOrders', href: @catalog.Orders.list()/}
      #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
        #{nav.item 'allOrders', href: @catalog.Orders.allOrders()/}
        #{nav.item 'pendingOrders', href: @catalog.ScheduledOrders.list()/}
      #{/deadbolt.restrict}
      #{deadbolt.restrict roles:[['TENANT_APPROVER']]}
        #{nav.item 'approvals', href: @catalog.Approvals.index()/}
      #{/deadbolt.restrict}
    #{/nav.menuSection}                      
  #{/nav.menu}     
  
  *{ RESOURCES }*   
  #{license.ifController}
    #{nav.menu 'storage', icon:'vipricon-resources'}
      #{nav.menuSection 'nav.storage'}   
        #{nav.item 'block.volumes', href: @resources.BlockVolumes.volumes()/}
        #{nav.item 'block.snapshots', href: @resources.BlockSnapshots.snapshots()/}
        #{nav.item 'block.exportgroups', href: @resources.BlockExportGroups.exportGroups()/}
        #{nav.separator/}
        #{nav.item 'file.filesystems', href: @resources.FileSystems.fileSystems()/}
        #{nav.item 'file.snapshots', href: @resources.FileSnapshots.snapshots()/}
         #{nav.item 'file.vnasservers', href: @resources.VirtualNasServers.vNasServers()/}
        #{nav.separator/}
        #{nav.item 'object.buckets', href: @resources.ObjectBuckets.buckets()/}
        #{nav.separator /}
        #{nav.item 'tasks', href: @Tasks.listAll()/}
      #{/nav.menuSection}
    #{/nav.menu}
  #{/license.ifController}   
  
  *{ TENANT }*
  #{deadbolt.restrict roles:[['PROJECT_ADMIN'], ['TENANT_ADMIN'], ['SECURITY_ADMIN']]}
    #{nav.menu 'tenantsettings', icon:'vipricon-settingsv3'}
      #{nav.menuSection 'nav.tenantsettings'}   
        #{deadbolt.restrict roles:[['ROOT_TENANT_ADMIN'], ['TENANT_ADMIN'], ['SECURITY_ADMIN']]}
          #{nav.item 'tenants', href:@tenant.Tenants.list() /}
          #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
            #{nav.separator/}
          #{/deadbolt.restrict}
        #{/deadbolt.restrict}            
        #{deadbolt.restrict roles:[['TENANT_ADMIN'], ['PROJECT_ADMIN']]}
          #{nav.item 'projects', href: @tenant.Projects.list()/}
          #{license.ifController}
            #{nav.item 'consistencygroups', href: @resources.ConsistencyGroups.list()/}
          #{/license.ifController}
          #{deadbolt.restrict roles:[['TENANT_ADMIN']]}
            #{nav.separator/}
            #{nav.item 'windows', href: @catalog.ExecutionWindows.show()/}
            #{nav.item 'approvalConfig', href: @catalog.ApprovalConfiguration.edit()/}
          #{/deadbolt.restrict}
        #{/deadbolt.restrict}  
      #{/nav.menuSection}            
    #{/nav.menu}      
  #{/deadbolt.restrict}    
  
  *{ SECURITY }*    
  #{deadbolt.restrict roles:[['SECURITY_ADMIN'],['RESTRICTED_SECURITY_ADMIN'], ['TENANT_ADMIN']]}
    #{nav.menu 'security', icon:'vipricon-security'}
      #{nav.menuSection 'nav.security'}

        #{deadbolt.restrict roles:[['SECURITY_ADMIN'], ['RESTRICTED_SECURITY_ADMIN']]}
        #{nav.item 'vdcRoles', href: @auth.VDCRoleAssignments.list()/}
        #{/deadbolt.restrict}

        #{deadbolt.restrict roles:[['SECURITY_ADMIN']]}
        #{nav.item 'providers', href: @auth.LDAPsources.list()/}
        #{/deadbolt.restrict}

        #{deadbolt.restrict roles:[['SECURITY_ADMIN'], ['TENANT_ADMIN']]}
        #{if util.VCenterUtils.checkCompatibleVDCVersion(controllers.auth.UserGroup.EXPECTED_GEO_VERSION)}
            #{nav.item 'userGroups', href: @auth.UserGroup.list()/}
        #{/if}	
        #{/deadbolt.restrict}

        #{deadbolt.restrict roles:[['SECURITY_ADMIN']]}
        #{nav.item 'localPasswords', href: @infra.ConfigProperties.passwords()/}
        #{nav.item 'keystores', href: @auth.Keystores.updateCertificate()/}
        #{nav.item 'certificates', href: @auth.Certificates.list() /}
        #{/deadbolt.restrict}

      #{/nav.menuSection}
    #{/nav.menu}
  #{/deadbolt.restrict}
  
  *{ SETTINGS }*
  #{deadbolt.restrict roles:[['SECURITY_ADMIN'],['RESTRICTED_SECURITY_ADMIN'], ['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
    #{nav.menu 'settings', icon:'vipricon-settings'}
      #{nav.menuSection 'nav.settings'} 
        #{deadbolt.restrict roles:[['SECURITY_ADMIN'], ['RESTRICTED_SECURITY_ADMIN']]}
            #{nav.item 'properties', href: @infra.ConfigProperties.properties()/}
            #{if controllers.infra.ClusterInfo.isVMwareVapp()}
            	#{nav.item 'clusterInfo', href: @infra.ClusterInfo.clusterIpInfo()/}
            #{/if}
          #{/deadbolt.restrict}
          #{deadbolt.restrict roles:[['SYSTEM_ADMIN'], ['RESTRICTED_SYSTEM_ADMIN']]}
            #{deadbolt.restrict roles:[['SECURITY_ADMIN'], ['RESTRICTED_SECURITY_ADMIN']]}
              #{nav.separator/}
            #{/deadbolt.restrict}
            #{nav.item 'upgrade', href: @infra.Upgrade.index()/}
            #{if !util.SetupUtils.isOssBuild()}
                #{nav.item 'license', href: @infra.Licensing.index()/}
                #{nav.item 'supportRequest', href: @infra.SupportRequest.createSupportRequest()/}
            #{/if}
        #{/deadbolt.restrict}
      #{/nav.menuSection} 
    #{/nav.menu}
  #{/deadbolt.restrict}

#{/nav.mainMenu}
#{get 'menu'/}

#{nav.contentArea}
  #{get 'breadcrumbs'/}
  #{doLayout /}
#{/nav.contentArea}
</body>
