
#{extends 'layout.html' /}
<body class="wLeftNav">
  <header>
    <nav id="ECUEtopBanner" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="@{Dashboard.index()}">#{Branding.applicationName/}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          #{get 'navBarRight' /}
          <li id="colWiz">
            <div href>
              <!--#{icon 'glyphicon-list-alt'/} &{'nav.wizard'}-->
            </div>

          </li>
          <li id="nav_help">
            #{if customDocLink}
              #{get 'customDocLink'/}
            #{/if}
            #{else}
              <a href="${util.DocUtils.getDocumentationLink()}" target="_blank">
                #{icon 'question-sign'/} &{'nav.help'}
              </a>
            #{/else}
          </li>      
        </ul>
      </div>
    </nav>
  </header>
  #{get 'navBarLeft'/}
  <div class="container">
    #{get 'breadcrumbs'/}
    #{doLayout /}
  </div>
</body>
