#{extends 'main.html'/}
#{set navSelected: ['nav.adminDashboard', 'nav.dbHealthDashboard'] /}
#{set 'moreScripts'}
#{get 'moreScripts'/}

 <div id="dbStatusMain">
 #{include 'SystemHealth/dbstatuspart.html'/}
</div>

<script>

$(document).ajaxSuccess(function() {
	render.dbstatus('#dbState',$('#dbState').data('state'));
	 //$('#knobDiv').empty();
	$('#knobDiv').append("<knob warn=\"value < (max * 0.1)\" danger=\"value < (max * 0.3)\" value=\"progress\" max =\"100\"></knob>");
});

$(document).ready(function() {
	render.dbstatus('#dbState',$('#dbState').data('state'));	
	loadDbStatus();
});

function loadDbStatus() {
	var uri = "@{dbHealth()}";
    	$.ajax({
    		method: "get",
    		url: uri,
    		dataType: "html",
    		success: function(ret) {
    			 //$("#dbStatusMain").html(ret);
    			startUpdating('@{SystemHealth.dbHealth()}','dbStatusMain',50000);
    		}
    	});
}

function startUpdating(url, contentId, delayInSeconds) {
	
	var content = DynamicContent();
 	content.watchValue(contentId);
	var update = function() {
		$.get(url, function(data) {
			//alert(data.substring(data.indexOf('<div class="container" id="databaseStatus">'),data.indexOf('<span id="test"></span>')));
			 var newData = $('<div></div>').html(data);
// 			 alert(data);
            // content.update(newData);
              $('#'+contentId).empty();
                $('#'+contentId).append(data);
              
               //$('#knobDiv').append("<knob warn=\"value < (max * 0.1)\" danger=\"value < (max * 0.3)\" value=\"progress\" max =\"100\"></knob>");
			window.setTimeout(update, delayInSeconds);
	});
};
update();
}
</script>
#{/set}