#{extends 'main.html'/}
#{set navSelected: ['nav.adminDashboard', 'nav.dbHealthDashboard'] /}
<div class="page-header">
  <h3>{{'db.healthdashboard.title' | t}}</h3>
</div>

<div class="row">
  <div class="col-md-12">
  <table class="table">
  	<tbody>
  		<tr>
  			<br/>
  		</tr>
  	</tbody>
  </table>
  </div>
</div>

#{if dbstatus.status.toString() =='IN_PROGRESS'}
<div class="alert alert-info">{{'dbstatus.inprogress.info' | t}}</div>
#{/if}

<div class="col-md-1 ">
    <knob warn="value < (max * 0.1)" danger="value < (max * 0.3)" value="progress" max ="100" ></knob>
 </div>

 <div class="row">
  <div class="col-md-12">
    <div class="dbstats">
      <table class="table table-condensed table-striped">
        <tbody>
        <tr>
        <tr>
          <td class="status">{{'dbstatus.status' |t}}</td>
          <td><span id="dbState" data-state=${health}></span></td>
        </tr>  
        </tr>
        #{if dbstatus.status.toString()!='NOT_STARTED'}
        #{if startTime} 
          <tr>                  
            <td class="name">{{'health.start' | t}} </td>
            <td id="start" class="time"></td>
          </tr>
           	<script>
        		var starttime = '${startTime}';        		
        		$('#start').append(formatLocalDateTime(new Date(starttime)));
 			</script>
          #{/if}
          #{/if}
          #{if dbstatus.status.toString()=='SUCCESS'}
          #{if endTime}
          <tr>         
           	<td class="end">{{'health.end' |t}}</td>
          	<td id="end" class="endTime"></td>
          </tr>
          	<script>
        		var endtime = '${endTime}';
        		$('#end').append(formatLocalDateTime(new Date(endtime)));
 		  </script>
          #{/if}
          #{/if}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
	render.dbstatus('#dbState',$('#dbState').data('state'));
});
</script>
