#{extends 'main.html'/}
#{set navSelected: ['nav.adminDashboard', 'nav.dbHealthDashboard'] /}
<div class="page-header">
  <h3>{{'db.healthdashboard.title' | t}}</h3>
</div>
<div class="row">
  <div class="col-md-12">
  <table class="table">
  	<tbody>
  		<tr>
  			<br/>
  		</tr>
  	</tbody>
  </table>
  </div>
</div>
<div class="col-md-1 ">
    <knob warn="value < (max * 0.1)" danger="value < (max * 0.3)" value="progress" max ="100" ></knob>
 </div>
 
 <div class="row">
  <div class="col-md-12">
    <div class="dbstats">
      <table class="table table-condensed table-striped">
        <tbody>
        #{if dbstatus.status.toString()!='NOT_STARTED'}
          <tr >
            <td class="name">{{'health.start' | t}} </td>            
            <td class="time">{{startTime}}</td>
          </tr>
          #{/if}
          #{if dbstatus.status.toString()=='SUCCESS'}
          <tr>
           	<td class="end">{{'health.end' |t}}</td>
          	<td class="endTime">{{endTime}}</td>
          </tr>
          #{/if}
        </tbody>
      </table>
    </div>
  </div>
</div>
 