
<div class="container">
    
    <div id="clusterHealthPanel">
        #{include 'SystemHealth/clusterHealth.html'/}
    </div>
           
	<div>
	<h4>&{'nodeRecovery.steps.heading'}</h4>
		&{'nodeRecovery.steps.lists'}
	</div>
	<p>

    <div id="message"></div>
    #{form @SystemHealth.startNodeRecovery()}
        <button id="startNodeRecoveryBtn" class="btn btn-primary"> &{'systemHealth.startNodeRecovery'}</button>
    #{/form}

    <div id="recoveryResults">
      <table style="margin-top:25px;width:100%">
          <caption style="display: table-caption;text-align: left;"><h3>&{'nodeRecovery.status.heading'}</h3></caption>
		  <tr>
		    <th>&{'nodeRecovery.status'}</th>
		    <th>&{'nodeRecovery.start.time'}</th> 
		    <th>&{'nodeRecovery.end.time'}</th>
		  </tr>
		  <tr>
		    <td>
		      <div id="recStatus" style="display:block">
		  	    <status id="recoveryStatus"></status>
		      </div>
		      <div id="recStatusAnim" style="display:none">
		  	    <status id="recoveryStatusAnim"></status>#{loading/}
		      </div>
		    </td>
		    <td><span id="startTime"></span></td> 
		    <td><span id="endTime"></span></td>
		  </tr>
	  </table>
	</div>
    
    <div id="errorHistory" style="display:none">
	    <table style="margin-top:25px;width:100%">
	      <tr>
	        <td><status id="errorMsg"></status></td>
	        <td><status id="errorTime"></status></td>
	        <td><status id="errorResult"></status></td>
	      </tr>
	    </table>
    </div>
		
	<p>
	<p>
		
	<div id="download">
	#{form @SystemHealth.downloadConfigParameters()}
	    <button id="startConfigDownload" class="btn btn-primary"> &{'systemHealth.downloadConfigParameters'}</button>
	#{/form}
	</div>
</div>
