#{extends 'main.html'/}
#{set navSelected: ['nav.settings', 'nav.systemNodeRecovery'] /}
#{set 'moreScripts'}
#{get 'moreScripts'/}


<div class="container">

    #{Form.header titleKey:'nodeRecovery.noderecoveryVapp.title' /}
    #{alerts/}
    <p>
    <div id="clusterHealthPanel">
        #{include 'SystemHealth/clusterHealth.html'/}
    </div>
    <div id="precheck_message">${precheckMsg}</div>
    <div id="message"></div>
    #{form @SystemHealth.startNodeRecovery()}
    <button id="startNodeRecoveryBtn" class="btn btn-primary"> &{'systemHealth.startNodeRecovery'}</button>
    #{/form}
    <div id="recoveryResults">
        <table style="margin-top:25px;width:100%">
            <caption style="display: table-caption;text-align: left;"><h3>&{'nodeRecovery.status.heading'}</h3></caption>
            <tr>
                <th>&{'nodeRecovery.status'}</th>
                <th>&{'nodeRecovery.start.time'}</th>
                <th>&{'nodeRecovery.end.time'}</th>
            </tr>
            <tr>
                <td>
                    <div id="recStatus" style="display:block">
                        <status id="recoveryStatus"></status>
                    </div>
                    <div id="recStatusAnim" style="display:none">
                        <status id="recoveryStatusAnim"></status>#{loading/}
                    </div>
                </td>
                <td><span id="startTime"></span></td>
                <td><span id="endTime"></span></td>
            </tr>
        </table>
    </div>
    <div id="errorHistory" style="display:none">
        <table style="margin-top:25px;width:100%">
            <tr>
                <td><status id="errorMsg"></status></td>
                <td><status id="errorTime"></status></td>
                <td><status id="errorResult"></status></td>
            </tr>
        </table>
    </div>

</div>

<script>

    $(document).ready(function() {

        loadRecoveryStatus();
    });
    function renderRecoveryStatus(precheckstatus, status, startime, endtime, errorcode){
        $('#recStatusAnim').unbind('click');
        var clusterState = $('#clusterState').data('state');
        (startime) ? $('#startTime').append(formatLocalDateTime(new Date(startime))) : $('#startTime').append("NA");
	    (endtime) ? $('#endTime').append(formatLocalDateTime(new Date(endtime))) : $('#endTime').append("NA");
    	if (!status && !endtime) {
    		// Node Recovery has never run.
    		$('#recoveryResults').css('display','none');
            $('#errorHistory').css('display','none');
            $('#message').css('display','none');
    		if (precheckstatus == 'RECOVERY_NEEDED' && clusterState && clusterState != 'UPDATING'){
                $('#startNodeRecoveryBtn').prop("disabled", false);
            } else {
                $('#startNodeRecoveryBtn').prop("disabled", true);
            }

    	}
    	else if (endtime && (!status || status == 'DONE' || status == 'FAILED')) {
    		// Node recovery is not running now but it has in the past.
    		$('#recoveryResults').css('display','none');
            $('#errorHistory').css('display','block');
            $('#message').css('display','none');

    		if (status == 'DONE') {
    			var doneMsg = Messages.get("renderFunctions.recovery.result.done");
    			$('#errorMsg').html("<span>" + doneMsg + formatLocalDateTime(new Date(endtime)) + ".</span>");
    		}
    		else if (status == 'FAILED') {
    			var failedMsg = Messages.get("renderFunctions.recovery.result.failed");
    			$('#errorMsg').html("<span>" + failedMsg + formatLocalDateTime(new Date(endtime)) + ".</span>");

                var reasonMsg = Messages.get("renderFunctions.recovery.result.reason");
    			$('#errorResult').html("<span>" + reasonMsg + errorcode + "</span>");
    		}
            if(precheckstatus == 'RECOVERY_NEEDED' && clusterState && clusterState != 'UPDATING'){
                $('#startNodeRecoveryBtn').prop("disabled", false);
            } else {
                $('#startNodeRecoveryBtn').prop("disabled", true);
            }
    	}
    	else {
            $('#recoveryResults').css('display','block');
            $('#errorHistory').css('display','none');
            $('#message').css('display','none');

	        render.recoveryStatus('#recoveryStatus', status);
	        render.recoveryStatus('#recoveryStatusAnim', status);

	        render.recoveryErrorStatus("#errorCode", errorcode)

	        if (status == 'INIT' || status == 'PREPARING' || status == 'SYNCING' || status == 'REPAIRING') {
	            // If recovery is running, the Start Node Recovery should be disabled (always).
	            $('#startNodeRecoveryBtn').prop("disabled", true);
	            $('#message').css('display','block');
	            document.getElementById("message").innerHTML = "${recoveringMsg}";
	            $('#recStatus').css('display','none');

	            $('#recStatusAnim').css({
	                'display': 'block',
	                'cursor' : 'auto'
	             });

	            if(status == 'REPAIRING') {
                    $('#recStatusAnim').click(function(){
                        window.location.href="/systemhealth/dbhealth";
                    });
                    $('#recStatusAnim').css('cursor', 'pointer');
	            }
	    	 } else {
	           // Recovery is not running, enable Start Node Recovery if cluster is not stable.
	           if(precheckstatus == 'RECOVERY_NEEDED' && clusterState != 'UPDATING'){
	               $('#startNodeRecoveryBtn').prop("disabled", false);
	           } else {
	               $('#startNodeRecoveryBtn').prop("disabled", true);
	               }
	           $('#recStatus').css('display','block');
	           $('#recStatusAnim').css('display','none');
	            $('#message').css('display','none');
	    	 }
    	}
    }

    function startUpdating(url, contentId, delayInSeconds) {
        var content = DynamicContent();
        content.watchValue(contentId);

        var delay = delayInSeconds * 1000;
        var update = function() {
            $.get(url, function(data) {
            	console.log("Updating: " + url);
                $('#'+contentId).empty();
                $('#'+contentId).append(data);
                window.setTimeout(update, delay);
            });
        };
        update();
    }

    function getRecoveryStatus(precheckstatus){
		 $.post("@{SystemHealth.getRecoveryStatus}")
	        .done(function(result) {
	        	clearStatusTable();
	            renderRecoveryStatus(precheckstatus,result.status,result.startTime,result.endTime,result.errorCode);
	        });
    }

    function clearStatusTable(){
        $('#recoveryStatus').empty();
        $('#startTime').empty();
        $('#endTime').empty();
        $('#errorCode').empty();

        $('#errCode').css('display','none');
    }
    function loadRecoveryStatus() {
        startUpdating('@{SystemHealth.clusterHealth}', 'clusterHealthPanel', 5);
    	setInterval(function(){getRecoveryStatus("${precheckStatus}");}, 5000);
    	renderRecoveryStatus("${precheckStatus}",
    	                     "${recoveryStatus?.status}",
    					     "${startTime}",
    					     "${endTime}",
    					     "${recoveryStatus?.errorCode}");

    }
</script>
#{/set}
