#{extends 'main.html' /}
#{set navSelected: ['nav.assets', 'nav.dataProtectionSystems'] /}

#{DataTable.header titleKey:'DataProtectionSystems.list.title' /}
#{DataTable.crudTable id:'dataProtectionSystem',
                      dataTable:dataTable,
                      expandable:true,
                      deleteConfirm:messages.get('DataProtectionSystems.deleteConfirm')}
  #{Form.button name:'button.rediscover', class:'info', icon:'repeat', submit:'rediscoverForm', 
  	data:['enabled':'selected', 'property':'discoveryStatus', 'not-value':'IN_PROGRESS']/}
#{/DataTable.crudTable}
#{DataTable.expandHtml @itemDetails(':id'), table:'dataProtectionSystem'/}

#{DataTable.formAction @introspect(), id:'rediscoverForm', table:'dataProtectionSystem'/}

<script type="text/javascript">
table.dataProtectionSystem.dataTable.afterCreate(function(dataTable) {
    var itemsJson = #{jsAction @itemsJson(':ids')/};
    watchDiscoveryStatus(dataTable.getDataTable(), itemsJson, ['version', 'sitePairing']);
});
</script>