#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.app'] /}

#{breadcrumb.container}
  #{breadcrumb.item @blockApplications()}&{'resources.applications'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}${application?.name}#{/breadcrumb.item}
#{/breadcrumb.container}
<script type="text/javascript">
function renderLink(o, val) {
	var data = o.aData;
	var url = #{jsAction @resources.BlockVolumes.volume(':id') /};
    var href = url(data);
    
    return "<a href='"+href+"'>" + val + "</a>";
}

function renderClones(o,val) {
	var data = o.aData;
	var url = #{jsAction @resources.BlockApplications.getAssociatedVolumes(application.id, ':copySet')/}({"copySet": val});
	return "<a href='"+url+"'>" + val + "</a>";
}

function renderSnapshots(o,val) {
	var data = o.aData;
	var url = #{jsAction @resources.BlockApplications.getAssociatedSnapshots(application.id, ':copySet')/}({"copySet": val});
	return "<a href='"+url+"'>" + val + "</a>";
}

function renderSnapsets(o,val) {
	var data = o.aData;
	var url = #{jsAction @resources.BlockApplications.getAssociatedSnapSession(application.id, ':copySet')/}({"copySet": val});
	return "<a href='"+url+"'>" + val + "</a>";
}
</script>
<div class="clear"></div>

<div id="applicationDetails" class="container" style="margin-bottom: 2em;">
#{alerts/}

#{if application}
#{Resources.header resource:application, typeKey: 'affectedResources.application'/}
<div class="col-sm-12">
    <div class="panel-group">
      
        #{collapse 'resources.volumes', noPanelBody: true}
          #{DataTable.table id:'volumeApplication',
                  dataTable:dataTable,
                  source:@applicationVolumeJson(application.id), 
                  cssClass:'editableRows',
                  options:['iDisplayLength': '5']/}
                  
        #{/collapse}
      
    </div>
  </div>
  <div class="col-sm-12">
  #{collapse 'resources.volume.fullcopies', noPanelBody: true}          
          #{DataTable.table id:'cloneApplication',
                  dataTable:cloneDataTable,
                  source:@applicationCloneJson(application.id), 
                  cssClass:'editableRows',
                  options:['iDisplayLength': '5']/}
	#{/collapse}
  </div>
  
  <div class="col-sm-12">
  	#{collapse 'resources.volume.snapshot.sessions',noPanelBody: true}
  		#{DataTable.table id:'snapsessionApplication',
                  dataTable:snapsessionDataTable,
                  source:@applicationSnapSessionJson(application.id), 
                  cssClass:'editableRows',
                  options:['iDisplayLength': '5']/}
	#{/collapse}
	</div>
	
	
	<div class="col-sm-12">
  	#{collapse 'resources.volume.snapshots',noPanelBody: true}
  	#{DataTable.table id:'snapshotApplication',
                  dataTable:snapshotDataTable,
                  source:@applicationSnapshotJson(application.id), 
                  cssClass:'editableRows',
                  options:['iDisplayLength': '5']/}
  	#{/collapse}
  
  </div>
#{/if}
