#{extends 'main.html' /}
#{set navSelected: ['nav.storage', 'nav.app'] /}

#{breadcrumb.container}
  #{breadcrumb.item @blockApplications()}&{'resources.applications'}#{/breadcrumb.item}
  #{breadcrumb.item active:true}${application?.name}#{/breadcrumb.item}
#{/breadcrumb.container}
<script type="text/javascript">
function renderLink(o, val) {
	var data = o.aData;
	var url = #{jsAction @resources.BlockVolumes.volume(':id') /};
    var href = url(data);
    
    return "<a href='"+href+"'>" + val + "</a>";
}

function updateVolumes(oSettings) {
    var count = $('#volumeApplication table').dataTable({ bRetrieve: true }).fnGetData().length;
    
    if (count != '0') {
    	$('#volumesCountBadge').text(count);
    }
  }
  

</script>
<div class="clear"></div>

<div id="applicationDetails" class="container" style="margin-bottom: 2em;">
#{alerts/}

#{if application}
#{Resources.header resource:application, typeKey: 'affectedResources.application'/}
<div class="col-sm-12">
    <div class="panel-group">
      
        #{collapse 'resources.volumes', noPanelBody: true}
          #{DataTable.table id:'volumeApplication',
                  dataTable:dataTable,
                  source:@applicationVolumeJson(application.id), 
                  cssClass:'editableRows',
                  options:['iDisplayLength': '5', 'fnDrawCallback': 'updateVolumes']/}
                  
        #{/collapse}
      
    </div>
  </div>
  <div class="col-sm-12">
  #{collapse 'resources.volume.fullcopies', noPanelBody: true}          
          <table class='table table-condensed table-striped'>
          <thead>
          <tr>
          <th>&{'cloneApplication.cloneGroups'}</th>
          </tr>
          </thead>
          <tbody>
          #{list items:clonesSet, as:'clones'}
          <tr>
          <td><a href="@{resources.BlockApplications.getAssociatedVolumes(application.id,clones)}">${clones}</a></td>
          </tr>#{/list}</table>
	#{/collapse}
  </div>
  
  <div class="col-sm-12">
  	#{collapse 'resources.volume.snapshot.sessions',noPanelBody: true}
  	<table class='table table-condensed table-striped'>
  	<thead><tr>
  	<th>&{'resources.applications.snapshot.sessionSet'}</th>
  	</tr></thead>
  	<tbody>
  	#{list items:sessionSet, as:'snapSet'}
  	<tr>
  	<td><a href="@{resources.BlockApplications.getAssociatedSnapSession(application.id,snapSet)}">${snapSet}</a></td></tr>
	</tr>#{/list}</tbody></table>
	#{/collapse}
	</div>
	
	
	<div class="col-sm-12">
  	#{collapse 'resources.volume.snapshots',noPanelBody: true}
  	<table class='table table-condensed table-striped'>
  	<thead><tr>
  	<th>&{'resources.application.snapSet'}</th>
  	</tr></thead>
  	<tbody>
  	#{list items:snapSets, as:'snapSet'}
  	<tr>
  	<td><a href="@{resources.BlockApplications.getAssociatedSnapshots(application.id,snapSet)}">${snapSet}</a></td></tr>
  	#{/list}
  	</tbody>
  	</table>
  	#{/collapse}
  
  </div>
#{/if}
