[Unit]
Description=CoprHD StorageOS boot-ovfenv service
Wants=local-fs.target
After=local-fs.target
Before=atop.service rsyslog.service networking.service

[Service]
Type=oneshot
ExecStart=-/etc/storageos/boot-ovfenv start
RemainAfterExit=yes
Restart=no
StandardOutput=tty
StandardInput=tty-force
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
