[Unit]
Description=ipsec service

Wants=networking.service storageos-installer.service ipchecktool.service
After=networking.service storageos-installer.service ipchecktool.service ntp.service
ConditionFileNotEmpty=/etc/ipsec.conf
ConditionFileNotEmpty=/etc/ipsec.secrets
ConditionPathExists=/var/run/storageos/bootmode_normal

[Service]
Type=oneshot
ExecStart=/usr/sbin/ipsec start
ExecStop=/usr/sbin/ipsec stop
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target
