[Unit]
Description=StorageOS initial time synchronization
Wants=networking.service
After=networking.service
Before=ntp.service
ConditionPathExists=/var/run/storageos/bootmode_normal

[Service]
Type=oneshot
ExecStart=/etc/storageos/syncntp start
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target
