#{extends 'main.html' /}
#{set navSelected: ['nav.settings', 'nav.storageSystemTypes'] /}

#{Form.header titleKey:'storageSystemTypes.upload.title' /}
#{form @uploadDriver(), enctype:'multipart/form-data', method:'POST', id: 'StorageSystemTypeForm', class:'form form-horizontal', autocomplete:"off"}
     #{field 'deviceDriverFile'}
        #{Form.fileUploadControlGroup field:field/}
     #{/field}
     #{Form.buttonBar}
      	<button type="submit" class="btn btn-default">#{icon 'upload'/} &{'storageSystemTypes.uploadButton'}</button>
     #{/Form.buttonBar}
#{/form}