<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ViPR_design</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>vijay.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>vijay.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage1</display-name>
    <servlet-name>LoginPage1</servlet-name>
    <servlet-class>kishore1.LoginPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage1</servlet-name>
    <url-pattern>/LoginPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage2</display-name>
    <servlet-name>LoginPage2</servlet-name>
    <servlet-class>kishore1.LoginPage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage2</servlet-name>
    <url-pattern>/LoginPage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage10</display-name>
    <servlet-name>LoginPage10</servlet-name>
    <servlet-class>kishore1.LoginPage10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage10</servlet-name>
    <url-pattern>/LoginPage10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogPage1</display-name>
    <servlet-name>LogPage1</servlet-name>
    <servlet-class>vijay.LogPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogPage1</servlet-name>
    <url-pattern>/LogPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Contacts should be fetched from user and should be saved in database. Make an entry in the table</description>
    <display-name>ContactDetails</display-name>
    <servlet-name>ContactDetails</servlet-name>
    <servlet-class>vijay.ContactDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetails</servlet-name>
    <url-pattern>/ContactDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>fetches contact details from user and saves it in database. Makes an entry in the Contact table in UI.</description>
    <display-name>ContactDetail</display-name>
    <servlet-name>ContactDetail</servlet-name>
    <servlet-class>vijay.ContactDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetail</servlet-name>
    <url-pattern>/ContactDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFetch</display-name>
    <servlet-name>ContactFetch</servlet-name>
    <servlet-class>vijay.ContactFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFetch</servlet-name>
    <url-pattern>/ContactFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFetch1</display-name>
    <servlet-name>ContactFetch1</servlet-name>
    <servlet-class>vijay.ContactFetch1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFetch1</servlet-name>
    <url-pattern>/ContactFetch1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFetch5</display-name>
    <servlet-name>ContactFetch5</servlet-name>
    <servlet-class>vijay.ContactFetch5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFetch5</servlet-name>
    <url-pattern>/ContactFetch5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFetch6</display-name>
    <servlet-name>ContactFetch6</servlet-name>
    <servlet-class>vijay.ContactFetch6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFetch6</servlet-name>
    <url-pattern>/ContactFetch6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JayLogPage</display-name>
    <servlet-name>JayLogPage</servlet-name>
    <servlet-class>vijay.JayLogPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JayLogPage</servlet-name>
    <url-pattern>/JayLogPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JayLogpage</display-name>
    <servlet-name>JayLogpage</servlet-name>
    <servlet-class>vijay.JayLogpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JayLogpage</servlet-name>
    <url-pattern>/JayLogpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JayLogPage1</display-name>
    <servlet-name>JayLogPage1</servlet-name>
    <servlet-class>vijay.JayLogPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JayLogPage1</servlet-name>
    <url-pattern>/JayLogPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hackathon_fun_login</display-name>
    <servlet-name>Hackathon_fun_login</servlet-name>
    <servlet-class>vijay.Hackathon_fun_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hackathon_fun_login</servlet-name>
    <url-pattern>/Hackathon_fun_login</url-pattern>
  </servlet-mapping>
</web-app>