#{extends 'main.html' /}
#{set navSelected: ['nav.orders', 'nav.catalog', 'nav.viewCatalog'] /}

#{set 'moreStyles'}
#{get 'moreStyles'/}
<style type="text/css">
.panel-group .panel {
  overflow: visible;
}
#serviceForm table {
  border-top: 1px solid #ddd;
}
#serviceForm table > tbody > tr > td,
#serviceForm table > tfoot > tr > td {
  border-top: 0;
}
#serviceForm table > tbody > tr > td:last-child,
#serviceForm table > thead > tr > th:last-child {
  padding-left:0;
}
.table.collapse.in {
  display: table;
}
.form-group > .controls > table {
  margin-bottom: 0;
}
</style>
#{/set}

#{ifnot service}
  #{alerts/}
#{/ifnot}

#{if service}

  #{set 'title'}${service.title}#{/set}

  #{set 'customDocLink'}
    <a href="${util.DocUtils.getCatalogDocumentationLink(service.baseService)}" target="_blank">
      #{icon 'question-sign'/} &{'nav.help'}
    </a>
  #{/set}

  #{set 'breadcrumbs'}
    #{ServiceCatalog.breadcrumb items:breadcrumbs, baseUrl:@catalog.ServiceCatalog.view(), visible:true /}
  #{/set}

  <div class="container">
    <div class="form-header">
      <div class="image">
        #{ServiceCatalog.serviceImage image:service?.image/}
      </div>
      <div class="description">
    	<h2>{{service.title}}</h2>
    	<p>{{service.description}}</p>
      </div>
      <div style="clear:both"></div>
    </div>
    
    <div class="clear"></div>
    
    #{alerts/}
    
    #{if flash.rawWarning}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        ${flash.rawWarning.raw()}
      </div>
    #{/if}
    
      <!-- asset error -->
      <div class="alert alert-danger hideFast" ng-if="assetError">
          <button type="button" class="close" ng-click="dismissAssetError()" aria-hidden="true">&times;</button>
          <div id="assetErrorMessage" style="white-space: pre-line;">{{assetError}}</div>
      </div>
    
      <form ng-if="showForm" id="serviceForm" name="serviceForm" action="@{catalog.Orders.submitOrder()}" method="post" class="form-horizontal" ng-controller="ServiceFormCtrl">
          #{authenticityToken /}
          <!-- BLOCK COMMENT BEGIN:  
          		to cheat the browser especially the Firefox 
          		not auto filling the username and password, 
          		we give two additional fields to browser to do the auto-filling 
          		so that the browser would give up on other passwords input
             -->
          <input type="text" style="display:none"/>
          <input type="password" style="display:none"/>
          <!-- BLOCK COMMENT END -->
          <input type="hidden" name="serviceId" value="{{service.id}}"/>
          <input type="hidden" name="return" value="{{returnAddress}}"/>
          <input type="hidden" name="category" value="{{category}}">
          <input id="formAction" type="hidden" name="action" value=""/>

          <div class="panel-group">
            <div ng-repeat="item in serviceDescriptor.items | values | unlocked">
              <span ng-switch="item.type">
                <span ng-switch-when="group">
                  <service-group group="item"></service-group>
                </span>
                <span ng-switch-when="table">
                  <service-table table="item"></service-table>
                </span>
                <span ng-switch-when="modal">
			      #{Modal.dialog id:'serviceModal', cssClass:'widest'}
			        #{Modal.body}
			          #{Form.header titleKey:'{{serviceDescriptor.modalTitle}}'/}
			          <!-- asset error -->
				      <div class="alert alert-danger hideFast" ng-if="assetError">
				          <button type="button" class="close" ng-click="dismissAssetError()" aria-hidden="true">&times;</button>
				          <div id="assetErrorMessage" style="white-space: pre-line;">{{assetError}}</div>
				      </div>
			          <service-modal modal="item"></service-modal>
			        #{/Modal.body}
			        #{Modal.footer}
			          <button-bar>
			            <button type="submit" class="btn btn-primary" ng-disabled="disableModalButton()" v-submit-form>
			               <span v-icon=shopping-cart></span>
			              <span ng-if="!isSchedulerEnabled()" >&{"service.order"}</span>
			              <span ng-if="isSchedulerEnabled()" >&{"service.schedule"}</span>
			            </button>
			            #{Form.button 'button.cancel', icon:'primary', data:['dismiss':'modal', 'ng-click':'hideModalDialog()']/}
	                  </button-bar>
			        #{/Modal.footer}
			      #{/Modal.dialog}
			    </span>
                <span ng-switch-default>
                  <service-field field="item"></service-field>
                </span>
              </span>
            </div>
          </div>
  
  		  #{if service.recurringAllowed}	
   		  <collapse title="&{'scheduler.title'}">
   		          <div class="form-group">
				     <label class="control-label col-sm-3" for="schedulerEnabled">&{"scheduler.enabled"}:</label>
				     <div class="col-sm-6 controls">
					     <div class="row col-gap-sm">
					        <div class="col-xs-3">
					        	<input type="checkbox" id="schedulerEnabled" name="schedulerEnabled" value="{{schedulerEnabled}}" ng-model="schedulerEnabled" 
					        	  ng-change="enableScheduler()"/>
					        </div>
					     </div>
				     </div>
				   </div>
				   
  		       	   #{Services.scheduler /}
  		  </collapse> 
  		  #{/if}
  		  
  		  
          <div ng-show="serviceDescriptor.destructive" class="alert alert-warning">
            <span class="label label-warning"><i v-icon='exclamation-sign'></i></span>
            {{'service.destructive' | t}}
          </div>
          <div ng-show="service.approvalRequired" class="alert alert-info">
            <span class="label label-info"><i v-icon='ok'></i></span> {{'service.requiresApproval' | t}}
          </div>
          #{if service.executionWindowRequired}
            #{Services.executionWindow service /}
          #{/if}
          
          <button-bar>
            #{if serviceDescriptor.useModal}
              <button type="button" class="btn btn-primary" ng-disabled="disableSubmitButton()" ng-Click="showModalDialog()">
                <span v-icon=check></span>
                <span>&{"service.preview"}</span>
              </button>
            #{/if}
            #{else}
              <button type="submit" class="btn btn-primary" ng-disabled="disableSubmitButton()" v-submit-form>
                <span v-icon=shopping-cart></span>
                <span ng-if="!isSchedulerEnabled()" >&{"service.order"}</span>
                <span ng-if="isSchedulerEnabled()" >&{"service.schedule"}</span>
              </button>
            #{/else}
            #{Form.button name:'service.cancel', icon:'trash', href:backUrl /}
          </button-bar>

      </form>
      
  </div>
#{/if}
