%{
  state = _state ? _state : _arg
  taskState = null
  if ("READY".equalsIgnoreCase(state)) {
    taskState = "READY"
  }
  else if ("ERROR".equalsIgnoreCase(state)) {
    taskState = "ERROR"
  }
  else if ("PENDING".equalsIgnoreCase(state)) {
    taskState = "PENDING"
  }
  else if ("QUEUED".equalsIgnoreCase(state)) {
    taskState = "QUEUED"
  }
  else if ("SUSPENDED".equalsIgnoreCase(state)) {
    taskState = "SUSPENDED"
  }
}%
#{if taskState == "QUEUED"}
  <span class="glyphicon glyphicon-lock"></span> &{'resources.tasks.queued'}
#{/if}
#{elseif taskState == "PENDING"}
  <span class="glyphicon glyphicon-refresh rotate"></span> &{'resources.tasks.pending'}
#{/elseif}
#{elseif taskState == "READY"}
  <span class="glyphicon glyphicon-ok"></span> &{'resources.tasks.ready'}
#{/elseif}
#{elseif taskState == "ERROR"}
  <span class="glyphicon glyphicon-remove"></span> &{'resources.tasks.error'}
#{/elseif}
#{elseif taskState == "SUSPENDED"}
  <span class="glyphicon glyphicon-refresh rotate"></span> &{'resources.tasks.suspended'}
#{/elseif}
#{else}
  <span class="glyphicon glyphicon-question-sign"></span> &{'resources.tasks.unknown'}
#{/else}